<div class="number-counter">
  <div class="counter-item">
    <h2>{{ numberOfProperties }}</h2>
    <p>Properties</p>
  </div>
  <div class="counter-item">
    <h2>{{ numberOfOTAs }}</h2>
    <p>OTAs</p>
  </div>
  <div class="counter-item">
    <h2>{{ numberOfRooms }}</h2>
    <p>Rooms</p>
  </div>
  <div class="counter-item">
    <h2>{{ numberOfSubscriptions }}</h2>
    <p>Subscriptions</p>
  </div>
  <div class="counter-item">
    <h2>{{ numberOfSpecialFeatures }}</h2>
    <p>Special Features</p>
  </div>
</div>
