
<div class="container termscondition" >


<div class="card">

    <h3 style="text-align: center;">Terms and Conditions of BookOne</h3>
    <b style="font-weight: 500;"> 1. Booking and Reservations: </b>
    <ul class="containsterm">
       <li>BookOne Platform facilitates hotel bookings and reservations. The terms and conditions of your stay,
           including cancellation policies and any additional charges,
           are subject to the policies of the specific hotel you book.</li>

       <li>
           You are responsible for providing accurate and complete information during the booking process.
       </li>
    </ul>

    <b style="font-weight: 500;"> 2. Payment: </b>
    <ul class="containsterm">
       <li>Payment for your accommodation is processed through BookOne Platform.
        You agree to pay all charges associated with your booking, including taxes and fees.</li>

       <li>
        Payment details provided by you must be accurate, valid,
        and you must have the necessary authorization to use them.
       </li>
    </ul>

    <b style="font-weight: 500;"> 3. Cancellation and Refund: </b>
    <ul class="containsterm">
       <li>Cancellation policies vary by hotel.
         Please review the specific hotel's policies before making a booking.</li>

       <li>
        Refund eligibility is determined by the hotel's cancellation policy.
        BookOne Platform is not responsible for any refunds.
       </li>
    </ul>


    <b style="font-weight: 500;"> 4. User Conduct: </b>
    <ul class="containsterm">
       <li>You agree to comply with the rules and policies of the hotel where you stay.</li>

       <li>
        Any misconduct or violation of hotel rules may result in cancellation of your reservation without refund.
       </li>
    </ul>


    <b style="font-weight: 500;"> 5. Check-In and Check-Out:</b>
    <ul class="containsterm">
       <li>Check-in and check-out times are determined by the individual hotel. Please adhere to these times to avoid additional charges.</li>

    </ul>


    <b style="font-weight: 500;"> 6. Changes and Modifications:</b>
    <ul class="containsterm">
       <li>BookOne Platform is not responsible for changes or modifications to your reservation made directly with the hotel.</li>

    </ul>

    <b style="font-weight: 500;"> 7. Guest Reviews:</b>
    <ul class="containsterm">
       <li>You may be invited to provide feedback or reviews of your stay. By submitting reviews,
        you grant BookOne Platform the right to use, reproduce, and display the content.</li>

    </ul>

    <b style="font-weight: 500;"> 8. Limitation of Liability:</b>
    <ul class="containsterm">
       <li>You may be invited to provide feedback or reviews of your stay. By submitting reviews,
        you grant BookOne Platform the right to use, reproduce, and display the content.</li>

    </ul>

    <b style="font-weight: 500;"> 9. Privacy Policy:</b>
    <ul class="containsterm">
       <li> Your use of the BookOne Platform is also governed by our Privacy Policy. Please review our
        Privacy Policy to understand how we collect, use, and disclose information.</li>

    </ul>

    <b style="font-weight: 500;"> 10. Governing Law:</b>
    <ul class="containsterm">
       <li> These Terms and Conditions are governed by and construed in accordance with the laws of Government.
        </li>

    </ul>


    <b style="font-weight: 500;"> 11. Contact Information:</b>
    <ul class="containsterm">
       <li> For any inquiries related to your booking or stay, please contact the hotel directly.</li>
       <li>For general inquiries or assistance, please contact BookOne Platform at reservation@thehotelmate.co</li>

    </ul>

    <b class="containsterm">By booking accommodations through the BookOne Platform, you agree to abide by these Terms and Conditions.
        BookOne Platform reserves the right to update or modify these Terms and Conditions at any time without prior notice.</b>
</div>
</div>
