<div class="main-wrapper">

    <div class="pt-5 mt-4">
        <div class="container-fluid mb-3 pt-5"
            style="background-color: #221950; border-bottom-left-radius: 70%; border-bottom-right-radius: 70%;padding-bottom: 2rem;">
            <h2 class="enquiryh2" style="text-align: center; font-weight: 600 !important;color: white; ">Fill In a Few Details About
                Your
               Property</h2><br>
        </div>
        <div class="container">
            <h5 class="form-header" style="text-align: center">One Step Away From Joining Our Ecosystem </h5>

        </div>


        <div class="row justify-content-center">
            <div class="bar" style="margin-top: 100px;">
                <ng-container *ngFor="let n of [0, 1, 2]"> <!-- Assuming elSet is 3 -->
                    <input class="bar-input" type="radio" name="input" [id]="'input_' + n" />
                    <div class="bar-view">
                        <label class="bar-button" [for]="'input_' + n"></label>
                    </div>
                </ng-container>
            </div>
        </div>

        <div style="width: 83.5%;">
            <div class="row justify-content-end" style="margin-top: 10px;">
                <div>

                    <div>
                        <img class="bar-views" src="assets/images/Polygon 1.png" alt=""
                            style="width: 30px; margin-left: 60px;" />
                    </div>
                    <div class="mini-card" style="margin-bottom: 30px; ">
                        <div style="display: inline-flex;
                                        justify-content: center;
                                        align-items: center;border-radius: 500px;
                                        border: 0.5px solid #221950;
                                      background: #221950;color: #FFF;font-size: 20px;
                                      padding-left: 30px; padding-right: 30px;
                                       padding-top: 10px;  ">

                            <p class="mini-card-title">
                                Room details</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>







        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div style=" margin-top: 100px;
          border-radius: 30px;color: #FFF;
            text-align: center;

            font-size: 20px;
            margin-left: 30px;
            margin-right: 30px;
            font-weight: 700;
            background: #221950; margin-left: 94px;
    margin-right: 94px;"> Business Details</div>

            </div>
        </div>



        <div >
            <form #contactForm=ngForm role="form"
                style="background: #FFF;
          border: 0.5px solid #221950;
          background: #FFF;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); padding: 30px; border-radius: 60px;  margin-top: -13px; margin-bottom: 50px; margin-left: 40px; margin-right: 40px;">
                <div class=" mb-4">


                    <div class="row with-forms">


                        <div class="col-lg-6">
                            <div class="form-group mb-4" style="color: #484848;

                  font-size: 15px;
                  font-weight: 600;">

                                Hotel Name
                                <input style="border-radius: 30px;
                        border: 0.5px solid #221950;
                        background: #EAEAEA;" type="text" name="Credencesoft" [(ngModel)]="businessleadDto.name"
                                    class="form-control" placeholder="Credencesoft" readonly>
                                <br>


                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-4" style="color: #484848;

                            font-size: 15px;
                            font-weight: 600;">

                                Mobile Number
                                <input style="border-radius: 30px;
                      border: 0.5px solid #221950;
                      background: #EAEAEA;" type="text" name="1234567890" class="form-control"
                                    [(ngModel)]="businessleadDto.mobile" placeholder="1234567890" readonly>
                                <br>


                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group mb-4" style="color: #484848;

                font-size: 15px;
                font-weight: 600;">

                                Owner Name
                                <input style="border-radius: 30px;
                      border: 0.5px solid #221950;
                      background: #EAEAEA;" type="text" name="Samaya Kumar Muduli" class="form-control"
                                    [(ngModel)]="businessleadDto.ownerName" placeholder="Owner Name" readonly>
                                <br>


                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group mb-4" style="color: #484848;

                            font-size: 15px;
                            font-weight: 600;">

                                Email ID
                                <input style="border-radius: 30px;
                      border: 0.5px solid #221950;
                      background: #EAEAEA;" type="text" name="credencesoft@gmail.com" class="form-control"
                                    [(ngModel)]="businessleadDto.email" placeholder="credencesoft@gmail.com" readonly>
                                <br>


                            </div>
                        </div>


                    </div>

                    <div class="row justify-content-center">
                        <div>
                            <button style="border-radius: 25px;
                            background: #221950;width: 226px;
                            border: none; color: #FFF;
                            text-align: center;

                            font-size: 20px; padding: 10px;
                            font-weight: 700;" [routerLink]="['/onboardingCouponcode-form']"> Change Details
                            </button>
                        </div>
                    </div>

                </div>
            </form>

        </div>



        <div class="row justify-content-center">
            <div>
                <div style=" margin-top: 50px;
          border-radius: 30px;color: #FFF;
            text-align: center;

            font-size: 20px;
            margin-left: 30px;
            margin-right: 30px;
            font-weight: 700;
            background: #221950;     margin-left: 94px; padding: 9px;
    margin-right: 94px;"> Room Details</div>

            </div>
        </div>


        <div >
            <form #contactForm=ngForm role="form"
                style="background: #FFF;
          border: 0.5px solid #221950;
          background: #FFF;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); padding: 19px; border-radius: 60px;  margin-top: -12px; margin-bottom: 50px; margin-left: 40px; margin-right: 40px;">
                <div>


                    <div class="container">


                        <div class="row">

                            <div class="col" style="color: #484848; margin-top: 30px;

                            font-size: 15px;
                            font-weight: 600;">
                             <div class="input-container">
                                <input class="total-rooms" style="border-radius: 30px;
                                 border: 0.5px solid #221950;
                                 background: #fff;" type="text" name="No of Rooms" class="form-control"
                                    [(ngModel)]="businessleadDto.noOfRooms" placeholder=" Total no of Room Types"
                                    [formControl]="roomNocontrol" required>
                                    </div>


                            </div>
                            <div class="col">
                                <button style="border-radius: 25px;
                            background: #221950;margin-top: 30px;
                            border: none; color: #FFF;
                            text-align: center;

                              font-size: 15px;
                            font-weight: 700; padding: 10px;" (click)="roomnum=businessleadDto.noOfRooms"> Add Room
                                    Category
                                </button>
                            </div>

                        </div>
                        <ng-container>
                            <form>
                                <div class="row my-2" *ngIf="roomnum>0 && roomdetailsarray.length<roomnum">
                                    <div class="col-md-5 col-sm-8 col-12">
                                        <span style="font-weight: 600;">Room Type</span>
                                        <input style="border-radius: 30px; border: 0.5px solid #221950;
                                    background: #fff;" type="text" name="No of Rooms" [(ngModel)]="roomType"
                                            class="form-control" [formControl]="roomTypecontrol"
                                            placeholder="Enter Room type" required>
                                    </div>
                                    <div class="col-md-4 col-sm-8 col-12">
                                        <span style="font-weight: 600;">No. of Rooms</span>
                                        <input style="border-radius: 30px; border: 0.5px solid #221950;
                                    background: #fff;" type="number" name="No of Rooms" [(ngModel)]="roomCount"
                                            class="form-control" [formControl]="roomCountcontrol"
                                            placeholder="Enter No. of Rooms" required>
                                    </div>
                                    <div class="col mt-1 btnsmall" style="align-items: flex-end; display: flex;">
                                        <div class="row">
                                            <div>
                                                <button style="border-radius: 20px;
                                                    background: #221950; padding: 10px; border: none;" type="submit"
                                                    (click)="addmore()"
                                                    *ngIf="!roomTypecontrol.errors && !roomCountcontrol.errors">
                                                    <img src="assets/images/Vector98.png" alt="" style="width: 19px;" />
                                                    <span style="color: #FFF; padding-left: 5px;
                                                    text-align: center;">Add More</span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </ng-container>
                        <div *ngIf="roomdetailsarray.length>0" class="card col-sm-10 col-md-11 mt-4 py-2" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                        <ng-container *ngFor="let data of roomdetailsarray; let j = index">
                            <div class="row mt-2" *ngIf="roomnum>0">
                                <div class="col-md-6 col-sm-10 col-12">
                                    <span style="font-weight: 600;">Room Type</span>
                                    <div class="text-muted" style="border-radius: 30px; border: 0.5px solid #221950;
                                 background: #fff;padding:9px">
                                        <span> {{data.roomType}}</span>
                                    </div>
                                    <!-- <input style="border-radius: 30px; border: 0.5px solid #221950;
                                      background: #fff;" type="text" name="No of Rooms"  [(ngModel)]="data.roomType" class="form-control"
                                      placeholder="Deluxe Room" required> -->
                                </div>
                                <div class="col-md-4 col-sm-10 col-12">
                                    <span style="font-weight: 600;">No. of rooms</span>
                                    <div class="text-muted" style="border-radius: 30px; border: 0.5px solid #221950;
                                  background: #fff;padding:9px">
                                        <span> {{data.roomCount}}</span>
                                    </div>
                                    <!-- <input style="border-radius: 30px; border: 0.5px solid #221950;
                                      background: #fff;" type="number" name="No of Rooms" [(ngModel)]="data.roomCount" class="form-control"
                                      placeholder="10" required> -->
                                </div>
                                <div class="col btnsmall" style="align-items: flex-end; display: flex;">
                                    <div class="row">

                                        <div style="padding: 5px;">
                                            <img src="assets/images/Delete.png" (click)="del1(j);updateToken()" alt=""
                                                style="width: 40px; " />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        </div>
                    </div>

                </div>
            </form>

        </div>


<!--
        <div class="container" style="margin-top: 30px;">

            <div class="row">
                <div class="col-12">
                    <div style="background-color: #D5EDCE; border-radius: 30px; padding: 20px;">
                        <label for="file-upload">
                            <img src="assets/images/Rectangle 5.png" alt="" style="width: 50px;" />
                            <span style="padding: 20px;">Upload Logo</span>
                            <input type="file" id="file-upload" style="display: none"
                                (change)="onFileSelected($event)" />
                        </label>
                    </div>
                </div>


            </div>
        </div> -->



        <!-- <ng-container *ngFor="let i of uploadarray; let j = index">
            <div class="container" style="margin-top: 30px; margin-bottom: 30px;" *ngIf="isupload">

                <div class="row">
                    <div class="col-12">
                        <div style="background-color: #D5EDCE; border-radius: 30px; padding: 20px;">
                            <label for="file-upload">
                                <img src="assets/images/Rectangle 5.png" alt="" style="width: 50px;" />
                                <span style="padding-left: 20px;">Upload Property Image</span>
                                <input type="file" id="file-upload" style="display: none"
                                    (change)="onFileSelected($event)" />
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </ng-container> -->
        <!-- <div class="row justify-content-center" style="margin-bottom: 20px; margin-top: 20px;">
            <div>
                <div style="border-radius: 40px;
                background: #221950; padding: 20px;" (click)="add()">
                    <img src="assets/images/Vector98.png" alt="" style="width: 30px;" />
                    <span style="color: #FFF; padding-left: 20px;
                  text-align: center;">Add More</span>
                </div>

            </div>
            <div style="padding: 10px; margin-left: 20px;" (click)="del(uploadarray.indexOf)">
                <img src="assets/images/Delete.png" alt="" style="width: 50px; " />
            </div>
        </div> -->



        <div class="row justify-content-center">
            <div >
                <div style=" margin-top: 50px;
                border-radius: 30px;
                color: #FFF;
                text-align: center;
                font-size: 19px;
                margin-left: 40px;
                margin-right: 40px;
                font-weight: 700;
                background: #221950;
                padding: 15px;">Choose from our hospitality tech suite,<br> The Coupon code will be applied on the final offer</div>

            </div>
        </div>


        <div >
            <form #contactForm=ngForm role="form"
                style="background: #FFF;
          border: 0.5px solid #221950;
          background: #FFF;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); padding: 30px; border-radius: 60px; margin-top: -32px; margin-bottom: 50px; margin-left: 40px; margin-right: 20px;">




                <div class="row">
                    <div class="col-lg col-md-6">
                        <div class="cardClickable"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left; margin-top: 20px;height: 230px;"
                            [ngClass]="{'clickedcard': isCardClicked}" (click)="toggleCardState()">
                            <div class="row" style="padding: 10px;">
                                <div class="col-4 imgcol"><img src="assets/images/bookone pms.png" alt="" style="width: 80px; ">
                                </div>
                                <div class="col-8 textcol">
                                    <div style="color: #484848;
                                    font-weight: 700; font-size: 19px; padding: 10px;">
                                        Property Management System (PMS)
                                    </div>
                                    <!-- <div style="color: #484848;">
                                        The HotelMate Room Inventory Distribution Connectivity refers to the system or
                                        platform used by The HotelMate to connect and distribute its room inventory to
                                        various online travel agencies (OTAs), global distribution systems (GDS), and
                                        other distribution channels.
                                    </div> -->
                                    <!-- <div
                                    style="border-radius: 15px; border: 0.5px solid #221950; text-align: center; margin-bottom: 20px;width: 110px;margin-top:5px">
                                    ₹ 1200/-
                                </div> -->


                                </div>

                            </div>
                            <!-- <div style="color: #484848; text-align: justify; padding: 10px;">
                                The HotelMate Room Inventory Distribution Connectivity refers to the system or
                                platform used by The HotelMate to connect and distribute its room inventory to
                                various online travel agencies (OTAs), global distribution systems (GDS), and
                                other distribution channels.
                            </div> -->

                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked1}" (click)="onClickCard1()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left;  margin-top: 20px;height: 230px;">
                            <div class="row" style="padding: 10px;">
                                <div class="col-3 imgcol"><img src="assets/images/onboard2.png" alt="" style="height: 80px; ">
                                </div>
                                <div class="col-9 textcol" style="color: #484848;
                    font-weight: 700;font-size: 19px; padding: 10px;">
                                    Channel Manager
                                </div>
                            </div>

                            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                                BOOKONE Connect is a connectivity solution provided by BOOKONE that allows hotels to
                                integrate their property management system (PMS) with various distribution channels and
                                online travel agencies (OTAs). It enables seamless two-way communication between the
                                hotel's PMS and external channels, ensuring real-time availability, rates, and inventory
                                updates.
                            </div> -->

                        </div>

                    </div>
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked2}" (click)="onClickCard2()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left;margin-top: 20px;height: 230px;">
                            <div style="padding: 10px;">
                                <div class="imgcol"><img src="assets/images/onboard3.png" alt="" style="width: 80px;">
                                </div>
                                <div class="textcol" style="color: #484848;
                                    font-weight: 700;font-size: 19px; padding: 10px;">
                                    Google Hotel Center (Setup Free) Booking Link
                                </div>
                            </div>

                            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                                Google Hotel Center is a platform provided by Google that allows hotels to manage their
                                property information and availability directly on Google's search engine and other
                                Google platforms.Setting up a Google Hotel Center account is free of charge.
                            </div> -->


                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked3}" (click)="onClickCard3()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left;margin-top: 20px;height: 230px;">
                            <div  style="padding: 10px;">
                                <div class="imgcol"><img src="assets/images/POS.svg" alt="" style="height: 80px;">
                                </div>
                                <div class="textcol" style="color: #484848;
                    font-weight: 700;font-size: 19px; padding: 10px;">
                                    Point of Sale (POS)
                                </div>
                            </div>

                            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                                When a hotel implements real-time availability updates, any changes in room inventory,
                                such as new bookings, cancellations, or modifications, are immediately reflected across
                                all connected channels. This eliminates the risk of double bookings or miscommunication
                                and provides a seamless booking experience for guests.
                            </div> -->


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked4}" (click)="onClickCard4()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left; margin-top: 20px;height: 230px;">
                            <div class="row" style="padding: 10px;">
                                <div class="col-4 imgcol"><img src="assets/images/SMO.webp" alt="" style="height: 80px;">
                                </div>
                                <div class="col-8 textcol">
                                    <div style="color: #484848;
                                    font-weight: 700;font-size: 19px;padding: 10px;">
                                        Social Media Optimization (SMO)
                                    </div>
                                    <!-- <div
                                        style="border-radius: 15px; border: 0.5px solid #221950; text-align: center; margin-bottom: 20px;width: 110px;margin-top:5px">
                                        ₹ 1200/-
                                    </div> -->

                                </div>
                            </div>

                            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                                Hotel social media setup and management entails creating engaging content, interacting
                                with the audience, growing followers, and analyzing performance on platforms like
                                Facebook, Instagram, Twitter, and LinkedIn to optimize the hotel's online presence.
                            </div> -->

                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked5}" (click)="onClickCard5()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left; margin-top: 20px;height: 230px;">
                            <div class="row" style="padding: 10px;">
                                <div class="col-4 imgcol"><img src="assets/images/onboard6.png" alt="" style="height: 80px;">
                                </div>
                                <div class="col-8 textcol">
                                    <div style="color: #484848;
                                    font-weight: 700;font-size: 19px; padding: 10px;">
                                        OTA Setup & Management
                                    </div>

                                    <!-- <div
                                        style="border-radius: 15px; border: 0.5px solid #221950; text-align: center; margin-bottom: 20px;width: 110px;margin-top:5px">
                                        ₹ 1200/-
                                    </div> -->

                                </div>
                            </div>

                            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                                OTA setup and management involve selecting OTAs, contracting, optimizing content,
                                managing inventory and rates, monitoring performance, and maintaining relationships to
                                drive bookings and revenue.
                            </div> -->
                            <!-- <div class="row justify-content-center">
                                <div class="col-4"
                                    style="border-radius: 15px; border: 0.5px solid #221950; text-align: center; margin-bottom: 20px;width: 110px;margin-top:5px">
                                    ₹ 1200/-
                                </div>
                            </div> -->
                        </div>

                    </div>
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked6}" (click)="onClickCard6()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left;margin-top: 20px;height: 230px;">
                            <div class="row" style="padding: 10px;">
                                <div class="col-4 imgcol"><img src="assets/images/website.png" alt="" style="height: 80px;">
                                </div>
                                <div class="col-8 textcol">
                                    <div style="color: #484848;
                                    font-weight: 700;font-size: 19px; padding: 10px;">
                                        Website
                                    </div>
                                    <!-- <div
                                        style="border-radius: 15px; border: 0.5px solid #221950; text-align: center; margin-bottom: 20px;width: 110px;margin-top:5px">
                                        ₹ 1200/-
                                    </div> -->

                                </div>

                            </div>

                            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                                Hotel SEO and Google Search Engine optimization involve optimizing a hotel's website to
                                improve its visibility and rankings on Google's search results pages. This includes
                                conducting keyword research, optimizing on-page elements, improving website structure
                                and performance, building high-quality backlinks, creating valuable content, optimizing
                                for local search, and monitoring performance through analytics.
                            </div> -->
                            <!-- <div class="row justify-content-center">
                                <div class="col-4"
                                    style="border-radius: 15px; border: 0.5px solid #221950; text-align: center; margin-bottom: 20px;">
                                    ₹ 1200/-
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked7}" (click)="onClickCard7()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left;margin-top: 20px;height: 230px;">
                            <div class="row" style="padding: 10px;">
                                <div class="col-4 imgcol"><img src="assets/images/booking engine.png" alt="" style="height: 80px;">
                                </div>
                                <div class="col-8 textcol">
                                    <div style="color: #484848;
                        font-weight: 700;font-size: 19px; padding: 10px;">
                                        Booking Engine
                                    </div>
                                    <!-- <div
                                        style="border-radius: 15px; border: 0.5px solid #221950; text-align: center; margin-bottom: 20px;width: 110px;margin-top:5px">
                                        ₹ 1200/-
                                    </div> -->
                                </div>

                            </div>
                            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                                Payment integration for hotels involves incorporating secure and convenient payment
                                options into the hotel's website or booking system. It includes integrating a trusted
                                payment gateway, ensuring secure payment processing, automating payment confirmations,
                                handling refunds and cancellations, and maintaining PCI compliance for data security.
                            </div> -->

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked8}" (click)="onClickCard8()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left; margin-top: 20px;height: 230px;">
                            <div class="row" style="padding: 10px;">
                                <div class="col-4 imgcol"><img src="assets/images/Email-GSuite.png" alt="" style="height: 80px;">
                                </div>
                                <div class="col-8 textcol">
                                    <div style="color: #484848;
                                    font-weight: 700;font-size: 19px;padding: 10px;">
                                        Email / GSuite
                                    </div>
                                    <!-- <div
                                        style="border-radius: 15px; border: 0.5px solid #221950; text-align: center; margin-bottom: 20px;width: 110px;margin-top:5px">
                                        ₹ 1200/-
                                    </div> -->

                                </div>
                            </div>

                            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                                Hotel social media setup and management entails creating engaging content, interacting
                                with the audience, growing followers, and analyzing performance on platforms like
                                Facebook, Instagram, Twitter, and LinkedIn to optimize the hotel's online presence.
                            </div> -->

                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked9}" (click)="onClickCard9()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left; margin-top: 20px;height: 230px;">
                            <div class="row" style="padding: 10px;">
                                <div class="col-4 imgcol"><img src="assets/images/DigitalMarketing.png" alt="" style="height: 80px;">
                                </div>
                                <div class="col-8 textcol">
                                    <div style="color: #484848;
                                    font-weight: 700;font-size: 19px;padding: 10px; ">
                                        DigitalMarketing
                                    </div>

                                    <!-- <div
                                        style="border-radius: 15px; border: 0.5px solid #221950; text-align: center; margin-bottom: 20px;width: 110px;margin-top:5px">
                                        ₹ 1200/-
                                    </div> -->

                                </div>
                            </div>

                            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                                OTA setup and management involve selecting OTAs, contracting, optimizing content,
                                managing inventory and rates, monitoring performance, and maintaining relationships to
                                drive bookings and revenue.
                            </div> -->
                            <!-- <div class="row justify-content-center">
                                <div class="col-4"
                                    style="border-radius: 15px; border: 0.5px solid #221950; text-align: center; margin-bottom: 20px;width: 110px;margin-top:5px">
                                    ₹ 1200/-
                                </div>
                            </div> -->
                        </div>

                    </div>
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked10}" (click)="onClickCard10()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left;margin-top: 20px;height: 230px;">
                            <div class="row" style="padding: 10px;">
                                <div class="col-4 imgcol"><img src="assets/images/Qracle.png" alt="" style="height: 80px;">
                                </div>
                                <div class="col-8 textcol">
                                    <div style="color: #484848;
                                    font-weight: 700;font-size: 19px;padding: 10px;">
                                       Qracle
                                    </div>
                                    <!-- <div
                                        style="border-radius: 15px; border: 0.5px solid #221950; text-align: center; margin-bottom: 20px;width: 110px;margin-top:5px">
                                        ₹ 1200/-
                                    </div> -->

                                </div>

                            </div>

                            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                                Hotel SEO and Google Search Engine optimization involve optimizing a hotel's website to
                                improve its visibility and rankings on Google's search results pages. This includes
                                conducting keyword research, optimizing on-page elements, improving website structure
                                and performance, building high-quality backlinks, creating valuable content, optimizing
                                for local search, and monitoring performance through analytics.
                            </div> -->
                            <!-- <div class="row justify-content-center">
                                <div class="col-4"
                                    style="border-radius: 15px; border: 0.5px solid #221950; text-align: center; margin-bottom: 20px;">
                                    ₹ 1200/-
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked11}" (click)="onClickCard11()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left;margin-top: 20px;height: 230px;">
                            <div class="row" style="padding: 10px;">
                                <div class="col-4 imgcol"><img src="assets/images/The Hotel Mate.png" alt="" style="height: 60px;">
                                </div>
                                <div class="col-8 textcol">
                                    <div style="color: #484848;
                                         font-weight: 700;font-size: 19px;padding: 18px;">
                                        The HotelMate
                                    </div>
                                    <!-- <div
                                        style="border-radius: 15px; border: 0.5px solid #221950; text-align: center; margin-bottom: 20px;width: 110px;margin-top:5px">
                                        ₹ 1200/-
                                    </div> -->
                                </div>

                            </div>
                            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                                Payment integration for hotels involves incorporating secure and convenient payment
                                options into the hotel's website or booking system. It includes integrating a trusted
                                payment gateway, ensuring secure payment processing, automating payment confirmations,
                                handling refunds and cancellations, and maintaining PCI compliance for data security.
                            </div> -->

                        </div>
                    </div>

                </div>


                <!-- Some productlines blocked -->
                <!-- <div class="row">
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked8}" (click)="onClickCard8()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left;margin-top: 20px;height: 450px;">
                            <div class="row" style="padding: 10px;">
                                <div class="col-3"><img src="assets/images/onboard9.png" alt="" style="width: 50px;">
                                </div>
                                <div class="col-9" style="color: #484848;
                    font-weight: 700;font-size: 19px;">
                                    Property own policy, rules, and regulations
                                </div>
                            </div>
                            <div style="color: #484848; text-align: justify;padding: 10px;">
                                Unlike other platforms, The HotelMate does not enforce its policies on hotels. Instead,
                                hotels have the flexibility to operate based on their own policies, rules, and
                                regulations. This allows each hotel to maintain its individuality and establish
                                guidelines that best suit its unique requirements and the needs of its guests.
                            </div>


                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked9}" (click)="onClickCard9()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left; margin-top: 20px;height: 450px;">
                            <div class="row" style="padding: 10px;">
                                <div class="col-3"><img src="assets/images/onboard10.png" alt="" style="width: 50px;">
                                </div>
                                <div class="col-9" style="color: #484848;
                    font-weight: 700;font-size: 19px;">
                                    Hotel's own Digital Campaign, Ads & Offers to attract the Guest
                                </div>
                            </div>

                            <div style="color: #484848; text-align: justify;padding: 10px;">
                                The Hotel Mate provides valuable assistance in implementing these digital marketing
                                strategies. By partnering with The Hotel Mate, hotels can leverage its expertise and
                                resources to effectively execute their digital campaigns, create compelling ads, and
                                promote attractive offers.
                            </div>

                        </div>

                    </div>
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked10}"
                            (click)="onClickCard10()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left;margin-top: 20px;height: 450px;">
                            <div class="row" style="padding: 10px;">
                                <div class="col-3"><img src="assets/images/onboard11.png" alt="" style="width: 50px;">
                                </div>
                                <div class="col" style="color: #484848;
                    font-weight: 700;font-size: 19px;">
                                    Dedicated Personalized Customer Support
                                </div>
                            </div>

                            <div style="color: #484848; text-align: justify;padding: 10px;">
                                The Hotel Mate offers dedicated and personalized customer support to ensure a seamless
                                and exceptional experience for hotel guests. With The Hotel Mate's customer support,
                                guests receive prompt assistance and solutions to their queries, concerns, and requests.
                                The support team is readily available to address any issues related to reservations,
                                check-in/check-out, room amenities, facilities, and more.
                            </div>

                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="cardClickable" [ngClass]="{'clickedcard': isCardClicked11}"
                            (click)="onClickCard11()"
                            style="border-radius: 25px; border: 3px solid #221950; text-align: left;margin-top: 20px;height: 450px;">
                            <div class="row" style="padding: 10px;">
                                <div class="col-3"><img src="assets/images/onboard12.png" alt="" style="width: 50px;">
                                </div>
                                <div class="col" style="color: #484848;
                    font-weight: 700;font-size: 19px;">
                                    Unified Guest Communication and Guest Loyalty Program
                                </div>
                            </div>

                            <div style="color: #484848; text-align: justify;padding: 10px;">
                                The Hotel Mate's unified guest communication platform enables hotels to easily connect
                                and engage with their guests. With personalized messaging and real-time chat support,
                                hotels can provide exceptional service and address guest needs promptly.
                            </div>

                        </div>
                    </div>
                </div> -->

                                <!-- Some productlines blocked -->


                <!-- <div class="row"
                    style="text-align: center; border-bottom: 4px solid #638857;  margin-top: 100px; margin-left: 10px; margin-right: 10px;">

                </div>

                <div class="row" style="margin-left: 5px;">
                    <div class="col d-flex justify-content-center">
                        <div style="border-radius: 30px;
            border: 3px solid rgba(158, 210, 141, 0.50);
            background: rgba(158, 210, 141, 0.50);
            width: 253px;
            height: 257px;
            margin-top: 20px;
            text-align: center;">


                            <div style="    border-radius: 30px;
        border: 3px solid rgba(158, 210, 141, 0.50);
        background: rgba(158, 210, 141, 0.50);
        width: 205px;
        text-align: center;
        height: 212px;
        margin-left: 19px;
        margin-top: 26px;

        ">
                                <div style="border-radius: 25px;
         background: #FFF;
         text-align: center;
         margin-left: 28px;
         margin-right: 20px;
         margin-top: -24px;
         padding: 3px;
         color: #403737;
         font-weight: 700;
         width: 141px;"> MONTHLY SUBSCRIPTION

                                    <p style="font-size: 13px;">BASE PRICE </p>
                                </div>
                                <div style="margin-top: 10px;">
                                    <p style="color: #403737;
           font-weight: 700;"> ₹ 277.19/Month x 1 </p> <br>
                                    <p style="margin-top: -40px;"> Total Discount: 3% <br>
                                        Total: ₹277.19/Month</p>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div style="border-radius: 30px;
            border: 3px solid rgba(158, 210, 141, 0.50);
            background: rgba(158, 210, 141, 0.50);
            width: 253px;
            height: 257px;
            margin-top: 20px;
            text-align: center;">


                            <div style="    border-radius: 30px;
        border: 3px solid rgba(158, 210, 141, 0.50);
        background: rgba(158, 210, 141, 0.50);
        width: 205px;
        text-align: center;
        height: 212px;
        margin-left: 19px;
        margin-top: 26px;

        ">
        <div style="border-radius: 25px;
         background: #FFF;
         text-align: center;
         margin-left: 28px;
         margin-right: 20px;
         margin-top: -24px;
         padding: 3px;
         color: #403737;
         font-weight: 700;
         width: 141px;"> HALF YEARLY SUBSCRIPTION
                                    <p style="font-size: 13px;"> 5% DISCOUNT </p>
                                </div>
                                <div style="margin-top: 10px;">
                                    <p style="color: #403737;
           font-weight: 700;"> ₹ 262.90/Month x 6 </p> <br>
                                    <p style="margin-top: -40px;"> Total Discount: 8% <br>
                                        Total: ₹1,577.40/-</p>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div style="border-radius: 30px;
            border: 3px solid rgba(158, 210, 141, 0.50);
            background: rgba(158, 210, 141, 0.50);
            width: 253px;
            height: 257px;
            margin-top: 20px;
            text-align: center;">


                            <div style="    border-radius: 30px;
        border: 3px solid rgba(158, 210, 141, 0.50);
        background: rgba(158, 210, 141, 0.50);
        width: 205px;
        text-align: center;
        height: 212px;
        margin-left: 19px;
        margin-top: 26px;

        ">
                                <div style="border-radius: 25px;
         background: #FFF;
         text-align: center;
         margin-left: 28px;
         margin-right: 20px;
         margin-top: -24px;
         padding: 3px;
         color: #403737;
         font-weight: 700;
         width: 141px;"> YEARLY SUBSCRIPTION

                                    <p style="font-size: 13px;"> 10% DISCOUNT </p>
                                </div>
                                <div style="margin-top: 10px;">
                                    <p style="color: #403737;
           font-weight: 700;"> ₹ 248.61/Month x 12 </p> <br>
                                    <p style="margin-top: -40px;"> Total Discount: 13% <br>
                                        Total: ₹2,983.33/-</p>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div style="border-radius: 30px;
            border: 3px solid rgba(158, 210, 141, 0.50);
            background: rgba(158, 210, 141, 0.50);
            width: 253px;
            height: 257px;
            margin-top: 20px;
            text-align: center;">


                            <div style="    border-radius: 30px;
        border: 3px solid rgba(158, 210, 141, 0.50);
        background: rgba(158, 210, 141, 0.50);
        width: 205px;
        text-align: center;
        height: 212px;
        margin-left: 19px;
        margin-top: 26px;

        ">
                                <div style="border-radius: 25px;
         background: #FFF;
         text-align: center;
         margin-left: 28px;
         margin-right: 20px;
         margin-top: -24px;
         padding: 3px;
         color: #403737;
         font-weight: 700;
         width: 141px;">2 YEARS SUBSCRIPTION

                                    <p style="font-size: 13px;"> 15% DISCOUNT </p>
                                </div>
                                <div style="margin-top: 10px;">
                                    <p style="color: #403737;
           font-weight: 700;"> ₹ 234.32/Month x 24 </p> <br>
                                    <p style="margin-top: -40px;"> Total Discount: 18% <br>
                                        Total: ₹5,623.76/-</p>
                                </div>


                            </div>

                        </div>
                    </div>
                </div> -->

            </form>

        </div>

        <!-- <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="file-upload">
                  <label for="file-upload">Upload Images</label>
                  <input type="file" id="file-upload">
                </div>
              </div>
            </div> -->








        <div class="row justify-content-center">
            <div>
                <button class="prevbutton" [routerLink]="['/landing/onboardingThankyou-form']"> Prev</button>
            </div>
            <div>
                <button class="nextbutton" [routerLink]="['/landing/submitted-form']" (click)="next()"> Next</button>

            </div>
        </div>











    </div>
</div>
