<section class="right-image-wrap p-t-b-80 light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-header mb-5"></div>

      <div class="col-md-12 col-lg-6 col-sm-12 mb-4 mb-lg-0">
        <div class="row m-0">
          <h2 class="font-weight-bold">We are CredenceSoft</h2>
          <p>
            CredenceSoft founded in the year 2018, intending to utilize the
            technology, knowledge, and experience gained over the years from the
            various sector such as Banking, Insurance, Finance, Telco, Payment &
            Health. We design, develop and implement industry-standard
            cloud-based, cost-effective, customized software, APIs(Application
            Programming Interface) services and technology solutions based on
            contemporary open source technologies and frameworks for our
            clients. This helps our clients/customers to have state-of-the-art
            features without having to pay for unnecessary tools and software
            licenses. The team at CredenceSoft is a harmonious blend of fresh
            minds who are always excited to try on new technologies on UI/UX
            spaces to provide enhanced user experience, seasoned Solution
            Architect and Application Developer to build the system on industry
            edge software standards, Specialized System Analysts and Domain
            Experts to formulate business requirements to easy-to-use software
            system and Quality Control Specialists to ensure the deliverables
            meet the quality standard specified by client/market. The innovation
            segment is led by the research and innovation specialists having
            vast experience in academic and AI(Artificial Intelligence)research
            and innovations.
          </p>

          <!-- <div class="col-md-6 col-sm-6 mb-4"> <img class="img-responsive  mb-4 " src="./assets/images/landing/playdownload.png" alt="Card image cap"></div>
                <div class="col-md-6 col-sm-6 mb-4"> <img class="img-responsive  mb-4 " src="./assets/images/landing/appdownload.png" alt="Card image cap"></div> -->
          <!-- <div class="card">

                          <div class="card-body d-flex pt-4 pb-4 ">
                              <div class="mr-2">
                                  <i class="eva eva-pie-chart-outline mr-1 text-36 "></i>
                              </div>
                              <div class="">
                                  <h4 class="card-title font-weight-bold">Full Analytics
                                  </h4>
                                  <p class="m-0">Contrary to popular belief, Lorem Ipsum is not simply random text.
                                  </p>
                              </div>


                          </div>
                      </div>
                     </div> -->
          <!--     end of col  -->
          <!--     <div class="col-md-6 col-sm-6 mb-4">
                      <div class="card">

                          <div class="card-body d-flex pt-4 pb-4">
                              <div class="mr-2"><i class="eva eva-clock-outline mr-1 text-36 "></i></div>
                              <div class="">
                                  <h4 class="card-title font-weight-bold"> Diagnose quickly</h4>
                                  <p class="m-0">Contrary to popular belief, Lorem Ipsum is not simply random text.
                                  </p>
                              </div>


                          </div>
                      </div>
                  </div>
                  end of col  -->
          <!--  <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0 mb-sm-0">
                      <div class="card">

                          <div class="card-body d-flex pt-4 pb-4">
                              <div class="mr-2"><i class="eva eva-lock-outline mr-1 text-36 "></i></div>
                              <div class="">
                                  <h4 class="card-title font-weight-bold">Safe & Secure</h4>
                                  <p class="m-0">Contrary to popular belief, Lorem Ipsum is not simply random text.
                                  </p>
                              </div>


                          </div>
                      </div>
                  </div>
                  end of col  -->
          <!--    <div class="col-md-6 col-sm-6 mb-0 mb-lg-0 mb-md-0 mb-sm-0">
                      <div class="card">

                          <div class="card-body d-flex pt-4 pb-4">
                              <div class="mr-2"><i class="eva eva-pricetags-outline mr-1 text-36 "></i></div>
                              <div class="">
                                  <h4 class="card-title font-weight-bold">Best Pricing
                                  </h4>
                                  <p class="m-0">Contrary to popular belief, Lorem Ipsum is not simply random text.
                                  </p>
                              </div>

                          </div>
                      </div>
                  </div>
                  end of col  -->
        </div>
      </div>
      <!-- end of col6 row -->
      <div
        class="col-md-6 col-lg-5 col-sm-12 offset-lg-1 d-flex align-items-center"
      >
        <a href="https://credencesoft.in" target="_blank">
          <img
            src="./assets/images/landing/CredenceSoftLogo.png"
            class="img-responsive w-100"
            alt=""
        /></a>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 p-5">
        <a href="https://credencesoft.in" target="_blank">
          <button class="btn btn-primary btn-raised btn-lg">
            Know More
          </button></a
        >
      </div>
    </div>
    <section>
      <div class="client-count-wrp mt-100">
        <div class="container">
          <h2 class="head-line display-3 pb-4 text-center">
            Our Happy Clients
          </h2>
          <div class="client-count-wrp-inner">
            <div class="cards">
              <h4>{{ projectcount + "+" }}</h4>
              <p class="count">Properties</p>
            </div>
            <!--card-->
            <div class="cards">
              <h4>{{ accuratecount + "+" }}</h4>
              <!--concat % sign-->
              <p class="count">Happy Clients</p>
            </div>
            <!--card-->
            <!-- <div class="cards">
               <h4>{{clientcount}}</h4>
                <p>Clients</p>
              </div> -->

            <!--card-->
            <div class="cards">

              <h4>{{ customerfeedback + " % " }}</h4>

              <p class="count">Satisfaied Clients</p>

            </div>

            <!--card-->
          </div>

        </div>

      </div>
    </section>
  </div>
</section>
