<section class="right-image-wrap p-t-b-80 light">
  <div class="container">
      <div class="row">
          <div class="col-md-12 section-header mb-5">
              
          </div>

            <div class="col-md-12 col-lg-6 col-sm-12 mb-4 mb-lg-0">
              <div class="row m-0"><h2 class="font-weight-bold">Stop wasting your money on commission.
                Concentrate on your own system.
                Say hello to bookone!</h2>
              <p>BookOne is a complete Booking Origination and Management System. BookOne is for the Hospitality Industry to capture booking journey of the guest for the Hotel, Motel, Backpackers, Service Apartment, Vacation Rental, Guest Room and Owner Occupied properties. Enrich and Ensure Guest’s booking experience with personalised, interactive real time notifications.

                A Property/Hotel Management System having own booking engine plus integration with the hotel booking websites, major OTAs ( Online Travel/Booking Engines ) to manage effectively Rates, Availability, Processing Payments of Virtual, Credit and Debit Cards with PCI Compliant Payment Processors. This also covers Accounting and Expense Management to optimize the operational efficiency.</p>
               
                <!-- <div class="col-md-6 col-sm-6 mb-4"> <a href="https://play.google.com/store/apps/details?id=nz.co.credencesoft.bookone"><img class="img-responsive  mb-4 " src="./assets/images/landing/playdownload.png" alt="Card image cap"></a> </div>
                <div class="col-md-6 col-sm-6 mb-4"><a href="https://apps.apple.com/us/app/bookone/id1479329580"><img class="img-responsive  mb-4 " src="./assets/images/landing/appdownload.png" alt="Card image cap"></a></div> -->
                <!--        <div class="card">

                          <div class="card-body d-flex pt-4 pb-4 ">
                              <div class="mr-2">
                                  <i class="eva eva-pie-chart-outline mr-1 text-36 "></i>
                              </div>
                              <div class="">
                                  <h4 class="card-title font-weight-bold">Full Analytics
                                  </h4>
                                  <p class="m-0">Contrary to popular belief, Lorem Ipsum is not simply random text.
                                  </p>
                              </div>


                          </div>
                      </div>
                  </div>
                end of col  -->
              <!--     <div class="col-md-6 col-sm-6 mb-4">
                      <div class="card">

                          <div class="card-body d-flex pt-4 pb-4">
                              <div class="mr-2"><i class="eva eva-clock-outline mr-1 text-36 "></i></div>
                              <div class="">
                                  <h4 class="card-title font-weight-bold"> Diagnose quickly</h4>
                                  <p class="m-0">Contrary to popular belief, Lorem Ipsum is not simply random text.
                                  </p>
                              </div>


                          </div>
                      </div>
                  </div>
                  end of col  -->
                 <!--  <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0 mb-sm-0">
                      <div class="card">

                          <div class="card-body d-flex pt-4 pb-4">
                              <div class="mr-2"><i class="eva eva-lock-outline mr-1 text-36 "></i></div>
                              <div class="">
                                  <h4 class="card-title font-weight-bold">Safe & Secure</h4>
                                  <p class="m-0">Contrary to popular belief, Lorem Ipsum is not simply random text.
                                  </p>
                              </div>


                          </div>
                      </div>
                  </div>
                  end of col  -->
               <!--    <div class="col-md-6 col-sm-6 mb-0 mb-lg-0 mb-md-0 mb-sm-0">
                      <div class="card">

                          <div class="card-body d-flex pt-4 pb-4">
                              <div class="mr-2"><i class="eva eva-pricetags-outline mr-1 text-36 "></i></div>
                              <div class="">
                                  <h4 class="card-title font-weight-bold">Best Pricing
                                  </h4>
                                  <p class="m-0">Contrary to popular belief, Lorem Ipsum is not simply random text.
                                  </p>
                              </div>

                          </div>
                      </div>
                  </div>
                  end of col  -->

                 </div>
          </div>
       <!-- end of col6 row -->
          <div class="col-md-12 col-lg-5 col-sm-12 offset-lg-1">

              <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
                  <ngu-tile *nguCarouselDef="let item; let i = index">
                      <img class="img-responsive  mb-4 " [src]="item.photo" alt="Card image cap">
                  </ngu-tile>

                  <span NguCarouselPrev
                      class="ngu_control_button half-button  leftRs btn btn-circle btn-white btn-shadow"
                      [style.opacity]="myCarousel.isFirst ? 0.5:1"><i class="eva eva-chevron-left-outline"></i></span>
                  <span NguCarouselNext
                      class="ngu_control_button half-button  rightRs btn btn-circle btn-white btn-shadow"
                      [style.opacity]="myCarousel.isLast ? 0.5:1"><i class="eva eva-chevron-right-outline"></i></span>
              </ngu-carousel>
          </div>

      </div>
  </div>
</section>
