<section id="intro-wrap" class="intro2Wrap text-white  text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="intro2subtitle">
                    <h3 class='font-weight-bold mb-3 text-white'></h3>
                </div>
                <img class="img-responsive  mb-4 " src="./assets/images/landing/lOGO_d/D.png" alt="Card image cap">
                <!-- <h1 class="intro2Title font-weight-bold text-42 t-shadow mb-3 text-white display-3">BookOne</h1> -->
                <div class=" intro2Description text-18">
                    <h2 class="mb-4 text-white">1 Stop Property
                        Management System
                    </h2>
                </div>

                <div class="intro2Buttons mb-5">
                    <a name="" id="" routerLink="/landing/contact"
                        class="btn btn-outline-white btn-lg pl-5 pr-5 pb-2  mr-2 mb-4 text-uppercase half-button"
                        href="#" role="button">

                       Request A Demo
                    </a>
                    <a id="" class="btn btn-warning btn-lg pl-5 pr-5 pb-2 mb-4 text-uppercase 
 half-button" href="https://app.bookonepms.com/#/sessions/signup" target="_blank" role="button">

                        Sign up
                    </a>
                </div>

               
            </div>  
        </div>
        <div class="row">
            
            <div class="col-md-3 col-sm-3 mb-2"> </div>
        <div class="col-md-3 col-sm-3 mb-2"> <a href="https://play.google.com/store/apps/details?id=nz.co.credencesoft.bookone" target="_blank"><img class="img-responsive mb-4 " height="auto" width="200px" src="./assets/images/landing/playdownload.png" alt="Card image cap"></a> </div>
        <div class="col-md-3 col-sm-3 mb-2"><a href="https://apps.apple.com/us/app/bookone/id1479329580" target="_blank"><img class="img-responsive  mb-4 " height="auto" width="200px" src="./assets/images/landing/appdownload.png" alt="Card image cap"></a></div>
        <div class="col-md-3 col-sm-3 mb-2"> </div>
    </div>
    </div>
    <div class="overlay">

    </div>
</section>
