<section id="teams-wrap" class="team-wrap p-t-b-80 light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12  section-header mb-5">
                <h2 class="font-weight-bold">Meet our Team</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus,
                    laboriosam sint dolorum aspernatur libero.</p>

            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 col-lg-4 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/1.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Samaya Kumar Muduli</h5>
                        <p class="mt-0">CEO & Director</p>
                        <p>Samaya 15 years Software Development & Delivery Experience working across the globe on challenging
                            projects proud to be the product owner of BookOne and Director of CredenceSoft, New Zealand.</p>
                        <button class="btn btn-gradient half-button">Contact</button>
                        <div class="card-socials-simple mt-4">

                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-lg-4 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/2.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Ravi Dwivedi</h5>
                        <p class="mt-0">Management Consultant</p>
                        <p>Ravi comes in a consulting capacity tasked with providing strategic direction to Credencesoft especially in the areas of sales, marketing, and general management.</p>
                        <button class="btn btn-gradient half-button">Contact</button>
                        <div class="card-socials-simple mt-4">

                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-lg-4 col-sm-6  mb-lg-0 mb-md-0 mb-sm-0 mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/3.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Richard Gray</h5>
                        <p class="mt-0">Manager - Quality Assurance</p>
                        <p>Prem brings his two decades of experience in software development management, quality management, project management. He looks after the overall quality, the user experience of the Product. He is the father of one lovely daughter and resides in Auckland. He loves his social life and community-related works.</p>
                        <button class="btn btn-gradient half-button">Contact</button>
                        <div class="card-socials-simple mt-4">

                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->

            <!-- <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0 mb-md-0 mb-sm-0  ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/4.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Md Abu Sayeed Chowdhury Abir</h5>
                        <p class="mt-0">UX/UI Designer</p>
                        <p>Abir is a UX/UI Designer and Software Engineer. </p>
                        <button class="btn btn-gradient half-button">Contact</button>
                        <div class="card-socials-simple mt-4">

                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- end of col -->
        </div>
              <div class="row">
             <!--  <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/5.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Kazi Ashraful Azam</h5>
                        <p class="mt-0">Developer</p>
                        <p>Kazi is a full stack developer.</p>
                        <button class="btn btn-gradient half-button">Contact</button>
                        <div class="card-socials-simple mt-4">

                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- end of col -->
            <!-- <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/6.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Md Gulam Mustafa</h5>
                        <p class="mt-0">API Developer</p>
                        <p>Golam is a Oracle Certified Java Developer</p>
                        <button class="btn btn-gradient half-button">Contact</button>
                        <div class="card-socials-simple mt-4">

                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- end of col -->
            <!-- <div class="col-md-6 col-lg-3 col-sm-6  mb-lg-0 mb-md-0 mb-sm-0 mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/7.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Iftekhar Uddin</h5>
                        <p class="mt-0">QA Tester</p>
                        <p>Iftekher is a QA Tester</p>
                        <button class="btn btn-gradient half-button">Contact</button>
                        <div class="card-socials-simple mt-4">

                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- end of col -->

            <!-- <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0 mb-md-0 mb-sm-0  ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/8.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Richu Ojha</h5>
                        <p class="mt-0">QA Tester</p>
                        <p>Richu is a QA Tester.</p>
                        <button class="btn btn-gradient half-button">Contact</button>
                        <div class="card-socials-simple mt-4">

                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- end of col -->
        </div>
    </div>
</section>
