<div class="confrm">
  <div style="
    margin-top: -180px;
">
  <div class="tick-container">
    <div class="tick-mark"></div>
  </div>
  <div class="confirmation-card">
    <div class="header">
      <h2 class="text-center">Payment Confirmation</h2>
    </div>
    <div class="text-center prg">
      <p class="text-muted">Thank you for your payment! We look forward to welcoming you soon.</p>
    </div>
    <!-- <div class="bottom">
      <a href="{{PropertyUrl}}" class="btn btn-outline-primary btn-sm">Go Back</a>
    </div> -->
  </div>
  </div>
</div>
