<section id="works-wrap" class="work1Wrap">
  <div class="container">
      <div class="row">
          <div class=" section-header col-md-12 mb-5">
              <h2 class="font-weight-bold">JOIN US FOR A CUP OF COFFEE!</h2>
              <p>We are here to meet with you.</p>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 mb-6">


              <div class="card o-hidden ">

                  <div class="card-body">
                      <h5 class="card-title font-weight-bold">New Zealand Office</h5>
                      <div class="address-wrap mb-3">

                        <ul class="list-group list-unstyled">
                            <li class=""> <i class="eva eva-pin-outline mr-2"></i>2 Khyber Pass Rd, Grafton, Auckland 1023</li>

                        </ul>
                    </div>
                    <div class="address-wrap mb-3">

                        <ul class="list-group list-unstyled">
                            <li class=""><i class="eva eva-email-outline mr-2"></i>hello@bookonepms.com</li>

                        </ul>
                    </div>

                    <div class="address-wrap mb-3">

                        <ul class="list-group list-unstyled">
                            <li class=""><i class="eva eva-phone-call-outline mr-2"></i> +64-21-548-329</li>

                        </ul>
                    </div>
                  </div>

              </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 mb-6">

            <div class="card o-hidden ">

              <div class="card-body">
                  <h5 class="card-title font-weight-bold">India Office</h5>
                  <div class="address-wrap mb-3">

                    <ul class="list-group list-unstyled">
                        <li class=""> <i class="eva eva-pin-outline mr-2"></i>C-6-10-4-1, Sector-06, CBD Belapur, Navi Mumbai, 400614, Thane, Maharastra</li>

                    </ul>
                </div>
                <div class="address-wrap mb-3">

                    <ul class="list-group list-unstyled">
                        <li class=""><i class="eva eva-email-outline mr-2"></i>hello@bookonepms.com</li>

                    </ul>
                </div>

                <div class="address-wrap mb-3">

                    <ul class="list-group list-unstyled">
                        <li class=""><i class="eva eva-phone-call-outline mr-2"></i>+91-9004146024</li>

                    </ul>
                </div>
              </div>

          </div>
          </div>
          <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-4">

            <div class="card o-hidden ">

              <div class="card-body">
                  <h5 class="card-title font-weight-bold">Bangladesh Office</h5>
                  <div class="address-wrap mb-3">

                    <ul class="list-group list-unstyled">
                        <li class=""> <i class="eva eva-pin-outline mr-2"></i>Dhaka Trade Centre, (15th Floor), 99, Kazi Nazrul Islam Avenue, Kawran Bazar C/A, Dhaka- 1215</li>

                    </ul>
                </div>
                <div class="address-wrap mb-3">

                    <ul class="list-group list-unstyled">
                        <li class=""><i class="eva eva-email-outline mr-2"></i>hello@bookonepms.com</li>

                    </ul>
                </div>

                <div class="address-wrap mb-3">

                    <ul class="list-group list-unstyled">
                        <li class=""><i class="eva eva-phone-call-outline mr-2"></i> +880-2-55011898, +880-2-55011899, +8801675543363</li>

                    </ul>
                </div>
              </div>

            </div>
          </div> -->

      </div>
  </div>
</section>
