<section id="services-wrap" class="services-wrap light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Why BookOne?</h2>
                <p>World's Only Fully Integrated Product Suite Covering Operations, Distribution, Marketing & Intelligence</p>

            </div>

            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">
                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/service1.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold  ">Quick & Simple</h3>
                        <p class="card-text">Specialised & Dedicated team for Property & Hotel On-boarding.</p>

                    </div>
                    <!-- <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div> -->
                </div>


            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services14.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Reservation System</h3>
                        <p class="card-text">Centralised Reservation System integration with Channel Manager</p>

                    </div>
                    <!-- <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services15.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Global Distribution System (GDS)</h3>
                        <p class="card-text">Distributes Real-time inventory to service providers across the globe.</p>

                    </div>
                    <!-- <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">


                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services6.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Booking Engine</h3>
                        <p class="card-text">Real time availability check and booking through hotel website.</p>

                    </div>
                    <!-- <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services16.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold  ">Dynamic Pricing</h3>
                        <p class="card-text">Instant updates to room’s rates, availability and restrictions on real time</p>
                        <!--  -->
                    </div>


                    <!-- <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div> -->
                </div>
            </div>

            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0">


                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services11.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Channel Management</h3>
                        <p class="card-text">Global Distribution of inventory across multiple OTAs integrated with BookOne.
                        </p>

                    </div>
                    <!-- <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0 mb-md-0">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services5.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Customer Relationship Management</h3>
                        <p class="card-text">Manage customers with bookone
                        </p>

                    </div>
                    <!-- <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden  mb-lg-0 mb-md-0">
                    <!-- <div class="card-header p-5 text-center">
                        <i class="eva eva-save-outline"></i>
                    </div> -->
                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services12.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Operational Efficiency & Transparency</h3>
                        <p class="card-text">See every operation in real-time that sync with other booking engine
                        </p>

                    </div>
                    <!-- <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div> -->
                </div>
            </div>



        </div>

    </div>

</section>
