<nav class="navbar navbar-dark " style="height: 80px; background-color: #1e1f20;"> 
  <div class="container-div">
    <span class="title-nav-title" style="margin-top: 15px;text-align: left; color: #fff;padding-bottom: 10px; margin-left: 60px;">{{ businessUser?.name }}</span>
  </div>
</nav>



<img
  src="assets/images/BookOne Website Bannerr.png"
  style="margin-bottom: 15px;"
/>



<div class="noofbook" style="background-color: #cfcfcf; display: flex; flex-direction: column;box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);padding: 20px;margin: 10px; ">
  <div class="row">
    <div class="col" style="max-width: 33%;">
      <h3>Total Numbers Of Bookings</h3>
    </div>
    <div class="col" style="max-width: 50%;">
      <b>{{bookings?.length}}</b>
    </div>
  </div>
</div>

<div class="responsive-box" *ngFor="let booking of bookings">

  <div class="container text-center" >
    <div class="row">
      <div class="col">
        <b>{{booking?.firstName}} {{booking?.lastName}}</b>
        </div>
    </div>
    <div class="row">
      <div class="col">
        Check-In : {{booking?.fromDate | date}}
        <br>
        Check-Out : {{booking?.toDate | date}}
      </div>
      <div class="col">
        {{booking?.bookingStatus}}<br>
        Booking ID : {{booking?.propertyReservationNumber}}
      </div>
      <div class="col" *ngFor="let externalsite of externalSites">
        <span *ngIf="booking?.externalSite === externalsite.externalSiteName"><img src="{{externalsite.logo}}"  height="22px" width="62px" ></span>
        <span *ngIf="booking?.externalSite != externalsite.externalSiteName">{{booking?.externalSite}}</span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        Total amount : {{booking?.totalAmount}}
      </div>
      <div class="col">
        Payed amount : {{booking?.payableAmount}}
      </div>
      <div class="col">
        Not Payed amount : {{booking?.outstandingAmount}}
      </div>
    </div>

   
  </div>
  </div>
  



