<nav class="navbar navbar-dark " style="height: 80px; background-color: #1e1f20;"> 
  <div class="container-div">
    <span class="title-nav-title" style="margin-top: 15px;text-align: left; color: #fff;padding-bottom: 10px; margin-left: 60px;">{{ businessUser?.name }}</span>
  </div>
</nav>



<img
  src="assets/images/BookOne Website Bannerr.png"
  style="margin-bottom: 15px;"
/>
<div class="col-md-12-counttable">
<table>
  <tr>
    <th>Arrival</th>
    <th>Departure</th>
    <th>Bookings</th>
    <th>In-House</th>
  </tr>
  <tr>
    <td>2</td>
    <td>0</td>
    <td>2</td>
    <td>1</td>
  </tr>
</table>
</div>


<div class="container">
  <div class="row">
      <div class="col-md-12">
          <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-in" role="tab" aria-controls="nav-in" aria-selected="true">Check In</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-out" role="tab" aria-controls="nav-out" aria-selected="false">Check Out</a>
              </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-in" role="tabpanel" aria-labelledby="nav-in-tab">
                  <div>
                     <div id="autocomplete-container">
                          <label for="checkin" class="label_heading1" style="padding-top:0px;margin-bottom:0px!important;color: black;">Check In</label>
                          <input type="text" class="date-input form-control input-field-resize2" style="border: none;" placeholder="Check-in" name="dpFromDate3" autocomplete="off" />
                          <div class="form-group" style="height: 0px">
                              <input name="datepicker" class="form-control input-field-resize" />
                              <ng-template #t1 let-date let-focused="focused">
                                  <span class="custom-day"></span>
                              </ng-template>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <button type="submit" class="btn btn-primary btn-block btn-sign-in" click="onSubmit()">FIND</button>
                          </div>
                          <div class="col-md-6">
                              <button type="submit" class="btn btn-secondary btn-block btn-create-pwd">RESET</button>
                          </div>
                      </div>
                      <div class="responsive-box">

                      <div class="container text-center">
                        <div class="row">
                          <div class="col">
                            Person Name 
                            </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            Check-In<br>
                            Check-Out
                          </div>
                          <div class="col">
                            Billed Amount<br>
                            Booking ID 
                          </div>
                          <div class="col">
                            Icon
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            Booking Status
                          </div>
                          <div class="col">
                            Booking Extra Perks 
                          </div>
                        </div>
                      </div>
                      </div>

                    </div>
              </div>
              <div class="tab-pane fade" id="nav-out" role="tabpanel" aria-labelledby="nav-out-tab">
                  <div>
                      <div id="autocomplete-container">
                          <label for="checkout" class="label_heading1" style="padding-top:0px;margin-bottom:0px!important;color: black;">Check Out</label>
                          <input type="text" class="date-input form-control input-field-resize2" style="border: none;" placeholder="Check-out" name="dpToDate3" autocomplete="off" />
                          <div class="form-group" style="height: 0px">
                              <input name="datepicker" class="form-control input-field-resize" />
                              <ng-template #t1 let-date let-focused="focused">
                                  <span class="custom-day"></span>
                              </ng-template>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block btn-sign-in" click="onSubmit()">FIND</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-secondary btn-block btn-create-pwd">RESET</button>
                        </div>
                    </div>
                    <div class="responsive-box">

                    <div class="container text-center">
                      <div class="row">
                        <div class="col">
                          Person Name
                          </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          Check-In<br>
                            Check-Out
                        </div>
                        <div class="col">
                          Billed Amount<br>
                            Booking ID
                        </div>
                        <div class="col">
                          Icon
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          Booking Status
                        </div>
                        <div class="col">
                          Booking Extra Perks
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
