<section id="call-to-action-wrap" class="call-to-action p-t-b-80 light-gray">
  <div class="container">




      <div class="row text-center">
          <div class="col-md-12">
              <!-- start::call-to-action-1-->
              <div class="card">
                  <div class="card-body p-t-b-80">
                      <!-- <h1 class="heading mb-4">Join over 1,400 companies that trust us.</h1> -->
                      <h1 class="heading mb-1">One system.</h1>
                      <h1 class="heading mb-4">One support team.</h1>


                      <h4 class=" text-muted m-5">BookOne is here for you. 24/7/365. We're more than a software company - we're your trusted partner, and here to help you succeed. If you have a question about a booking on an OTA or your website, you can rest easy knowing you have reliable, fast support.</h4>

                      <button routerLink='/landing/contact' routerLinkActive="router-link-active"  class="btn btn-primary btn-rounded btn-lg">Contact Us Now</button>
                  </div>
              </div>
           


          </div>
      </div>

  </div>
</section>