.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.header img {
  width: 100px;
  height: 100px;
}

.header h1 {
  margin-left: 20px;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 20%;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.content {
  flex: 1;
  padding: 20px;
}

.content img {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 20px;
  text-align: center;
}
.xyz{
  background-color: #292763;
}
.zigzag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.zigzag-item {
  width: 48%; /* Adjust the width as needed */
  margin-bottom: 20px;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.zigzag-item:nth-child(odd) {
  transform: translateY(30px);
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  /* Styles for mobile devices */

  .col-1 {
    display: none;
  }

  .col-3 {
    padding-top: 0;
  }

  h1 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  /* Styles for mobile devices */

  .cardClickable {
    width: 100%;
    margin-bottom: 20px;
  }

  .imgcol {
    text-align: center;
  }

  .textcol {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
.image-text-container {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Vertically align content */
}

/* Style for the image */
.image-text-container img {
  height: 20px;
  margin-right: 10px; /* Add some spacing between the image and text */
}

