<div class="landing_wrap" [ngClass]="[backgroundColor]">
  <app-header></app-header>
  <section class="right-image-wrap p-t-b-80 light-firstone ">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-header mb-5"></div>

        <div class="col-md-6 col-lg-5 col-sm-12">
          <div class="row m-0" style="color: white">
            <h1 class="font-weight-bold" style="color: white; padding-top: 50px; font-size: 60px">
              BookOne <br />Connect
            </h1>
            <strong style="font-size: 19px">BOOKONE Connect is a connectivity solution provided by BOOKONE
              that allows hotels to integrate their property management system
              (PMS) with various distribution channels and online travel
              agencies (OTAs).</strong>
          </div>
        </div>

        <div class="col-md-6 col-lg-7 col-sm-12" style="padding-top: 40px;">
          <img src="assets/images/Map.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
  <div class="col-md-12 section-header  mobile_view_header">
    <span class="text-center">Challenges Today</span>
  </div>
  <div class="row desktop_view_challen d-flex" style="margin-left: 0px;margin-right: 0px;">


    <div class="col-8">
      <div class="row m-0">
        <div class="col-12" animateOnScroll animationName="animated fadeIn">
          <div class="row">
            <div class="col-lg col-md-6">
              <div class="cardClickable" style="
                  border-radius: 25px;
                  background-color: #d9ecff;
                  text-align: left;
                  margin-top: 20px;
                  height: 145px;
                ">
                <div class="row">
                  <div class="col-6">
                    <img src="assets/images/Ellipse 1 (1).png" alt="" style="max-width: 50%;" />
                    <div class="textcol" style="
                        font-weight: 800;
                        font-size: 17px;
                        padding-left: 10px;
                        font-family: Inter;
                        padding-top: 20px;
                      ">
                      <p>Guest Base - Limited</p>
                    </div>
                  </div>

                  <div class="col-6" style="padding-top: 10px">
                    <div class="imgcol">
                      <img src="assets/images/Frame 8.png" alt="" style="width: 125px;                        padding-top: 34px;
                        " />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 col-sm-6 mb-4">
              <div class="cardClickable" style="
                  border-radius: 25px;
                  background-color: #d9ecff;
                  text-align: left;
                  margin-top: 20px;
                  height: 145px;
                  font-family: Inter;

                ">
                <div class="row">
                  <div class="col-6">
                    <img src="assets/images/Ellipse 1 (1).png" alt="" style="width: 65px;" />
                    <div class="textcol" style="
                        font-size: 17px;
                        padding-left: 10px;
                        font-family: Inter;
                        font-weight: 700;
                      ">
                      <strong>Limited Revenue Growth</strong>
                    </div>
                  </div>

                  <div class="col-6" style="padding-top: 10px">
                    <div class="imgcol">
                      <img src="assets/images/Frame 8 (2).png" alt="" style="width: 150px" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 mb-4">
              <div class="cardClickable" style="
                  border-radius: 25px;
                  background-color: #d9ecff;
                  text-align: left;
                  margin-top: 20px;
                  height: 145px;
                ">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/images/Ellipse 1 (1).png" alt="" style="width: 65px;" />
                    <div class="textcol" style="
                        font-size: 17px;
                        font-weight: 700;
                        padding-left: 10px;
                        font-family: Inter;
                      ">
                      <strong>Guest Base - Limited</strong>
                    </div>
                  </div>

                  <div class="col-7" style="padding-top: 10px">
                    <div class="imgcol">
                      <img src="assets/images/Frame 8 (3).png" alt="" style="width: 150px" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <div class="cardClickable" style="
                  border-radius: 25px;
                  background-color: #d9ecff;
                  text-align: left;
                  margin-top: 20px;
                  height: 145px;
                ">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/images/Ellipse 1 (1).png" alt="" style="width: 65px;" />
                    <div class="textcol" style="
                        font-weight: 700;
                        font-size: 17px;
                        padding-left: 10px;
                        font-family: Inter;
                      ">
                      <strong>Limited Booking Sources</strong>
                    </div>
                  </div>

                  <div class="col-7" style="padding-top: 10px">
                    <div class="imgcol">
                      <img src="assets/images/Frame 8 (4).png" alt="" style="width: 150px" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0 mb-md-0">
              <div class="cardClickable" style="
                  border-radius: 25px;
                  background-color: #d9ecff;
                  text-align: left;
                  margin-top: 20px;
                  height: 145px;
                ">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/images/Ellipse 1 (1).png" alt="" style="width: 65px;" />
                    <div class="textcol" style="
                        font-weight: 700;
                        font-size: 17px;
                        padding-left: 10px;
                        font-family: Inter;
                      ">
                      <strong>Limited Booking Sources</strong>
                      <button style="
                          background-color: #292763;
                          border-radius: 15px;
                          font-size: 8px;
                          color: white;
                        ">
                        15% to 25%
                      </button>
                    </div>
                  </div>

                  <div class="col-7" style="padding-top: 10px">
                    <div class="imgcol">
                      <img src="assets/images/Frame 8 (5).png" alt="" style="width: 150px" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0 mb-md-0">
              <div class="cardClickable" style="
                  border-radius: 25px;
                  background-color: #d9ecff;
                  text-align: left;
                  margin-top: 20px;
                  height: 145px;
                ">
                <div class="row">
                  <div class="col-4">
                    <img src="assets/images/Ellipse 1 (1).png" alt="" style="width: 65px;" />
                    <div class="textcol" style="
                        font-weight: 700;
                        font-size: 15px;
                        padding-left: 10px;
                        font-family: Inter;
                      ">
                      <strong>Staff Utilisation</strong>
                      <button style="
                          background-color: #292763;
                          border-radius: 15px;
                          font-size: 8px;
                          color: white;
                        ">
                        Less than 50%
                      </button>
                    </div>
                  </div>

                  <div class="col-7" style="padding-top: 10px">
                    <div class="imgcol">
                      <img src="assets/images/Frame 8 (6).png" alt="" style="width: 125px" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-1 vertical-divider"
            style="
                border-left: 6px solid #292763;
                height: 200px;
                position:absolute;
                left: 50%;margin-top: 90px"
            ></div> -->
    <div class="col-md-1 d-none d-md-block">
      <div class="vertical-divider" style="
          width: 100%;
          height: 70%;
          border-left: 6px solid #292763;
          margin-top: 70px;
        "></div>
    </div>
    <!-- end of col6 row -->
    <div class="col-md-3" style="    padding-top: 130px;
    margin-left: -47px;">
      <h1 class="challeng" style="color: #292763; font-size: 50px;font-weight:700;font-family: Inter;">
        Challenges <br />
        Today
      </h1>
    </div>
  </div>

  <div class="row mobile_view_header1" style="margin: 10px;">

    <div class="col-lg col-md-6" style="width: 50%;">
      <div class="cardClickable" style="
            border-radius: 25px;
            background-color: #d9ecff;
            text-align: left;
            margin-top: 20px;
            height: 145px;
          ">
        <div class="row">
          <div class="col-6">
            <img src="assets/images/Ellipse 1 (1).png" alt="" style="width: 71px;" />
            <div class="textcol" style="
                  font-weight: 800;
                  font-size: 17px;
                  padding-left: 10px;
                  font-family: Inter;
                  padding-top: 20px;
                ">
              <p>Guest Base - Limited</p>
            </div>
          </div>

          <div class="col-6" style="padding-top: 10px">
            <div class="imgcol">
              <img src="assets/images/Frame 8.png" alt="" style="width: 125px;                        padding-top: 34px;
                  " />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 col-sm-6 mb-4" style="width: 50%;">
      <div class="cardClickable" style="
            border-radius: 25px;
            background-color: #d9ecff;
            text-align: left;
            margin-top: 20px;
            height: 145px;
            font-family: Inter;

          ">
        <div class="row">
          <div class="col-6">
            <img src="assets/images/Ellipse 1 (1).png" alt="" style="width: 71px;" />
            <div class="textcol" style="
                  font-size: 17px;
                  padding-left: 10px;
                  font-family: Inter;
                  font-weight: 700;
                ">
              <strong>Limited Revenue Growth</strong>
            </div>
          </div>

          <div class="col-6" style="padding-top: 10px">
            <div class="imgcol">
              <img src="assets/images/Frame 8 (2).png" alt="" style="width: 150px" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-6 mb-4" style="width: 50%;">
      <div class="cardClickable" style="
            border-radius: 25px;
            background-color: #d9ecff;
            text-align: left;
            margin-top: 20px;
            height: 145px;
          ">
        <div class="row">
          <div class="col-6">
            <img src="assets/images/Ellipse 1 (1).png" alt="" style="width: 71px;" />
            <div class="textcol" style="
                  font-size: 17px;
                  font-weight: 700;
                  padding-left: 10px;
                  font-family: Inter;
                ">
              <strong>Guest Base - Limited</strong>
            </div>
          </div>

          <div class="col-6" style="padding-top: 10px">
            <div class="imgcol">
              <img src="assets/images/Frame 8 (3).png" alt="" style="width: 150px" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0" style="width: 50%;">
      <div class="cardClickable" style="
            border-radius: 25px;
            background-color: #d9ecff;
            text-align: left;
            margin-top: 20px;
            height: 145px;
          ">
        <div class="row">
          <div class="col-6">
            <img src="assets/images/Ellipse 1 (1).png" alt="" style="width: 71px;" />
            <div class="textcol" style="
                  font-weight: 700;
                  font-size: 17px;
                  padding-left: 10px;
                  font-family: Inter;
                ">
              <strong>Limited Booking Sources</strong>
            </div>
          </div>

          <div class="col-6" style="padding-top: 10px">
            <div class="imgcol">
              <img src="assets/images/Frame 8 (4).png" alt="" style="width: 150px" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0 mb-md-0" style="width: 50%;">
      <div class="cardClickable" style="
            border-radius: 25px;
            background-color: #d9ecff;
            text-align: left;
            margin-top: 20px;
            height: 145px;
          ">
        <div class="row">
          <div class="col-6">
            <img src="assets/images/Ellipse 1 (1).png" alt="" style="width: 71px;" />
            <div class="textcol" style="
                  font-weight: 700;
                  font-size: 17px;
                  padding-left: 10px;
                  font-family: Inter;
                ">
              <strong>Limited Booking Sources</strong>
              <button style="
                    background-color: #292763;
                    border-radius: 15px;
                    font-size: 8px;
                    color: white;width: 50px;height: 30px;
                  ">
                15% to 25%
              </button>
            </div>
          </div>

          <div class="col-6" style="padding-top: 10px">
            <div class="imgcol">
              <img src="assets/images/Frame 8 (5).png" alt="" style="width: 57px;" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0 mb-md-0" style="width: 50%;">
      <div class="cardClickable" style="
            border-radius: 25px;
            background-color: #d9ecff;
            text-align: left;
            margin-top: 20px;
            height: 145px;
          ">
        <div class="row">
          <div class="col-6">
            <img src="assets/images/Ellipse 1 (1).png" alt="" style="width: 71px;" />
            <div class="textcol" style="
                  font-weight: 700;
                  font-size: 15px;
                  padding-left: 10px;
                  font-family: Inter;
                ">
              <strong>Staff Utilisation</strong>
              <button style="
                    background-color: #292763;
                    border-radius: 15px;
                    font-size: 8px;
                    color: white;width: 52px;height: 30px;margin-top: 33px;
                  ">
                Less than 50%
              </button>
            </div>
          </div>

          <div class="col-6" style="padding-top: 10px">
            <div class="imgcol">
              <img src="assets/images/Frame 8 (6).png" alt="" style="width: 125px" />
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div class="col-md-12" style="
    border: 1px solid #000000;
    padding: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
  ">
    <h2 class="font-weight-bold">DISTINCTIVE FEATURE</h2>
    <div class="col-md-12 col-lg-12 col-sm-12 mb-4 mb-lg-0" animateOnScroll animationName="animated fadeIn">

      <div class="row">
        <div class="col-lg col-md-6">
          <div class="cardClickable" style="
              border-radius: 25px;
              border: 1px solid #000000;
              text-align: left;
              margin-top: 20px;
              height: 125px;
            ">
            <div style="padding: 10px">
              <div class="imgcol">
                <img src="assets/images/DIRECT BOOKINGS.png" alt="" style="height: 70px; margin-top: -12px" />
              </div>
              <div class="textcol" style="text-align: center; font-weight: 700; font-size: 13px">
                DIRECT BOOKINGS
              </div>
            </div>

            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                      Google Hotel Center is a platform provided by Google that allows hotels to manage their
                      property information and availability directly on Google's search engine and other
                      Google platforms.Setting up a Google Hotel Center account is free of charge.
                  </div> -->
          </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="cardClickable" style="
              border-radius: 25px;
              border: 1px solid #000000;
              text-align: left;
              margin-top: 20px;
              height: 125px;
            ">
            <div style="padding: 10px">
              <div class="imgcol">
                <img src="assets/images/USER-FRIENDLY.png" alt="" style="height: 65px; margin-top: -5px" />
              </div>
              <div class="textcol" style="font-weight: 700; font-size: 13px; text-align: center">
                USER- <br />
                FRIENDLY
              </div>
            </div>

            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                      Google Hotel Center is a platform provided by Google that allows hotels to manage their
                      property information and availability directly on Google's search engine and other
                      Google platforms.Setting up a Google Hotel Center account is free of charge.
                  </div> -->
          </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="cardClickable" style="
              border-radius: 25px;
              border: 1px solid #000000;
              text-align: left;
              margin-top: 20px;
              height: 125px;
            ">
            <div style="padding: 10px">
              <div class="imgcol">
                <img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px; margin-top: -12px" />
              </div>
              <div class="textcol" style="font-weight: 700; font-size: 13px; text-align: center">
                EASY & CONVENIENT
              </div>
            </div>

            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                      Google Hotel Center is a platform provided by Google that allows hotels to manage their
                      property information and availability directly on Google's search engine and other
                      Google platforms.Setting up a Google Hotel Center account is free of charge.
                  </div> -->
          </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="cardClickable" style="
              border-radius: 25px;
              border: 1px solid #000000;
              text-align: left;
              margin-top: 20px;
              height: 125px;
            ">
            <div style="padding: 10px">
              <div class="imgcol">
                <img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px; margin-top: -12px" />
              </div>
              <div class="textcol" style="font-weight: 700; font-size: 13px; text-align: center">
                24*7 HELPLINE
              </div>
            </div>

            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                    Google Hotel Center is a platform provided by Google that allows hotels to manage their
                    property information and availability directly on Google's search engine and other
                    Google platforms.Setting up a Google Hotel Center account is free of charge.
                </div> -->
          </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="cardClickable" style="
              border-radius: 25px;
              border: 1px solid #000000;
              text-align: left;
              margin-top: 20px;
              height: 125px;
            ">
            <div style="padding: 10px">
              <div class="imgcol">
                <img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px; margin-top: -12px" />
              </div>
              <div class="textcol" style="font-weight: 700; font-size: 13px; text-align: center">
                ENHANCED GUEST EXPERIENCE
              </div>
            </div>

            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                  Google Hotel Center is a platform provided by Google that allows hotels to manage their
                  property information and availability directly on Google's search engine and other
                  Google platforms.Setting up a Google Hotel Center account is free of charge.
              </div> -->
          </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="cardClickable" style="
              border-radius: 25px;
              border: 1px solid #000000;
              text-align: left;
              margin-top: 20px;
              height: 125px;
            ">
            <div style="padding: 10px">
              <div class="imgcol">
                <img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px; margin-top: -12px" />
              </div>
              <div class="textcol" style="font-weight: 700; font-size: 13px; text-align: center">
                MODERN TECH
              </div>
            </div>

            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                Google Hotel Center is a platform provided by Google that allows hotels to manage their
                property information and availability directly on Google's search engine and other
                Google platforms.Setting up a Google Hotel Center account is free of charge.
            </div> -->
          </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="cardClickable" style="
              border-radius: 25px;
              border: 1px solid #000000;
              text-align: left;
              margin-top: 20px;
              height: 125px;
            ">
            <div style="padding: 10px">
              <div class="imgcol">
                <img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px; margin-top: -12px" />
              </div>
              <div class="textcol" style="font-weight: 700; font-size: 13px; text-align: center">
                EASY & CONVENIENT
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="cardClickable" style="
              border-radius: 25px;
              border: 1px solid #000000;
              text-align: left;
              margin-top: 20px;
              height: 125px;
            ">
            <div style="padding: 10px">
              <div class="imgcol">
                <img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px; margin-top: -12px" />
              </div>
              <div class="textcol" style="font-weight: 700; font-size: 13px; text-align: center">
                EASY & CONVENIENT
              </div>
            </div>

            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
            Google Hotel Center is a platform provided by Google that allows hotels to manage their
            property information and availability directly on Google's search engine and other
            Google platforms.Setting up a Google Hotel Center account is free of charge.
        </div> -->
          </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="cardClickable" style="
              border-radius: 25px;
              border: 1px solid #000000;
              text-align: left;
              margin-top: 20px;
              height: 125px;
            ">
            <div style="padding: 10px">
              <div class="imgcol">
                <img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px; margin-top: -12px" />
              </div>
              <div class="textcol" style="font-weight: 700; font-size: 13px; text-align: center">
                EASY & CONVENIENT
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <section class="right-image-wrap p-t-b-80 light" style="background-color: #292763">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 card_style_google">
          <div class="textcol" style="
                font-weight: 700;
                font-size: 42px;
                padding: 10px;
                color: white;
              ">
            OUR <br />
            SUBSCRIPTION
          </div>
        </div>
        <div class=" col-lg-4 col-md-6 card_style_google">
          <div class="cardClickable" style="
                border-radius: 25px;
                background-color: #d9ecff;
                text-align: left;
                margin-top: 20px;
                height: 230px;
              ">
            <div class="row">
              <div class="col-8">
                <div class="textcol" style="font-weight: 700; font-size: 19px; padding: 10px;font-family: Inter; padding: 20px;
                    ">
                  <strong>Website</strong>
                </div>
                <ol style="font-size: 12px">
                  <li>SEO Plus Content Management</li>
                  <li>Direct Booking & Payments</li>
                  <li>Free Booking Links</li>
                  <li>Promotions & Campaigns</li>
                  <li>Website Monitoring Service</li>
                  <li>
                    Google Tag Manager, Search Console, Google Analytics
                  </li>
                </ol>
              </div>


              <div class="col-4">
                <div class="imgcol">
                  <img src="assets/images/Website-box.png" alt=""
                    style="width: 90px; height: 150px; padding-top: 40px" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-md-6 card_style_google">
          <div class="cardClickable" style="
                border-radius: 25px;
                background-color: #d9ecff;
                text-align: left;
                margin-top: 20px;
                height: 230px;
              ">
            <div class="row">
              <div class="col-8">
                <div class="textcol" style="font-weight: 700; font-size: 19px; padding: 10px; font-family: Inter; padding: 20px;
                    ">
                  <strong>WhatsApp Marketing</strong>
                </div>
                <ol style="font-size: 12px">
                  <li>Promotion, Offers directly to the customer</li>
                  <li>Direct Marketing</li>
                  <li>Better Conversion</li>
                  <li>Tracking</li>
                  <li>Birthday / Marriage Wish</li>
                </ol>
              </div>


              <div class="col-4">
                <div class="imgcol">
                  <img src="assets/images/WhatsApp Marketing.png" alt="" style="padding-top: 40px" />
                </div>
              </div>
            </div>

          </div>
        </div>



        <div class=" col-lg-4 col-md-6 card_style_google">
          <div class="cardClickable" style="
                border-radius: 25px;
                background-color: #d9ecff;
                text-align: left;
                margin-top: 20px;
                height: 230px;
              ">
            <div class="row">
              <div class="col-8">
                <div class="textcol" style="font-weight: 700; font-size: 19px; padding: 10px; font-family: Inter; padding: 20px;
                    ">
                  <strong>Social Media</strong>
                </div>
                <ol style="font-size: 12px">
                  <li>Reach</li>
                  <li>Visibility</li>
                  <li>Engagement</li>
                  <li>Periodic Promotion</li>
                  <li>Active Business</li>
                  <li>Good Email Marketing Strategy</li>
                </ol>
              </div>


              <div class="col-4">
                <div class="imgcol">
                  <img src="assets/images/Social Media.png" alt="" style="padding-top: 40px" />
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class=" col-lg-4 col-md-6 card_style_google">
          <div class="cardClickable" style="
                border-radius: 25px;
                background-color: #d9ecff;
                text-align: left;
                margin-top: 20px;
                height: 230px;
              ">
            <div class="row">
              <div class="col-8">
                <div class="textcol" style="font-weight: 700; font-size: 19px; padding: 10px; font-family: Inter; padding: 20px;
                    ">
                  <strong>Google Hotels</strong>
                </div>
                <ol style="font-size: 12px">
                  <li>Generate Higher Numberof DirectBookings</li>
                  <li>ComparePrices FromVariousSources</li>
                </ol>
              </div>


              <div class="col-4">
                <div class="imgcol">
                  <img src="assets/images/Google Hotels.png" alt="" style="width: 145px;
                    height: 163px; padding-top: 40px" />
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class=" col-lg-4 col-md-6 card_style_google">
          <div class="cardClickable" style="
                border-radius: 25px;
                background-color: #d9ecff;
                text-align: left;
                margin-top: 20px;
                height: 230px;
              ">
            <div class="row">
              <div class="col-8">
                <div class="textcol" style="font-weight: 700; font-size: 19px; padding: 10px; font-family: Inter; padding: 25px;
                    ">
                  <strong>Google Hotels</strong>
                </div>
                <ol style="font-size: 12px">
                  <li>Generate Higher Numberof DirectBookings</li>
                  <li>ComparePrices FromVariousSources</li>
                </ol>
              </div>


              <div class="col-4">
                <div class="imgcol">
                  <img src="assets/images/Google Hotels.png" alt="" style="width: 145px;
                    height: 163px; padding-top: 40px" />
                </div>
              </div>
            </div>

          </div>
        </div>





        <div class=" col-lg-4 col-md-6 card_style_google">
          <div class="cardClickable" style="
                border-radius: 25px;
                background-color: #d9ecff;
                text-align: left;
                margin-top: 20px;
                height: 230px;
              ">
            <div class="row">
              <div class="col-8">
                <div class="textcol" style="font-weight: 700; font-size: 19px; padding: 10px; font-family: Inter; padding: 20px;
                    ">
                  <strong>Social Media</strong>
                </div>
                <ol style="font-size: 12px">
                  <li>Reach</li>
                  <li>Visibility</li>
                  <li>Engagement</li>
                  <li>Periodic Promotion</li>
                  <li>Active Business</li>
                  <li>Good Email Marketing Strategy</li>
                </ol>
              </div>

              <div class="col-4">
                <div class="imgcol">
                  <img src="assets/images/Social Media.png" alt="" style=" padding-top: 40px" />
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 card_style_google ">
          <div class="cardClickable" style="
                border-radius: 25px;
                background-color: #d9ecff;
                text-align: left;
                margin-top: 20px;
                height: 230px;
              ">
            <div class="row">
              <div class="col-8">
                <div class="textcol" style="font-weight: 700; font-size: 19px; padding: 10px; font-family: Inter; padding: 25px;
                    ">
                  <strong>Google Hotels</strong>
                </div>
                <ol style="font-size: 12px">
                  <li>Generate Higher Numberof DirectBookings</li>
                  <li>ComparePrices FromVariousSources</li>
                </ol>
              </div>


              <div class="col-4">
                <div class="imgcol">
                  <img src="assets/images/Google Hotels.png" alt="" style="width: 145px;
                    height: 163px; padding-top: 40px" />
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 card_style_google ">
          <div class="cardClickable" style="
                border-radius: 25px;
                background-color: #d9ecff;
                text-align: left;
                margin-top: 20px;
                height: 230px;
              ">
            <div class="row">
              <div class="col-8">
                <div class="textcol" style="font-weight: 700; font-size: 19px; padding: 10px; font-family: Inter; padding: 25px;
                    ">
                  <strong>Google Hotels</strong>
                </div>
                <ol style="font-size: 12px">
                  <li>Generate Higher Numberof DirectBookings</li>
                  <li>ComparePrices FromVariousSources</li>
                </ol>
              </div>


              <div class="col-4">
                <div class="imgcol">
                  <img src="assets/images/Google Hotels.png" alt="" style="width: 145px;
                    height: 163px; padding-top: 40px" />
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>
  <section style="padding: 50px;">
    <div class="col-12">
      <div class="imgcol">
        <strong class="colimginn" style="color: #020045; font-size: 40px; font-family: Inter;
        ">We are here to list your property <br />
          on Google - Direct Booking</strong>
      </div>
      <div style="    display: flex;
      justify-content: center;">
        <img src="assets/images/Frame 54.png" alt="" style="width: 500px;">

      </div>
    </div>
  </section>
  <p style="font-size: 25px;
  padding-left: 50px;
  margin-bottom: 44px;">
    Google is the primary search engine for any kind of information, when we are
    talking about accommodation search, some travelers
    or families planning a trip
  </p>
</div>
<div class="zig-section" style="padding: 20px;">
  <div class="row">
    <div class="col-12 col-md-6 sdfg">



      <div class="cardClickable-viw" style="margin-left: 20px">
        <div class="textcol-viw-10">
          <strong style="color: #fff">Random Search</strong>
        </div>

        <div class="viw" style="padding: 10px; border: 0.3px solid #000; ">
          <div class="textcol-viw-9" style="font-size: 15px;">
            Search based on the location, and city, to get a list of
            Accommodation Options
          </div>
        </div>
      </div>

      <div class="cardClickable-viw" style="margin-left: 20px;margin-top:40px ;">
        <div class="textcol-viw-8">
          <strong style="color: #fff">Quality Aspects</strong>
        </div>

        <div class="viw" style="padding: 10px; border: 0.3px solid #000;">
          <div class="textcol-viw-7" style="font-size: 15px;">
            Then search narrows down to the quality aspects of the stay
            such as feedback, photos, room amenities, and facilities,
            then the convenience aspects such as how far the attractions
            are or other nearby amenities or popular places.
          </div>
        </div>
      </div>



      <div class="cardClickable-viw" style="margin-left: 20px;margin-top:40px ;">
        <div class="textcol-viw-6">
          <strong style="color: #fff">Finalization & Decision Making
          </strong>
        </div>

        <div class="viw" style="padding: 10px; border: 0.3px solid #000; ">
          <div class="textcol-viw-5" style="font-size: 15px;">
            The most important is the Pricing Aspects. Google Lodging /
            Google Hotel Center displays collectively the pricing
            information of the different room categories across
            different Online Travel Agencies. Having all in one place
            enables the Traveller to choose the most cost-effective
            options.
          </div>
        </div>
      </div>


      <div class="cardClickable-viw" style="margin-left: 20px;margin-top: 40px">
        <div class="textcol-viw-3">
          <strong style="color: #fff">Free Booking Links </strong>
        </div>

        <div class="viw" style="padding: 10px; border: 0.3px solid #000;">
          <div class="textcol-viw-4" style="font-size: 15px;">
            Keeping in mind, all Online Travel Agencies works in a
            commission model between 15%-30% for each booking made,
            Hotelier should think to invest in their own Booking Engine
            and provide the Free Booking Link along with other OTA
            option. Hoteliers must be enabled to show their direct
            booking options as “Official Site”
          </div>
        </div>
      </div>

      <div class="cardClickable-viw" style="margin-left: 20px;margin-top: 40px">
        <div class="textcol-viw">
          <strong style="color: #fff">How this works </strong>
        </div>

        <div class="viw" style="padding: 10px; border: 0.3px solid #000;">
          <div class="textcol-viw-1" style="font-size: 15px;">
            Talk to Google Hotel Expert from Team BookOne today to
            enable your “Free Booking Links” for your accommodation
            business, and help you grow your accommodation business via
            Direct Bookings. We have curated our Product and Service to
            enhance your “Direct Bookings”. Point to note Google is one
            of many ways of Getting your Direct Bookings, but there are
            other ways as well. Talk to us to help you and get you
            started on the “Sustainable Accommodation Journey”.
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="zigzag-container">
        <div class="zigzag-item" style="height: 100px">
          <img src="assets/images/Frame 34.png" alt="" height="200px" style="margin-top: -75px;
          width: 200px;
          margin-left: 88px;" />
        </div>
        <div class="zigzag-item">
          <img src="assets/images/Frame 35.png" alt="Image 2" style="margin-top: 60px" />
        </div>
        <div class="zigzag-item">
          <img src="assets/images/Frame 36.png" alt="Image 3" style="margin-top: -323px;" />
        </div>
        <div class="row justify-content-center">
          <div class="col-12">
            <img src="assets/images/Frame 44.png" alt="Image 4"
              style="margin-top: -55px; padding-left: 100px;height:200px" />
          </div>
          <!-- <div class="col-5">
            <img src="assets/images/Frame 33.png" alt="Image 4" />
          </div> -->

        </div>

        <div class="row justify-content-center">
          <div class="col-12">
            <img src="assets/images/Frame 33.png" alt="Image 4" style="    margin-top: 24px;
            padding-right: 50px;
            height: 250px;
            width: 500px;" />
          </div>
          <!-- <div class="col-5">
              <img src="assets/images/Frame 33.png" alt="Image 4" />
            </div> -->

        </div>

        <!-- Add more image items as needed -->
      </div>
    </div>
  </div>
</div>

<!-- <div class="tab-zig-section">
  <div style="display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;">
  <div >
    <div >
      <img src="assets/images/Frame 34.png" alt="" height="200px" />
    </div>

  </div>

    <div>
      <div  style="margin-left: 20px">
        <div class="textcol-viw-10">
          <strong style="color: #fff">Random Search</strong>
        </div>

        <div class="viw" style="padding: 10px; border: 0.3px solid #000; ">
          <div class="textcol-viw-9" style="font-size: 15px;">
            Search based on the location, and city, to get a list of
            Accommodation Options
          </div>
        </div>
      </div>
    </div>






  </div>

  <div  style="display: flex;
  justify-content: center;">

    <div class="col-6">
      <img src="assets/images/Frame 35.png" alt="" height="200px" width="300px" />
    </div>



      <div class="col-6"  style="margin-left: 20px">
        <div class="textcol-viw-10">
          <strong style="color: #fff">Quality Aspects</strong>
        </div>

        <div class="viw" style="padding: 10px; border: 0.3px solid #000; ">
          <div class="textcol-viw-9" style="font-size: 15px;">
            Then search narrows down to the quality aspects of the stay
            such as feedback, photos, room amenities, and facilities,
            then the convenience aspects such as how far the attractions
            are or other nearby amenities or popular places.
          </div>
        </div>

    </div>






  </div>
</div>

<div class="tab-zig-section">

</div> -->


<div class="page-footer">

  <div class="row">

    <div class="col-6">
      <div class="connect2" style="color: #020045">
        <h1 class="font-weight-bold" style="    color: #020045;
          padding-top: 50px;
          font-size: 43px;">
          24/7<br />
          Customer Support
        </h1>
        <p style="font-size: 18px;
        ">
          Our Team Is Here To Provide You With Personalized And Outstanding
          Service.
        </p>
        <strong style="font-size: 20px;">Customer service number</strong><br />
        <p style="font-size: 15px;">9040785704/9040785703</p>
      </div>


    </div>

    <div class="col-6">

      <div class="footer-support">
        <img src="assets/images/Customer Support.png" alt="" class="footer-support1" />
      </div>

    </div>

    <div class="col-6 minicard">
      <div class="row">


        <div class="col">
          <div class="cardClickable2a">
            <div>
              <div class="imgcol">
                <img src="assets/images/Ibtesaam Fatma.png" alt="" style="height: 70px; align-items: center; " />
              </div>
              <div class="textcol2a">
                Ibtesaam Fatma
              </div>
              <p style="text-align: center;
        font-size: 12px;">
                Sales & Product Line
                Manager
              </p>
            </div>


          </div>
        </div>
        <div class="col">
          <div class="cardClickable2a">
            <div>
              <div class="imgcol">
                <img src="assets/images/Tarasankar das.png" alt="" style="height: 70px; align-items: center; " />
              </div>
              <div class="textcol2a">
                Tarasankar das
              </div>
              <p style="text-align: center;
        font-size: 12px;">
                Customer service support
              </p>
            </div>


          </div>
        </div>
        <div class="col">
          <div class="cardClickable2a">
            <div>
              <div class="imgcol">
                <img src="assets/images/Manish Singh.png" alt="" style="height: 70px; align-items: center; " />
              </div>
              <div class="textcol2a">
                Manish Singh
              </div>
              <p style="text-align: center;
        font-size: 12px;">
                Junior Software Developer
              </p>
            </div>


          </div>
        </div>

      </div>

    </div>


    <div class="col-6">

      <div class="row">
        <div class="col">

          <h2 style="color: #000;
          font-size: 20px;
          font-weight: 700;">For Enquiry</h2>

          <p style="    color: #000;
          font-size: 13px;
          margin-top: -6px;
          margin-left: -11px;">
            <span> <img src="assets/images/Call.png" alt="" style="height: 15px;" /></span> +91 90041 29369
          </p>
        </div>
        <div class="col">

          <h2 style="color: #000;
        font-size: 20px;
        font-weight: 700;">Website</h2>

          <p style="    color: #000;
        font-size: 13px;
        margin-top: -6px;
        margin-left: -11px;">
            <span> <img src="assets/images/Frame 52.png" alt="" style="height: 15px;" /></span> www.thehotelmate.com
          </p>
        </div>
        <div class="col">

          <h2 style="color: #000;
      font-size: 20px;
      font-weight: 700;">MAIL US</h2>

          <p style="    color: #000;
      font-size: 13px;
      margin-top: -6px;
      margin-left: -11px;">
            <span> <img src="assets/images/Contact mail.png" alt="" style="height: 15px;" /></span>
            support@thehotelmate.com
          </p>
        </div>
      </div>

    </div>



  </div>
</div>

<div class="tab-page-footer">
  <div class="row">
    <div class="col-md-6">
      <div>
        <h2 style="color: #020045;
        font-size: 30px;
        font-weight: 700;
        padding-left: 57px;
    padding-top: 32px;">24/7 <br />
          Customer Support</h2>

        <p style="padding-left: 57px;color: #000;
          font-size: 16px;">Our Team Is Here To Provide You With Personalized And Outstanding Service.</p>
        <p style="padding-left: 57px;color: #000;
          font-size: 22px; font-weight: 600;">Customer service number</p>
        <p style="padding-left: 57px;color: #000;
          font-size: 16px; margin-top: -13px;">9040785704/9040785703</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="footer-support11">
        <img src="assets/images/Customer Support.png" alt="" class="footer-support11a" />
      </div>
    </div>


    <div class="col-md-3" style="margin-left: 111px;">

      <h2 style="color: #000;
          font-size: 20px;
          font-weight: 700;">For Enquiry</h2>

      <p style="    color: #000;
          font-size: 13px;
          margin-top: -6px;
          margin-left: -11px;">
        <span> <img src="assets/images/Call.png" alt="" style="height: 15px;" /></span> +91 90041 29369
      </p>
    </div>
    <div class="col-md-3">

      <h2 style="color: #000;
        font-size: 20px;
        font-weight: 700;">Website</h2>

      <p style="    color: #000;
        font-size: 13px;
        margin-top: -6px;
        margin-left: -11px;">
        <span> <img src="assets/images/Frame 52.png" alt="" style="height: 15px;" /></span> www.thehotelmate.com
      </p>
    </div>
    <div class="col-md-4">

      <h2 style="color: #000;
      font-size: 20px;
      font-weight: 700;">MAIL US</h2>

      <p style="    color: #000;
      font-size: 13px;
      margin-top: -6px;
      margin-left: -11px;">
        <span> <img src="assets/images/Contact mail.png" alt="" style="height: 15px;" /></span>
        support@thehotelmate.com
      </p>
    </div>

    <div class="col-md-3" style="margin-left: 105px;">
      <div class="cardClickable2a">
        <div>
          <div class="imgcol">
            <img src="assets/images/Ibtesaam Fatma.png" alt="" style="height: 70px; align-items: center; " />
          </div>
          <div class="textcol2a">
            Ibtesaam Fatma
          </div>
          <p style="text-align: center;
      font-size: 12px;">
            Sales & Product Line
            Manager
          </p>
        </div>


      </div>
    </div>

    <div class="col-md-3">
      <div class="cardClickable2a">
        <div>
          <div class="imgcol">
            <img src="assets/images/Tarasankar das.png" alt="" style="height: 70px; align-items: center; " />
          </div>
          <div class="textcol2a">
            Tarasankar das
          </div>
          <p style="text-align: center;
        font-size: 12px;">
            Customer service support
          </p>
        </div>


      </div>
    </div>

    <div class="col-md-3">
      <div class="cardClickable2a">
        <div>
          <div class="imgcol">
            <img src="assets/images/Manish Singh.png" alt="" style="height: 70px; align-items: center; " />
          </div>
          <div class="textcol2a">
            Manish Singh
          </div>
          <p style="text-align: center;
      font-size: 12px;">
            Junior Software Developer
          </p>
        </div>


      </div>
    </div>


  </div>

</div>

<div class="mob-page-footer">

  <div>
    <div>
      <h2 style="    color: #020045;
      font-size: 26px;
      font-weight: 700;
      padding-left: 17px;
      padding-top: 49px;">24/7 <br />
        Customer Support</h2>

      <p style="padding-left: 17px;
        color: #000;
        font-size: 14px;">Our Team Is Here To Provide You With Personalized And Outstanding Service.</p>
      <p style="    padding-left: 17px;
        color: #000;
        font-size: 19px;
        font-weight: 700;">Customer service number</p>
      <p style="padding-left: 17px;
        color: #000;
        font-size: 14px;
        margin-top: -13px;">9040785704/9040785703</p>
    </div>


  </div>

  <div>
    <div class="mob-page" style="display: flex;
">

  <div style="display: flex;
  flex-wrap: wrap;
  ">
    <div class="cardClickable2a">
      <div>
        <div class="imgcol">
          <img src="assets/images/Ibtesaam Fatma.png" alt="" style="height: 59px; align-items: center; " />
        </div>
        <div class="textcol2a">
          Ibtesaam Fatma
        </div>
        <p style="text-align: center;
      font-size: 12px;color: #fff !important;">
          Sales & Product Line
          Manager
        </p>
      </div>


    </div>
  </div>

  <div style="display: flex;
  flex-wrap: wrap;
  ">
    <div class="cardClickable2a">
      <div>
        <div class="imgcol">
          <img src="assets/images/Tarasankar das.png" alt="" style="height: 59px; align-items: center; " />
        </div>
        <div class="textcol2a">
          Tarasankar das
        </div>
        <p style="text-align: center;
        font-size: 12px; color: #fff !important;">
          Customer service support
        </p>
      </div>


    </div>
  </div>

  <div style="display: flex;
  flex-wrap: wrap;
 ">
    <div class="cardClickable2a">
      <div>
        <div class="imgcol">
          <img src="assets/images/Manish Singh.png" alt="" style="height: 59px;align-items: center; " />
        </div>
        <div class="textcol2a">
          Manish Singh
        </div>
        <p style="text-align: center;
      font-size: 12px; color: #fff !important;">
          Junior Software Developer
        </p>
      </div>


    </div>
  </div>
</div>
  </div>

</div>



<!-- <section
    class="right-image-wrap p-t-b-80 light  fgd"
    style="

    "
  >
    <div class="container" >
      <div class="row">
        <div class="col-md-12 section-header mb-5"></div>

        <div class="col-5">
          <div class="row m-0" style="color: #020045">
            <h1
              class="font-weight-bold"
              style="color: #020045; padding-top: 50px; font-size: 40px">
              24/7<br />
              Customer Support
            </h1>
            <p style="font-size: 19px">
              Our Team Is Here To Provide You With Personalized And Outstanding
              Service.
            </p>
            <strong>Customer service number</strong><br />
          </div>
          <p>9040785704/9040785703</p>
        </div>

        <div class="col-6">
          <div class="custmn">
            <img
              src="assets/images/Customer Support.png"
              alt=""
              style="height: 500px; margin-top: -190px"
            />
          </div>
        </div>
      </div>
    </div>
  </section> -->

<!-- <div class="row fgd" style="margin-top: -100px; padding-bottom: 50px; padding-left: 100px;">

      <div class="col-lg col-md-6">
        <div
          class="cardClickable"
          style="
            border-radius: 25px;
            border: 1px solid #000000;
            background: linear-gradient(
              180deg,
              #020045 0%,
              rgba(2, 0, 69, 0) 100%
            );
            text-align: left;
            margin-top: 20px;
            height: 170px;
          "
        >
          <div style="padding: 20px">
            <div class="imgcol">
              <img
                src="assets/images/Ibtesaam Fatma.png"
                alt=""
                style="height: 70px; margin-top: -12px; align-items: center; padding-left: 40px;"
              />
            </div>
            <div
              class="textcol"
              style="text-align: center; font-weight: 700; font-size: 13px"
            >
              Ibtesaam Fatma
            </div>
            <p style="text-align: center">
              Sales & Product Line <br />
              Manager
            </p>
          </div>


        </div>
      </div>
      <div class="col-lg col-md-6">
        <div
          class="cardClickable"
          style="
            border-radius: 25px;
            border: 1px solid #000000;
            background: linear-gradient(
              180deg,
              #020045 0%,
              rgba(2, 0, 69, 0) 100%
            );
            text-align: left;
            margin-top: 20px;
            height: 170px;
          "
        >
          <div style="padding: 10px">
            <div class="imgcol">
              <img
                src="assets/images/Tarasankar das.png"
                alt=""
                style="height: 65px;
                margin-top: 2px;
                padding-left: 55px"
              />
            </div>
            <div
              class="textcol"
              style="font-weight: 700; font-size: 13px; text-align: center"
            >
              Tarasankar das
            </div>
            <p style="text-align: center">Customer service support</p>
          </div>


        </div>
      </div>
      <div class="col-lg col-md-6">
        <div
          class="cardClickable"
          style="
            border-radius: 25px;
            border: 1px solid #000000;
            background: linear-gradient(
              180deg,
              #020045 0%,
              rgba(2, 0, 69, 0) 100%
            );
            text-align: left;
            margin-top: 20px;
            height: 170px;
          "
        >
          <div style="padding: 10px">
            <div class="imgcol">
              <img
                src="assets/images/Manish Singh.png"
                alt=""
                style="height: 60px;
                margin-top: 7px;
                padding-left: 55px;"
              />
            </div>
            <div
              class="textcol"
              style="font-weight: 700; font-size: 13px; text-align: center"
            >
              Manish Singh
            </div>
            <p style="text-align: center">Junior Software Developer</p>
          </div>

        </div>
      </div>
      <div class="col-lg col-md-6">
        <div
          class="cardClickable"
          style="
            border-radius: 25px;
            text-align: left;
            margin-top: 20px;
            height: 125px;
          "
        >
          <div style="padding: 10px">
            <div
              class="textcol"
              style="font-weight: 700; font-size: 13px; text-align: center"
            >
              For Enquiry
            </div>
            <div class="image-text-container">
              <img src="assets/images/Call.png" alt="" style="height: 20px;"/>
              <p style="padding-top: 13px;">+91 90041 29369</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-6">
        <div
          class="cardClickable"
          style="
            border-radius: 25px;
            text-align: left;
            margin-top: 20px;
            height: 125px;
          "
        >
          <div style="padding: 10px">
            <div
              class="textcol"
              style="font-weight: 700; font-size: 13px; text-align: center"
            >
              Website
            </div>
            <div class="image-text-container">
              <img src="assets/images/Frame 52.png" alt="" style="height: 20px;" />
              <p style="padding-top: 13px;">www.thehotelmate.com</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg col-md-6">
        <div
          class="cardClickable"
          style="
            border-radius: 25px;
            text-align: left;
            margin-top: 20px;
            height: 125px;
          "
        >
          <div style="padding: 10px">
            <div
              class="textcol"
              style="font-weight: 700; font-size: 13px; text-align: center"
            >
              MAIL US
            </div>
            <div class="image-text-container">
              <img
                src="assets/images/Contact mail.png"
                alt=""
                style="height: 20px;"
              />
              <p style="padding-top: 13px;">support@thehotelmate.com</p>
            </div>
          </div>
        </div>
      </div>

  </div> -->



<app-footer></app-footer>
