<div class="landing_wrap " [ngClass]="[backgroundColor]">
  <app-header></app-header>
  <section class="right-image-wrap p-t-b-80 light" style="background: linear-gradient(111deg, rgba(41, 39, 99, 0.90) 48.7%, rgba(41, 39, 99, 0.00) 63.98%);height: 600px;">
    <div class="container">
        <div class="row">

            <div class="col-md-12 section-header mb-5">

            </div>

              <div class="col-5">
                <div class="row m-0" style="color: white;"><h1 class="font-weight-bold" style="color: white; padding-top: 50px;font-size: 60px;">BookOne <br>Connect</h1>
                <strong style="font-size: 19px;">BOOKONE Connect is a connectivity solution provided by BOOKONE that allows hotels to integrate their property management system (PMS) with various distribution channels and online travel agencies (OTAs).</strong>

                   </div>
            </div>
         <!-- end of col6 row -->
            <div class="col-6">
              <img src="assets/images/Map.png" alt="">
            </div>

        </div>
        </div>
      </section>


        <div class="row">

          <div class="col-md-12 section-header mb-5">

          </div>

            <div class="col-md-12 col-lg-6 col-sm-12 mb-4 mb-lg-0">
              <div class="row m-0">
              <div class="col-md-12 col-lg-12 col-sm-12 mb-4 mb-lg-0" animateOnScroll animationName="animated fadeIn">
                <div class="row">



                  <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-4 ">
                    <div class="card" style="background-color: aquamarine;">
                      <div style="height: 50px;width: 50px;color: #221950; border-top-right-radius: 50px;"></div>

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-cloud-upload-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Guest Base - Limited</h4>

                            </div>
                        </div>
                    </div> -->
                    <div class="col-lg col-md-6">
                      <div class="cardClickable"
                      style="border-radius: 25px; border: 3px solid #221950; text-align: left; margin-top: 20px; height: 230px;background-color: #D9ECFF;">
                              <div style="height: 50px;width: 50px;background-color: #221950; border-bottom-right-radius: 50px;">
                              </div>

                              <div class="imgcol"><img src="assets/images/onboard3.png" alt="" style="width: 80px;">
                              </div>
                              <div class="textcol" style="
                                  font-weight: 700;font-size: 19px; padding: 10px;">
                                  Guest Base - Limited                              </div>
                          </div>


                          <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                              Google Hotel Center is a platform provided by Google that allows hotels to manage their
                              property information and availability directly on Google's search engine and other
                              Google platforms.Setting up a Google Hotel Center account is free of charge.
                          </div> -->




                  </div>

                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 ">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center"style="background-color: #D9ECFF;">
                                <i class="eva eva-sun-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Limited Revenue Growth</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 ">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center"style="background-color: #D9ECFF;">
                                <i class="eva eva-calendar-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Guest Base - Limited</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center"style="background-color: #D9ECFF;">
                                <i class="eva eva-link-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Limited Booking Sources</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center"style="background-color: #D9ECFF;">
                                <i class="eva eva-edit-2-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Limited Booking Sources</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center"style="background-color: #D9ECFF;">
                                <i class="eva eva-save-outline text-30 text-gradient"></i>
                                <h4 class="card-title pt-2 text-16">Staff Utilisation</h4>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

                 </div>
          </div>
       <!-- end of col6 row -->
          <div class="col-md-12 col-lg-5 col-sm-12 offset-lg-1">
            <h2 class="font-weight-bold">Challenges Today</h2>
          </div>

      </div>

      <div class="col-md-12">
        <h2 class="font-weight-bold">DISTINCTIVE FEATURE</h2>
        <div class="col-md-12 col-lg-12 col-sm-12 mb-4 mb-lg-0" animateOnScroll animationName="animated fadeIn">
          <div class="row">

            <div class="row">
              <div class="col-lg col-md-6">
                <div class="cardClickable"
                    style="border-radius: 25px; border: 1px solid #000000; text-align: left;margin-top: 20px;height: 125px;">
                    <div style="padding: 10px;">
                        <div class="imgcol"><img src="assets/images/DIRECT BOOKINGS.png" alt="" style="height: 70px;margin-top: -12px;">
                        </div>
                        <div class="textcol" style=" text-align: center;
                            font-weight: 700;font-size: 13px;">
                           DIRECT BOOKINGS                       </div>
                    </div>


                    <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                        Google Hotel Center is a platform provided by Google that allows hotels to manage their
                        property information and availability directly on Google's search engine and other
                        Google platforms.Setting up a Google Hotel Center account is free of charge.
                    </div> -->




                </div>
            </div>
              <div class="col-lg col-md-6">
                <div class="cardClickable"
                    style="border-radius: 25px; border: 1px solid #000000; text-align: left;margin-top: 20px;height: 125px;">
                    <div style="padding: 10px;">
                        <div class="imgcol"><img src="assets/images/USER-FRIENDLY.png" alt="" style="height: 65px;margin-top: -5px;">
                        </div>
                        <div class="textcol" style="
                            font-weight: 700;font-size: 13px;text-align: center;">
                               USER- <br> FRIENDLY                       </div>
                    </div>


                    <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                        Google Hotel Center is a platform provided by Google that allows hotels to manage their
                        property information and availability directly on Google's search engine and other
                        Google platforms.Setting up a Google Hotel Center account is free of charge.
                    </div> -->




                </div>
            </div>
              <div class="col-lg col-md-6">
                <div class="cardClickable"
                    style="border-radius: 25px; border: 1px solid #000000; text-align: left;margin-top: 20px;height: 125px;">
                    <div style="padding: 10px;">
                        <div class="imgcol"><img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px;margin-top: -12px;">
                        </div>
                        <div class="textcol" style="
                            font-weight: 700;font-size: 13px;text-align: center;">
                               EASY & CONVENIENT                        </div>
                    </div>


                    <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                        Google Hotel Center is a platform provided by Google that allows hotels to manage their
                        property information and availability directly on Google's search engine and other
                        Google platforms.Setting up a Google Hotel Center account is free of charge.
                    </div> -->




                </div>
            </div>
            <div class="col-lg col-md-6">
              <div class="cardClickable"
                  style="border-radius: 25px; border: 1px solid #000000; text-align: left;margin-top: 20px;height: 125px;">
                  <div style="padding: 10px;">
                      <div class="imgcol"><img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px;margin-top: -12px;">
                      </div>
                      <div class="textcol" style="
                          font-weight: 700;font-size: 13px;text-align: center;">
                             EASY & CONVENIENT                        </div>
                  </div>


                  <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                      Google Hotel Center is a platform provided by Google that allows hotels to manage their
                      property information and availability directly on Google's search engine and other
                      Google platforms.Setting up a Google Hotel Center account is free of charge.
                  </div> -->




              </div>
          </div>
          <div class="col-lg col-md-6">
            <div class="cardClickable"
                style="border-radius: 25px; border: 1px solid #000000; text-align: left;margin-top: 20px;height: 125px;">
                <div style="padding: 10px;">
                    <div class="imgcol"><img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px;margin-top: -12px;">
                    </div>
                    <div class="textcol" style="
                        font-weight: 700;font-size: 13px;text-align: center;">
                           EASY & CONVENIENT                        </div>
                </div>


                <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                    Google Hotel Center is a platform provided by Google that allows hotels to manage their
                    property information and availability directly on Google's search engine and other
                    Google platforms.Setting up a Google Hotel Center account is free of charge.
                </div> -->




            </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="cardClickable"
              style="border-radius: 25px; border: 1px solid #000000; text-align: left;margin-top: 20px;height: 125px;">
              <div style="padding: 10px;">
                  <div class="imgcol"><img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px;margin-top: -12px;">
                  </div>
                  <div class="textcol" style="
                      font-weight: 700;font-size: 13px;text-align: center;">
                         EASY & CONVENIENT                        </div>
              </div>


              <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                  Google Hotel Center is a platform provided by Google that allows hotels to manage their
                  property information and availability directly on Google's search engine and other
                  Google platforms.Setting up a Google Hotel Center account is free of charge.
              </div> -->




          </div>
      </div>
      <div class="col-lg col-md-6">
        <div class="cardClickable"
            style="border-radius: 25px; border: 1px solid #000000; text-align: left;margin-top: 20px;height: 125px;">
            <div style="padding: 10px;">
                <div class="imgcol"><img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px;margin-top: -12px;">
                </div>
                <div class="textcol" style="
                    font-weight: 700;font-size: 13px;text-align: center;">
                       EASY & CONVENIENT                        </div>
            </div>


            <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                Google Hotel Center is a platform provided by Google that allows hotels to manage their
                property information and availability directly on Google's search engine and other
                Google platforms.Setting up a Google Hotel Center account is free of charge.
            </div> -->




        </div>
    </div>
    <div class="col-lg col-md-6">
      <div class="cardClickable"
          style="border-radius: 25px; border: 1px solid #000000; text-align: left;margin-top: 20px;height: 125px;">
          <div style="padding: 10px;">
              <div class="imgcol"><img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px;margin-top: -12px;">
              </div>
              <div class="textcol" style="
                  font-weight: 700;font-size: 13px;text-align: center;">
                     EASY & CONVENIENT                        </div>
          </div>


          <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
              Google Hotel Center is a platform provided by Google that allows hotels to manage their
              property information and availability directly on Google's search engine and other
              Google platforms.Setting up a Google Hotel Center account is free of charge.
          </div> -->




      </div>
  </div>
  <div class="col-lg col-md-6">
    <div class="cardClickable"
        style="border-radius: 25px; border: 1px solid #000000; text-align: left;margin-top: 20px;height: 125px;">
        <div style="padding: 10px;">
            <div class="imgcol"><img src="assets/images/EASY & CONVENIENT.png" alt="" style="height: 60px;margin-top: -12px;">
            </div>
            <div class="textcol" style="
                font-weight: 700;font-size: 13px;text-align: center;">
                   EASY & CONVENIENT                        </div>
        </div>


        <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
            Google Hotel Center is a platform provided by Google that allows hotels to manage their
            property information and availability directly on Google's search engine and other
            Google platforms.Setting up a Google Hotel Center account is free of charge.
        </div> -->




    </div>
</div>
</div>


              <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-4 ">
                  <div class="card">

                      <div class="card-body pt-4 pb-4 text-center">
                          <i class="eva eva-cloud-upload-outline text-30"></i>
                          <h4 class="card-title pt-2 text-16">Cloud Property Management System</h4>

                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 col-sm-6 mb-4 ">
                  <div class="card">

                      <div class="card-body pt-4 pb-4 text-center">
                          <i class="eva eva-sun-outline text-30"></i>
                          <h4 class="card-title pt-2 text-16">Central Reservation System</h4>

                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 col-sm-6 mb-4 ">
                  <div class="card">

                      <div class="card-body pt-4 pb-4 text-center">
                          <i class="eva eva-calendar-outline text-30"></i>
                          <h4 class="card-title pt-2 text-16">Accommodation Revenue Management System</h4>

                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0">
                  <div class="card">

                      <div class="card-body pt-4 pb-4 text-center">
                          <i class="eva eva-link-outline text-30"></i>
                          <h4 class="card-title pt-2 text-16">PMS & Channel Manager Integration</h4>

                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                  <div class="card">

                      <div class="card-body pt-4 pb-4 text-center">
                          <i class="eva eva-edit-2-outline text-30"></i>
                          <h4 class="card-title pt-2 text-16">Customized Property Management Solution</h4>

                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                  <div class="card">

                      <div class="card-body pt-4 pb-4 text-center">
                          <i class="eva eva-save-outline text-30 text-gradient"></i>
                          <h4 class="card-title pt-2 text-16">Data Migration</h4>

                      </div>
                  </div>
              </div> -->

          </div>
      </div>

      </div>
      <section class="right-image-wrap p-t-b-80 light" style="background-color: #292763;">
        <div class="container">
            <div class="row">

                <div class="col-md-12 section-header mb-5">

                </div>

                <div class="row">
                  <div class="col-lg col-md-6">
                    <div class="textcol" style="
                    font-weight: 700;font-size: 42px; padding: 10px; color: white;">
                              OUR <br>
                              SUBSCRIPTION                </div>

                  </div>
                  <div class="col-lg col-md-6">
                      <div class="cardClickable"
                          style="border-radius: 25px; background-color: #D9ECFF; text-align: left;margin-top: 20px;height: 230px;">
                          <!-- <div style="padding: 10px;">
                              <div class="imgcol"><img src="assets/images/onboard3.png" alt="" style="width: 80px;">
                              </div>
                              <div class="textcol" style="
                                  font-weight: 700;font-size: 19px; padding: 10px;">
                                  Google Hotel Center (Setup Free) Booking Link
                              </div>
                          </div> -->
                          <div class="row">
                            <div class="col-8">
                              <div class="textcol" style="
                              font-weight: 700;font-size: 19px; padding: 10px;">
                             <strong>Website</strong>

                          </div>
                          <ol style="font-size: 12px;">
                            <li>SEO Plus Content Management</li>
                            <li>Direct Booking & Payments</li>
                            <li>Free Booking Links</li>
                            <li>Promotions & Campaigns</li>
                            <li>Website Monitoring Service</li>
                            <li>Google Tag Manager, Search Console, Google Analytics</li>
                        </ol>
                            </div>

                          <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                              Google Hotel Center is a platform provided by Google that allows hotels to manage their
                              property information and availability directly on Google's search engine and other
                              Google platforms.Setting up a Google Hotel Center account is free of charge.
                          </div> -->




                      <div class="col-3">
                        <div class="imgcol"><img src="assets/images/Website-box.png" alt="" style="width: 50px;">
                        </div>
                      </div>
                      </div>
                      </div>
                  </div>
                  <div class="col-lg col-md-6">
                      <div class="cardClickable"
                          style="border-radius: 25px; background-color: #D9ECFF; text-align: left;margin-top: 20px;height: 230px;">
                          <div class="row">
                            <div class="col-8">
                              <div class="textcol" style="
                              font-weight: 700;font-size: 19px; padding: 10px;">
                             <strong>WhatsApp Marketing</strong>

                          </div>
                          <ol style="font-size: 12px;">
                            <li>Promotion, Offers directly to the customer</li>
                            <li>Direct Marketing</li>
                            <li>Better Conversion</li>
                            <li>Tracking</li>
                            <li>Birthday / Marriage Wish</li>
                        </ol>
                            </div>

                          <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                              Google Hotel Center is a platform provided by Google that allows hotels to manage their
                              property information and availability directly on Google's search engine and other
                              Google platforms.Setting up a Google Hotel Center account is free of charge.
                          </div> -->




                      <div class="col-3">
                        <div class="imgcol"><img src="assets/images/WhatsApp Marketing.png" alt="" style="width: 50px;">
                        </div>
                      </div>
                      </div>


                          <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                              When a hotel implements real-time availability updates, any changes in room inventory,
                              such as new bookings, cancellations, or modifications, are immediately reflected across
                              all connected channels. This eliminates the risk of double bookings or miscommunication
                              and provides a seamless booking experience for guests.
                          </div> -->




                      </div>
                  </div>
              </div>

            </div>
            <div class="row">

              <div class="col-md-12 section-header mb-5">

              </div>

              <div class="row">
                <div class="col-lg col-md-6">
                  <div class="cardClickable"
                      style="border-radius: 25px; background-color: #D9ECFF; text-align: left;margin-top: 20px;height: 230px;">
                      <div class="row">
                        <div class="col-8">
                          <div class="textcol" style="
                          font-weight: 700;font-size: 19px; padding: 10px;">
                         <strong>Social Media</strong>

                      </div>
                      <ol style="font-size: 12px;">
                        <li>Reach</li>
                        <li>Visibility</li>
                        <li>Engagement</li>
                        <li>Periodic Promotion</li>
                        <li>Active Business</li>
                        <li>Good Email Marketing Strategy</li>
                    </ol>
                        </div>

                      <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                          Google Hotel Center is a platform provided by Google that allows hotels to manage their
                          property information and availability directly on Google's search engine and other
                          Google platforms.Setting up a Google Hotel Center account is free of charge.
                      </div> -->




                  <div class="col-3">
                    <div class="imgcol"><img src="assets/images/Social Media.png" alt="" style="width: 50px;">
                    </div>
                  </div>
                  </div>


                      <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                          When a hotel implements real-time availability updates, any changes in room inventory,
                          such as new bookings, cancellations, or modifications, are immediately reflected across
                          all connected channels. This eliminates the risk of double bookings or miscommunication
                          and provides a seamless booking experience for guests.
                      </div> -->




                  </div>
              </div>
            <div class="col-lg col-md-6">
                    <div class="cardClickable"
                        style="border-radius: 25px; background-color: #D9ECFF; text-align: left;margin-top: 20px;height: 230px;">
                        <div style="padding: 10px;">
                            <div class="imgcol"><img src="assets/images/onboard3.png" alt="" style="width: 80px;">
                            </div>
                            <div class="textcol" style="
                                font-weight: 700;font-size: 19px; padding: 10px;">
                                Google Hotel Center (Setup Free) Booking Link
                            </div>
                        </div>


                        <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                            Google Hotel Center is a platform provided by Google that allows hotels to manage their
                            property information and availability directly on Google's search engine and other
                            Google platforms.Setting up a Google Hotel Center account is free of charge.
                        </div> -->




                    </div>
                </div>
                <div class="col-lg col-md-6">
                    <div class="cardClickable"
                        style="border-radius: 25px; background-color: #D9ECFF; text-align: left;margin-top: 20px;height: 230px;">
                        <div  style="padding: 10px;">
                            <div class="imgcol"><img src="assets/images/POS.svg" alt="" style="height: 80px;">
                            </div>
                            <div class="textcol" style="
                font-weight: 700;font-size: 19px; padding: 10px;">
                                Point of Sale (POS)
                            </div>
                        </div>


                        <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                            When a hotel implements real-time availability updates, any changes in room inventory,
                            such as new bookings, cancellations, or modifications, are immediately reflected across
                            all connected channels. This eliminates the risk of double bookings or miscommunication
                            and provides a seamless booking experience for guests.
                        </div> -->




                    </div>
                </div>
            </div>

          </div>
          <div class="row">

            <div class="col-md-12 section-header mb-5">

            </div>

            <div class="row">
              <div class="col-lg col-md-6">
                  <div class="cardClickable"
                      style="border-radius: 25px; background-color: #D9ECFF; text-align: left;  margin-top: 20px;height: 230px;">
                      <div class="row" style="padding: 10px;">
                          <div class="col-3 imgcol"><img src="assets/images/onboardbookone.png" alt="" style="height: 80px; ">
                          </div>
                          <div class="col-9 textcol" style="
              font-weight: 700;font-size: 19px; padding: 10px;">
                              Channel Manager
                          </div>
                      </div>


                      <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                          BOOKONE Connect is a connectivity solution provided by BOOKONE that allows hotels to
                          integrate their property management system (PMS) with various distribution channels and
                          online travel agencies (OTAs). It enables seamless two-way communication between the
                          hotel's PMS and external channels, ensuring real-time availability, rates, and inventory
                          updates.
                      </div> -->


                  </div>


              </div>
              <div class="col-lg col-md-6">
                  <div class="cardClickable"
                      style="border-radius: 25px; background-color: #D9ECFF; text-align: left;margin-top: 20px;height: 230px;">
                      <div style="padding: 10px;">
                          <div class="imgcol"><img src="assets/images/onboard3.png" alt="" style="width: 80px;">
                          </div>
                          <div class="textcol" style="
                              font-weight: 700;font-size: 19px; padding: 10px;">
                              Google Hotel Center (Setup Free) Booking Link
                          </div>
                      </div>


                      <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                          Google Hotel Center is a platform provided by Google that allows hotels to manage their
                          property information and availability directly on Google's search engine and other
                          Google platforms.Setting up a Google Hotel Center account is free of charge.
                      </div> -->




                  </div>
              </div>
              <div class="col-lg col-md-6">
                  <div class="cardClickable"
                      style="border-radius: 25px; background-color: #D9ECFF; text-align: left;margin-top: 20px;height: 230px;">
                      <div  style="padding: 10px;">
                          <div class="imgcol"><img src="assets/images/POS.svg" alt="" style="height: 80px;">
                          </div>
                          <div class="textcol" style="
              font-weight: 700;font-size: 19px; padding: 10px;">
                              Point of Sale (POS)
                          </div>
                      </div>


                      <!-- <div style="color: #484848; text-align: justify;padding: 10px;">
                          When a hotel implements real-time availability updates, any changes in room inventory,
                          such as new bookings, cancellations, or modifications, are immediately reflected across
                          all connected channels. This eliminates the risk of double bookings or miscommunication
                          and provides a seamless booking experience for guests.
                      </div> -->




                  </div>
              </div>
          </div>

        </div>

            </div>
          </section>

    </div>


<app-footer></app-footer>
