<div class="main-wrapper" style="background-color: white;">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <main class="error-custom">
    <h1>4<span><i class="fas fa-ghost"></i></span>4</h1>
    <h2>Error: 404 page not found</h2>
    <p>Sorry, the page you're looking for cannot be accessed</p>
    <div>
      <button [routerLink]="['/']" style="border-radius: 10px;
      background: #221950; color: #fff; font-weight: 700; padding: 10px; border: none;">
        Back to home
      </button>
    </div>
  </main>

</div>
