<!-- <div class="content p-0">
  <div class="login-wrapper">
     <div class="row m-0">
        <div class="col-lg-4 h-100-vh side-banner" style="background-image:url('assets/images/banner.png');background-position: center center; background-size: cover;">
           <div class="content px-5 text-center d-flex justify-content-center h-100">
              <div class="align-self-center">
                 <img src="assets/images/logo.png" class="mb-4 img_bg" alt="">
                 <h4 class="text-white">Satisfy Your Hunger With Us</h4>
                 <p class="text-white">Find awesome foods in BBSR.</p>
                 
              </div>
           </div>
        </div>
        <div class="col-lg-8 site-content">
           <div class="content">
              <div class="row">
                 <div class="col-lg-6 mx-auto">
                    <button class="btn btn-sm btn-outline-primary mb-4" (click)="backClicked()">
                       <i class="fa fa-arrow-left" aria-hidden="true"></i>
                     </button>
                    <div class="text-center mb-4">
                       <h2>Sign in to Kabsa Food.</h2>
                       <p>Fill up the following details</p>
                    </div>
                    <div class="card bg-primary shadow border-0">
                      
                       <div class="card-body px-lg-5 py-lg-5">
                          <div class="text-center text-muted mb-4">
                             <h6>Sign in with credentials</h6>
                          </div>
                          <form role="form">
                             <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                   <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                   </div>
                                   <input class="form-control" placeholder="Email" type="email" [(ngModel)]="model.email" name="email">
                                </div>
                             </div>
                             <div class="form-group">
                                <div class="input-group input-group-alternative">
                                   <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="fa fa-unlock-alt"></i></span>
                                   </div>
                                   <input class="form-control" placeholder="Password" type="password" [(ngModel)]="pinCode" name="pincose" [maxLength]="6" [minlength]="6" >
                                </div>
                                <div class=" row justify-content-between">
                                   <p  class="text-muted " >
                                      <span>Enter your 6 digit Password</span>
                                   </p>
                                   <a [routerLink]="['/session/forgot-password']"><p  class="text-dark pt-2 font-weight-bold " >
                                      <span >Forgot Password ?</span>
                                   </p></a>
                                </div>
                             </div>
                             <div class="custom-control custom-control-alternative custom-checkbox">
                                <input class="custom-control-input" id=" customCheckLogin2" type="checkbox">
                                <label class="custom-control-label" for=" customCheckLogin2">
                                   <span>Remember me</span>
                                </label>
                             </div>
                             <div *ngIf="errorMsgCheck" >
                                <span style="color: red;">{{errorMsg}}</span>
                             </div>
                             <div class="text-center">
                                <button type="button" class="btn btn-secondary mt-4" (click)="onLogin()" >Sign in</button>
                                <button type="button" class="btn btn-secondary mt-4" (click)="onSignUp()" >Sign Up</button>
                             </div>
                             <p  class="text-right mt-3" >
                                <span>Powered by bookone</span>
                             </p>
                          </form>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div> -->
