<section class="footer_wrap midnight-blue" id="footer-wrap">
    <div style="padding-left: 40px; padding-right: 20px;">
        <div class="row">


            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">



                    <div class="">
                        <img height="60px" class="mb-3" src="assets/images/landing/lOGO_d/logo_white.png" alt="logo">
                        <p class="text-white">
                          BookOne is a comprehensive Booking Origination and Management System designed for the hospitality industry.
                          It helps capture the booking journey of guests across various property types, including hotels, motels, backpackers'
                          accommodations, serviced apartments, vacation rentals, guest rooms, and owner-occupied properties. Enrich and enhance your guests' booking experience with personalised, interactive,
                          real-time notifications.
                        </p>

                    </div>


                </div>
            </div>
            <!-- end of col -->
            <!-- <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">
                    <div class=" ">
                        <h4 class="card-title font-weight-bold"></h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                             <li class=" mb-3 "> <a href="#">Marketing</a></li>
                                <li class=" mb-3 "><a href="#">Campaign</a>
                                </li>
                                <li class="mb-3"> <a href="#"> Digital Agency</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- end of col -->
            <div class="col-md-3 mb-4 mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold text-white">Other Links</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "><a class="text-white" [routerLink]="['/landing/privacy']" routerLinkActive="router-link-active" ><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Terms and Conditions</a>
                                </li>
                                <li class=" mb-3 "><a class="text-white" [routerLink]="['/landing/privacy']" routerLinkActive="router-link-active" ><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Privacy Policy</a>
                                </li>
                                <!-- <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> Super Flexible</li> -->
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4 mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="text-white">
                        <h4 class="text-white card-title font-weight-bold  mb-3">Contact Info</h4>
                        <h6 class="text-white font-weight-bold">NEW ZEALAND OFFICE</h6>
                        <!-- <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>2 Khyber Pass Rd, Grafton, Auckland 1023</li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>hello@bookonepms.com</li>

                            </ul>
                        </div> -->

                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-phone-call-outline mr-2"></i>+64-21-548-329</li>

                            </ul>
                        </div>


                        <h6 class="text-white font-weight-bold">INDIA OFFICE</h6>
                        <!-- <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>C-6-10-4-1, Sector-06, CBD Belapur, Navi Mumbai, 400614, Thane, Maharastra</li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>hello@bookonepms.com</li>

                            </ul>
                        </div> -->

                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-phone-call-outline mr-2"></i>+91-9004146024</li>

                            </ul>
                        </div>


                        <!-- <h6 class=" font-weight-bold">BANGLADESH OFFICE</h6> -->
                        <!-- <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>Dhaka Trade Centre, (15th Floor), 99, Kazi Nazrul Islam Avenue, Kawran Bazar C/A, Dhaka- 1215</li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>hello@bookonepms.com</li>

                            </ul>
                        </div> -->

                        <!-- <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-phone-call-outline mr-2"></i> +880-2-55011898, +880-2-55011899, +8801675543363</li>

                            </ul>
                        </div> -->
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>hello@bookonepms.com</li>

                            </ul>
                        </div>




                        <section class="social-wrap ">

                            <div class="social-btns-wrap">

                                <a class="social-btn text-30 facebook ml-0" href="https://www.facebook.com/bookonepms/"><i
                                        class="eva eva-facebook"></i></a>

                                        <a class="social-btn text-30 instagram ml-0" href="https://www.instagram.com/bookonepms/"><i
                                          class="fab fa-instagram"></i></a>

                                <!-- <a class="social-btn text-30 twitter" href="#"><i class="eva eva-twitter"></i></a>

                                <a class="social-btn text-30 google" href="#"><i class="eva eva-google"></i></a> -->

                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div class="col-md-3  mb-lg-0 mb-md-0">
              <div class=" o-hidden text-left">

                  <div class="text-white">
                      <h4 class="text-white card-title font-weight-bold  mb-3">Address</h4>
                      <h6 class="text-white font-weight-bold"> <b style="font-size: 16px;">USA :</b> <br/> 29 YATES DR, HILLSBOROUGH NJ 08844</h6>
                      <h6 class="text-white font-weight-bold"> <b style="font-size: 16px;">Auckland :</b> <br/>  2 Khyber Pass Road Eden Terrace Auckland 1010 New Zealand.</h6>
                      <h6 class="text-white font-weight-bold"> <b style="font-size: 16px;">Mumbai :</b> <br/>   Office no 10, Bhoomi Tower, Sector 4, Kharghar, Navi Mumbai, Maharashtra, India-410210</h6>
                      <h6 class="text-white font-weight-bold"> <b style="font-size: 16px;">Bhubaneshwar :</b> <br/>   DCB 711, DLF CYBER CITY, DLF Info Park, Chandka Industrial Estate, Chandrasekharpur, Bhubaneswar ,Odisha, India-751024</h6>
                      <!-- <div class="address-wrap mb-3">

                          <ul class="list-group list-unstyled">
                              <li class=""> <i class="eva eva-pin-outline mr-2"></i>2 Khyber Pass Rd, Grafton, Auckland 1023</li>

                          </ul>
                      </div>
                      <div class="address-wrap mb-3">

                          <ul class="list-group list-unstyled">
                              <li class=""><i class="eva eva-email-outline mr-2"></i>hello@bookonepms.com</li>

                          </ul>
                      </div> -->



                  </div>
              </div>
          </div>
    <!-- end of col -->
    <p class="w-100 text-center text-white">© 2020 BookOne is Made with ❤ by Credencesoft</p>
</div>
    </div>
</section>
