<section class="footer_wrap" id="footer-wrap">
    <div class="container">
        <div class="row">


            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">



                    <div class="">
                        <h4 class="card-title font-weight-bold">bookone</h4>
                        <p class="">BookOne is a complete Booking Origination and Management System. BookOne is for the Hospitality Industry to capture booking journey of the guest for the Hotel, Motel, Backpackers, Service Apartment, Vacation Rental, Guest Room and Owner Occupied properties. Enrich and Ensure Guest’s booking experience with personalised, interactive real time notifications.</p>
                    </div>


                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">



                    <div class=" ">
                        <h4 class="card-title font-weight-bold">Other Pages</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "> <a href="#">Marketing</a></li>
                                <li class=" mb-3 "><a href="#">Campaign</a>
                                </li>
                                <li class="mb-3"> <a href="#"> Digital Agency</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4 mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold">Awesome Features</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Minimal
                                </li>
                                <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Intuitive
                                </li>


                                <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> Super
                                    Flexible</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3  mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold  mb-3">Contact Info</h4>
                        <h6 class=" font-weight-bold">NEW ZEALAND OFFICE</h6>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>2 Khyber Pass Rd, Grafton, Auckland 1023</li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>support@thehotelmate.com</li>

                            </ul>
                        </div>

                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-phone-call-outline mr-2"></i> +64-21-548-329</li>

                            </ul>
                        </div>


                        <h6 class=" font-weight-bold">INDIA OFFICE</h6>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>C-6-10-4-1, Sector-06, CBD Belapur, Navi Mumbai, 400614, Thane, Maharastra</li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>support@thehotelmate.com</li>

                            </ul>
                        </div>

                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-phone-call-outline mr-2"></i>+91-9004146024</li>

                            </ul>
                        </div>


                        <h6 class=" font-weight-bold">BANGLADESH OFFICE</h6>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>Dhaka Trade Centre, (15th Floor), 99, Kazi Nazrul Islam Avenue, Kawran Bazar C/A, Dhaka- 1215</li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>support@thehotelmate.com</li>

                            </ul>
                        </div>

                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-phone-call-outline mr-2"></i> +880-2-55011898, +880-2-55011899, +8801675543363</li>

                            </ul>
                        </div>





                        <section class="social-wrap ">

                            <div class="social-btns-wrap">

                                <a class="social-btn text-30 facebook ml-0" href="https://www.facebook.com/bookonepms/"><i
                                        class="eva eva-facebook"></i></a>

                                <!-- <a class="social-btn text-30 twitter" href="#"><i class="eva eva-twitter"></i></a>

                                <a class="social-btn text-30 google" href="#"><i class="eva eva-google"></i></a> -->

                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>
