<div class="main-wrapper payment-page desktop-view">
  <!--Title Bar -->
  <title-bar title="Booking Details" subtitle=""></title-bar>
  <!-- Container -->
  <div class="content">
    <div class="container">

      <div class="confirmation-container">
        <div class="confirmation-image">
          <img *ngIf="businessUser?.logoUrl" src="{{businessUser?.logoUrl}}" alt="" width="100%" height="auto">

          <img *ngIf="!businessUser.logoUrl" src="assets/images/app-logo.png" alt="" width="100%">
        </div>
        <div class="confirmation-text">
          <h2 style="font-weight: bold;">Your booking at {{businessUser.name}} is confirmed!</h2>
          <p>Please complete the payment to secure your reservation.

            <!-- <span class="text-muted"><small *ngIf="businessUser.address">
              <p class="description">
                {{businessUser.address.streetNumber? businessUser.address.streetNumber + ', ' : '' }}
                {{businessUser.address.streetName? businessUser.address.streetName + ', ' : '' }}
                {{businessUser.address.suburb? businessUser.address.suburb + ', ' : '' }}
                {{businessUser.address.locality? businessUser.address.locality + ', ' : '' }}
                {{businessUser.address.city? businessUser.address.city + ', ' : '' }}
                {{ businessUser.address.country? businessUser.address.country : '' }}
              </p>
            </small></span> -->
          </p>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6 booking-details">
          <p class="booking-header">BOOKING STATUS : {{booking.bookingStatus}}</p>
          <div class="row">
            <div class="col-6" style="font-weight: bold;">
              <p>Hotel Name</p>
              <p>Number Of Nights</p>
              <p>Number Of Guests</p>
              <p>Room Type</p>
              <p>Number Of Rooms</p>
              <p>Room Price</p>
            </div>
            <div class="col-6 text-right"  style="font-weight: bold;">
              <p>{{businessUser.name}}</p>
              <p>{{timeDifferenceInDays}}0</p>
              <p>{{booking.noOfPersons}}</p>
              <p>{{booking.roomName}}</p>
              <p>{{booking.noOfRooms}}</p>
              <p>{{booking.roomPrice | currency: currency:'symbol':'1.2-2' }}</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 reservation-details mt-3 mt-md-0">
          <div class="card p-3 mb-3 custom-shadow">
            <div class="check-in-out d-flex justify-content-between">
              <div class="text-center">
                <p class="mb-1">Check-in Date</p>
                <h5 class="mb-0">{{booking.fromDate |  date: 'd MMM'}}</h5>
              </div>
              <div class="border-left mx-3"></div>
              <div class="text-center">
                <p class="mb-1">Check-out Date</p>
                <h5 class="mb-0">{{booking.toDate |  date: 'd MMM'}}</h5>
              </div>
            </div>
          </div>
          <div class="info-section"  style="font-weight: bold;">
            <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
              <span>Reservation ID:</span>
              <span>{{booking.propertyReservationNumber}}</span>
            </div>

            <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
              <span>Guest Name:</span>
              <span>{{booking.firstName}} {{booking.lastName}}</span>
            </div>
            <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
              <span>Email Address:</span>
              <span>{{booking.email}}</span>
            </div>
            <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
              <span>Phone Number:</span>
              <span>{{booking.mobile}}</span>
            </div>
        </div>
      </div>
      </div>
      <p class="payment-header"  style="margin-top: 10px;">Payment Details</p>
      <div class="row">
        <div class="col-6">
          <p>Payment ID</p>
          <div style="font-weight: bold;" > {{payment.id}}</div>
        </div>
        <div class="col-6 text-right">
          <p>Payment Ref ID</p>
          <div  style="font-weight: bold;"> {{payment.referenceNumber}}</div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-6">
          <p>Total Booking Amount</p>
        </div>
        <div class="col-6 text-right">
          <p >{{payment.netReceivableAmount | currency: currency:'symbol':'1.2-2' }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <p>Tax Amount</p>
        </div>
        <div class="col-6 text-right">
          <p> {{payment.taxAmount | currency: currency:'symbol':'1.2-2' }}</p>
        </div>
      </div>

      <div class="row total-amount">
        <div class="col-6">
          <p>Total Payable Amount</p>
        </div>
        <div class="col-6 text-right">
          <p *ngIf="this.advPanyment === 0 || this.advPanyment === null ||  this.advPanyment === undefined">  {{payment.transactionAmount | currency: currency:'symbol':'1.2-2' }}</p>
      <p *ngIf="this.advPanyment > 0"> {{this.advPanyment| currency: currency:'symbol':'1.2-2' }}</p>
        </div>
      </div>
      <button class="pay-now-btn" (click)="phonepay()" style="margin-bottom: 10px;">PAY NOW</button>

    </div>
  </div>
</div>



<div class="main-wrapper payment-page mobile-view">
  <!--Title Bar -->
  <title-bar title="Booking Details" subtitle=""></title-bar>
  <!-- Container -->
  <div class="content">
    <div class="container">

      <div class="confirmation-container-mobile">
        <div class="confirmation-image" style="margin: auto;">
          <img *ngIf="businessUser?.logoUrl" src="{{businessUser?.logoUrl}}" alt="" width="100%" height="auto">

          <img *ngIf="!businessUser.logoUrl" src="assets/images/app-logo.png" alt="" width="100%">
        </div>
        <div class="confirmation-text" style="margin: auto;text-align:center ;margin-top: 10px;">
          <h3 style="font-weight: bold;" >Your booking at {{businessUser.name}} is confirmed!</h3>
          <p style="color: #031eaa;font-weight: bold;">Please complete the payment to secure your reservation.

            <!-- <span class="text-muted"><small *ngIf="businessUser.address">
              <p class="description">
                {{businessUser.address.streetNumber? businessUser.address.streetNumber + ', ' : '' }}
                {{businessUser.address.streetName? businessUser.address.streetName + ', ' : '' }}
                {{businessUser.address.suburb? businessUser.address.suburb + ', ' : '' }}
                {{businessUser.address.locality? businessUser.address.locality + ', ' : '' }}
                {{businessUser.address.city? businessUser.address.city + ', ' : '' }}
                {{ businessUser.address.country? businessUser.address.country : '' }}
              </p>
            </small></span> -->
          </p>

        </div>
      </div>
      <div class="row" style="padding: 10px;">
        <div class="col-md-6  mobile-booking-details" style="border: 1px solid #e0e0e0;border-radius: 10px;">
          <p class="booking-header" style="padding-top: 10px;">BOOKING STATUS :  {{booking.bookingStatus}}</p>
          <div class="row">
            <div class="col-6" style="font-weight: bold;">
              <p>Hotel Name</p>
              <p>Number Of Nights</p>
              <p>Number Of Guests</p>
              <p>Room Type</p>
              <p>Number Of Rooms</p>
              <p>Room Price</p>
            </div>
            <div class="col-6 text-right"  style="font-weight: bold;">
              <p>{{businessUser.name}}</p>
              <p>{{timeDifferenceInDays}}0</p>
              <p>{{booking.noOfPersons}}</p>
              <p>{{booking.roomName}}</p>
              <p>{{booking.noOfRooms}}</p>
              <p>{{booking.roomPrice | currency: currency:'symbol':'1.2-2' }}</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 reservation-details mt-3 mt-md-0">
          <div class="card p-3 mb-3 custom-shadow">
            <div class="check-in-out d-flex justify-content-between">
              <div class="text-center">
                <p class="mb-1" >Check-in Date</p>
                <h5 class="mb-0" style="color: #031eaa;">{{ booking.fromDate | date: 'd MMM' }}</h5>
              </div>
              <div class="border-left mx-3"></div>
              <div class="text-center">
                <p class="mb-1">Check-out Date</p>
                <h5 class="mb-0"  style="color: #031eaa;">{{booking.toDate |  date: 'd MMM'}}</h5>
              </div>
            </div>
          </div>
          <div class="info-section"  style="font-weight: bold;padding: 10px;">
            <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
              <span>Reservation ID:</span>
              <span>{{booking.propertyReservationNumber}}</span>
            </div>

            <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
              <span>Guest Name:</span>
              <span>{{booking.firstName}} {{booking.lastName}}</span>
            </div>
            <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
              <span>Email Address:</span>
              <span>{{booking.email}}</span>
            </div>
            <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
              <span>Phone Number:</span>
              <span>{{booking.mobile}}</span>
            </div>
        </div>
      </div>
      </div>
 <div class="card" style="padding: 10px;background-color:#f7f7f7 ;margin-top: 10px;">
  <p class="payment-header" style="font-size: 20px;">Payment Details</p>
  <div class="row">
    <div class="col-6">
      <p>Payment ID</p>
      <div style="font-weight: bold;" > {{payment.id}}</div>
    </div>
    <div class="col-6 text-right">
      <p>Payment Ref ID</p>
      <div  style="font-weight: bold;"> {{payment.referenceNumber}}</div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-6">
      <p>Total Booking Amount</p>
    </div>
    <div class="col-6 text-right">
      <p >{{payment.netReceivableAmount | currency: currency:'symbol':'1.2-2' }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <p>Tax Amount</p>
    </div>
    <div class="col-6 text-right">
      <p> {{payment.taxAmount | currency: currency:'symbol':'1.2-2' }}</p>
    </div>
  </div>

  <div class="row total-amount">
    <div class="col-6">
      <p>Total Payable Amount</p>
    </div>
    <div class="col-6 text-right">
      <p *ngIf="this.advPanyment === 0 || this.advPanyment === null ||  this.advPanyment === undefined">  {{payment.transactionAmount | currency: currency:'symbol':'1.2-2' }}</p>
      <p *ngIf="this.advPanyment > 0"> {{this.advPanyment| currency: currency:'symbol':'1.2-2' }}</p>
    </div>
  </div>
 </div>
      <button class="pay-now-btn" (click)="phonepay()" style="margin-bottom: 10px;">PAY NOW</button>

    </div>
  </div>
</div>
