<section id="features-wrap" class="features_wrap p-t-b-80 light-gray">
    <div class="container">
        <div class="row">


            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">WHAT WE DO</h2>
                <p><strong>BookOne</strong> manages, controls and enhances online sales and guest experience for hotels.</p>

            </div>


            <div class="col-md-12 col-lg-12 col-sm-12 mb-4 mb-lg-0" animateOnScroll animationName="animated fadeIn">
                <div class="row">



                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 ">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-clock-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Cloud Property Management System</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 ">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-file-text-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Central Reservation System</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 ">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-shopping-bag-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Accommodation Revenue Management System</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-lock-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">PMS & Channel Manager Integration</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-people-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Customized Property Management Solution</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-bell-outline text-30 text-gradient"></i>
                                <h4 class="card-title pt-2 text-16">Data Migration</h4>

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- end of col-6 -->
            <!-- <div class="col-md-6 col-lg-5 col-sm-12 offset-lg-1 d-flex align-items-center">

                <img src="./assets/images/landing/svg/features2.svg" class="img-responsive w-100" alt="">

            </div> -->

        </div>
    </div>
</section>
