<section id="contacts-wrap" class="contact-form-wrap light-gray p-t-b-80">
    <div class="container">
        <div class="row">



            <div class="form-wrap  col-md-6 mb-4">
                <div class="section-header mb-5 ">
                    <h2 class="font-weight-bold ">Get in Touch With Us !</h2>
                    <p>Tell us what you need or any queastions or suggetions are welcome.</p>

                </div>
                <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert"
                    [@animate]="{value:'*',params:{y:'-120px',opacity:'0',delay:'100ms', duration: '400ms'}}">
                    <button type="button" class="close" (click)="success=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Your Message Sent succefully</strong>
                </div>


                <form >
                    <div class="form-group mb-4 col-md-6">
                        <label for="">
                            <i class="eva eva-person-outline"></i>
                        </label>
                        <input matInput placeholder="Name"  
                        [formControl]="name" />

                    </div>
                    <div class="form-group mb-4 col-md-6">
                        <label for="">
                            <i class="eva eva-email-outline"></i>
                        </label>
                        <input matInput placeholder="Email"   
                        [formControl]="fromEmail"/>

                    </div>
                    <div class="form-group mb-4 col-md-12">
                        <label for="">
                            <i class="eva eva-edit-2-outline"></i>
                        </label>
                        <!-- <input type="text" required name='subject' ngModel class="form-control"
                            placeholder="Your subject here" aria-describedby="helpId"> -->
                           
                            <select [formControl]="subject" [(ngModel)]="serviceName" required>
                                <option
                                *ngFor="let service of serviceType"
                                [value]="service.name"
                              >
                                {{ service.value }}
                              </option>
                            </select>

                    </div>

                    <div class="form-group mb-4 col-md-12">

                        <label for="">
                            <i class="eva eva-edit-outline"></i>
                        </label>
                        <textarea
                        matInput
                        #input
                        maxlength="200"
                        placeholder="Message"
                        [formControl]="message"
                        class="form-control"
                      ></textarea>


                    </div>

                    <div class="form-group  col-md-12">
                        <button type="submit" [disabled]='!contactForm.valid'
                            class="btn btn-block half-button form-submit-button btn-large btn-gradient" (click) ="send()" *ngIf="!emailSuccess">Send
                            message
                        </button>

                    </div>


                    <div class="row mb30" *ngIf="emailSuccess">
                      <div
                        class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center"
                      >
                        <span class="section-divider mb15"></span>
                        <p class="no-margin scaleReveal">
                          <b
                            >We have received your email, will get in touch soon.</b
                          >
                        </p>
                      </div>
                  </div>   


                </form>



            </div>
            <div class="col-md-6 align-items-center">
                <div class="right-contact-wrap ml-5">

                    <img src="./assets/images/landing/svg/contact2.svg" class="img-responsive zoom-fade" alt="Image">

                    <!-- <div class="address-wrap mb-4">-->


                </div>
            </div>
        </div>
    </div>
</section>
