<section id="subscribe-wrap" class="subscribe p-t-80">

    

  <div class="container-fluid ">
          <!-- <div class="row text-center">
                  <div class="col-12 mb-5 mt-5 p-t-b-80">
                      <h3 class="heading pb-3">Subscribe form #3</h3>
                  </div>
              </div> -->



      <!-- start::subscribe-3 -->
      <div class="row text-center">
              <div class="col-md-12 gradient-secondary">
                      <div class="subscribe-1">
                          <div class="subscribe-1__start mt-5 mb-5">
                                  <h1 class="heading mb-5 text-white">Subscribe to Our Channel</h1>
                                  <div class="subscribe-input">
                                      <form class="form-inline justify-content-center  subsribe-rounded">
                                          <div class="form-group ">
                                              <input type="email" class="form-control  dexam-input h-55" placeholder="Enter your email address" required="">
                                          </div>
                                          <button type="submit" class="btn btn-outline-white h-55 text-19">
                                               Subscribe Now
                                          </button>
                                      </form>
                                                        
                                  </div>
                          </div>   
                      </div>
                  </div>
      </div>
      <!-- end::subscribe-3 -->



              
    
  </div>
 


      

</section>