<div class="landing_wrap " [ngClass]="[backgroundColor]">
    <app-header></app-header>
    <div class="main-wrapper">


        <div class=" mt-4">
            <div class="container-fluid mb-3 "
                style="background-color: #221950;border-bottom-left-radius: 70%; border-bottom-right-radius: 70%;padding-bottom: 2rem;">
                <h2 class="enquiryh2" style="text-align: center; font-weight: 600 !important;color: white;    height: 194px;
                padding-top: 122px;
                margin-top: -37px; ">Fill In a Few Details About
                    Your
                    Property</h2><br>
            </div>
        </div>
        <div class="container">
            <h5 class="form-header" style="text-align: center;
            font-size: 23px;
            margin-top: 62px;
            padding: 10px;">One Step Away From Joining Our Ecosystem</h5>
        </div>

        <div class="row justify-content-center" *ngIf="hidediv === false">
            <div class="happybox">






                <p class="headingcoupon">
                    We provide
                    BookOne PMS, Channel Manager, Google Hotel Center, SMO, OTA setup, SEO, Google Search Engine &
                    Optimization, Payment Integration.</p>


                <p class="headingcoupon2">Are you
                    interested in any of the software , Use the coupon code to
                    available</p>
                <div>






                    <div class="row justify-content-center" style="margin-bottom: 40px;">
                        <div>
                            <!-- <div style="display: inline-flex;
                             align-items: center;padding: 9px;
                             border-radius: 10px;
                             background: rgba(255, 248, 248, 0.90);
                             height: 65px; border: none;">
                              <span>{{campainId}}</span>
                             </div> -->
                            <input placeholder="Enter promo code" style="    display: inline-flex;
                                align-items: center;
                                text-indent: 10px;
                                border-radius: 10px;
                                background: rgba(255, 248, 248, 0.90);
                                height: 65px; border: none;
                                " [(ngModel)]="coupon" readonly>


                            <button style="       border-radius: 10px;
                                border: 3px solid #261a55;
                                background: #261a55;
                                padding: 6px 40px 6px 40px;
                                margin-left: -55px;
                                height: 50px;
                                color: #FFF;
                                text-align: center;
                                font-weight: 700;" (click)="openPopup()">APPLY</button>


                        </div>
                    </div>






                </div>
                <div>


                </div>


            </div>
        </div>


        <div class="popup-container" *ngIf="isPopupVisible">
            <div class="popup"
                style="padding: 50px;background: #221950; margin-left: 20px; margin-right: 20px;  z-index: 1; position: relative;">
                <!-- Add content for your popup here -->
                <p style=" color: #FFF; font-size: 22px;
              text-align: center;
              font-weight: 700;"> Congratulations! <br> The Coupon code will be applied on the final offer <br>
                </p>
                <button (click)="closePopup()" style="background: #261a55;
              padding: 8px 62px 6px 58px; color: #FFF;">OK</button>
                <div class="row justify-content-center">
                    <i> <img src="assets/images/Happy.png" alt="" class="happycouponcodeimg" /></i>




                </div>
            </div>
        </div>


        <div *ngIf="hidediv === true">
            <div class="happybox">






                <p class="couponcodepara">
                    Please fill out the form, <br>


                    and We will get back to you soon.</p>
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col align-self-start">


                            </div>
                            <div class="col-12">
                                <div class="">
                                    <div class="container" style="margin-bottom: 20px;">
                                        <div class="row justify-content-center">
                                            <i> <img src="assets/images/Happy.png" alt=""
                                                    class="happycouponcodeimg" /></i>




                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col align-self-end">


                            </div>


                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="bar" style="margin-top: 50px;">
            <ng-container *ngFor="let n of [0, 1, 2]"> <!-- Assuming elSet is 3 -->
                <input class="bar-input" type="radio" name="input" [id]="'input_' + n" />
                <div class="bar-view">
                    <label class="bar-button" [for]="'input_' + n"></label>
                </div>
            </ng-container>
        </div>
        <div class="d-flex justify-content-end">
            <div style="width: 83%;">
                <div style="margin-top: 10px;">
                    <div>


                        <div >
                            <img class="bar-views" src="assets/images/Polygon 1.png" alt=""
                                style="width: 30px; margin-left: 60px;margin-inline-start: 45px;" />
                        </div>
                        <div class="mini-card" style="margin-bottom: 30px; ">
                            <div style="display: inline-flex;
                                                    justify-content: center;
                                                    align-items: center;border-radius: 500px;
                                                    border: 0.5px solid #221950;
                                                background: #221950;color: #FFF;font-size: 20px;
                                                padding-left: 30px; padding-right: 30px;
                                                padding-top: 10px; margin-inline-start: -30px; ">


                                <p class="mini-card-title">
                                    Business details</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div >
            <div class="col-md-6 offset-md-3">
                <div style=" margin-top: 50px;
          border-radius: 30px;color: #FFF;
            text-align: center;


            font-size: 20px;
            margin-left: 30px;
            margin-right: 30px;
            font-weight: 700;
            background: #221950; margin-left: 94px;
        margin-right: 94px;"> Business Details</div>


            </div>
        </div>


        <div >
            <form #contactForm2=ngForm role="form"
                style="background: #FFF;
                border: 0.5px solid #221950;
                background: #FFF;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); padding: 30px; border-radius: 60px;  margin-top: -15px; margin-bottom: 50px; margin-left: 40px; margin-right: 40px;">
                <div class=" mb-4">


                    <div class="row with-forms">
                        <div class="col-lg-6">
                            <div class="form-group mb-4" style="color: #484848;


                        font-size: 15px;
                        font-weight: 600;">


                                Hotel Name
                                <input style="border-radius: 30px;
                              border: 0.5px solid #221950;
                              background: #FFF;" type="text" [formControl]="hotelnameControl" name="name" class="form-control"
                                    placeholder="Enter your hotel name" [(ngModel)]="businessLineDTO.name" required>
                                <div *ngIf="(hotelnameControl.touched || contactForm2.submitted) && hotelnameControl.errors">
                                    <span *ngIf="hotelnameControl.errors.required" class="text-danger">Hotel Name is required
                                    </span><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-4" style="color: #484848;


                      font-size: 15px;
                      font-weight: 600;">


                                Mobile Number
                                <input style="border-radius: 30px;
                            border: 0.5px solid #221950;
                            background: #FFF;" type="tel" name="phone" class="form-control" [formControl]="phoneControl"
                                    pattern="(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\d{1,11}$"
                                    placeholder="Enter your mobile number" [(ngModel)]="businessLineDTO.mobile" required>
                                <div *ngIf="(phoneControl.touched || contactForm2.submitted) && phoneControl.errors">
                                    <span *ngIf="phoneControl.errors.required" class="text-danger">Mobile Number is required
                                    </span>
                                    <span *ngIf="phoneControl.errors.pattern" class="text-danger">Please enter valid phone
                                        number</span>
                                </div>


                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="form-group mb-4" style="color: #484848;


                      font-size: 15px;
                      font-weight: 600;">


                                Owner Name
                                <input style="border-radius: 30px;
                            border: 0.5px solid #221950;
                            background: #FFF;" type="text" [formControl]="nameControl" name="Name" class="form-control"
                                    placeholder="Enter Your Owner Name" [(ngModel)]="businessLineDTO.ownerName" required>
                                <div *ngIf="(nameControl.touched || contactForm2.submitted) && nameControl.errors">
                                    <span *ngIf="nameControl.errors.required" class="text-danger">Owner Name is required </span><br>
                                </div>


                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="form-group mb-4" style="color: #484848;


                      font-size: 15px;
                      font-weight: 600;">


                                Email ID
                                <input style="border-radius: 30px;
                            border: 0.5px solid #221950;
                            background: #FFF;" [formControl]="fromEmailControl" type="text"
                                    name="Enter Your Email Id, e.g. xyz@gmail.com" class="form-control"
                                    placeholder="Enter Your Email Id, e.g. xyz@gmail.com"
                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="businessLineDTO.email" required>
                                <div *ngIf="(fromEmailControl.touched || contactForm2.submitted) && fromEmailControl.errors">
                                    <span *ngIf="fromEmailControl.errors.required" class="text-danger">Email is required </span>
                                    <span *ngIf="fromEmailControl.errors.pattern" class="text-danger">Please enter valid
                                        email</span><br>
                                </div>
                            </div>
                        </div>




                        <div class="col-lg-12">
                            <div class="form-group mb-4" style="color: #484848;


                      font-size: 15px;
                      font-weight: 600;">


                                How did you hear about us?
                                <input type="text" [formControl]="selectedOptionControl" [(ngModel)]="this.businessLineDTO.howDidYouHearAboutUs " (click)="toggleDropdown()" style="border-radius: 30px;
                        border: 0.5px solid #221950;
                        background: #FFF;" name="How did you hear about us?" class="form-control"
                                    placeholder="How did you hear about us?" required>
                                <span class="sorting-arrow"><img src="assets/images/Sort Down.png" alt=""
                                        style="width: 40px;" /></span>
                                <!-- <span class="sorting-arrow" [ngClass]="{ 'open': isDropdownOpen }">&#9660;</span> -->
                                <div>
                                <ul class="dropdown-list" *ngIf="isDropdownOpen">
                                    <li *ngFor="let option of dropdownOptions" (click)="selectOption(option)">{{ option }}</li>
                                </ul>
                                <br>




                                </div>
                                <div *ngIf="(selectedOptionControl.touched || contactForm2.submitted) && selectedOptionControl.errors">
                                    <span *ngIf="selectedOptionControl.errors.required" class="text-danger">required* </span>
                                    <br>
                                </div>






                            </div>


                        </div>
                        <div class="col-lg-12" *ngIf="this.businessLineDTO.howDidYouHearAboutUs === 'Others'">
                            <div class="form-group mb-4" style="color: #484848;


                font-size: 15px;
                font-weight: 600; margin-top: -10px;" >


                                Can you briefly share how you found out about us?


                                <input    style="border-radius: 30px;
                      border: 0.5px solid #221950;
                      background: #FFF;" type="text" name="Can you briefly share how you found out about us?"
                                    class="form-control" [formControl]="selectedOptionothersControl" placeholder="Can you briefly share how you found out about us?"
                                    [(ngModel)]="foundustext" required>
                                <br>


                                <div *ngIf="(selectedOptionothersControl.touched || contactForm2.submitted) && selectedOptionothersControl.errors">
                                    <span *ngIf="selectedOptionothersControl.errors.required" class="text-danger">required * </span>
                                    <br>
                                </div>




                            </div>


                        </div>


                    </div>
                </div>
            </form>


        </div>


        <div style="display: flex;
        justify-content: center;">
            <div>
                <button style="border-radius: 25px;
                background: #221950;width: 226px;
                padding: 5px 80px 4px 79px; border: none; margin-bottom: 50px; color: #FFF;
                text-align: center;


                font-size: 25px;
                font-weight: 700;" [disabled]="hotelnameControl.value === undefined || hotelnameControl.value ===null ||
                phoneControl.value === undefined || phoneControl.value ===null ||
                nameControl.value === undefined || nameControl.value ===null ||
                fromEmailControl.value === undefined || fromEmailControl.value ===null ||
                selectedOptionControl.value === undefined || selectedOptionControl.value === null || selectedOptionothersControl.value === undefined || selectedOptionothersControl.value === null" (click)="next()"> Next</button>
            </div>
        </div>








    </div>

    <app-footer></app-footer>
</div>
