.button-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    position: absolute;
    top: 50%;
    left:auto;
    background-color: transparent;
    
}

/* .g-recaptcha {
    transform:scale(0.95);
    -webkit-transform: scale(0.95);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
} */

.captcha {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}
