<!--     *********     HEADER      *********      -->

<div class="profile-page">
  <nav class="navbar navbar-transparent navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://credencesoft.co.nz/">CredenceSoft</a>
      </div>

      <div class="collapse navbar-collapse" id="navigation-example">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#home">
              Home
            </a>
          </li>
          <li>
            <a href="#aboutus">
              About Us
            </a>
          </li>
          <li>
            <a href="#products">
              Products
            </a>
          </li>
          <li>
            <a href="#services">
              Services
            </a>
          </li>
          <li>
            <a href="#career">
              Career
            </a>
          </li>
          <li>
            <a href="#team">
              Our Team
            </a>
          </li>
          <li>
            <a href="#contact">
              Contact Us
            </a>
          </li>
          <!-- <li class="button-container">
            <a href="https://dashboard-los.appspot.com/" target="_blank" class="btn btn-danger btn-round">
              Employee Login
            </a>
          </li>
          <li class="button-container">
            <a href="https://sourcing-application.appspot.com/" target="_blank" class="btn btn-danger btn-round">
              Apply Loan
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <div id="home" class="page-header header-filter" style="background-image: url('assets/img/dg2.jpg');">
    <div class="container">
      <div class="row">

        <div class="jumbotron">
          <h1 class="title">We
            <span>
              <font color="red">Are</font>
            </span> CredenceSoft</h1>
          <h4>Think.Design.Deliver.</h4>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    END HEADER      *********      -->

  <!--     *********     ABOUT US START      *********      -->

  <div class="features-1" id="aboutus">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">About Us</h2>
        <h5 class="description">
          <font color="black">
            Founded in year 2018, with an aim to utilize the technology, knowledge and experience gained over the years from variety sector such as Banking,Insurance, Finance, Telco, Payment & Health.
            <br><br>We design, develop and implement industry standard cloud based, cost-effective, customized softwares, APIs(Application Programming Interface) services and technology solutions based on contemporary open source technologies and frameworks  for our clients.
            <br><br>This helps our clients/customers to have state-of-the-art features without having to pay for unnecessary tools and software licenses.
            <br><br>The team at CredenceSoft is a harmonious blend of fresh minds who are always excited to try on new technologies on UI/UX spaces to provide enhanced user experience,seasoned Solution Architect and Application Developer to build the system on industry edge software standards, Specialized System Analysts and Domain Experts to formulate business requirements to easy-to-use software system and Quality Control Specialists to ensure the deliverables meet the quality standard specified by client/market.The innovation segment is led by the research and innovation specialists having vast experience in academic and AI(Artificial Intelligence)research and innovations.
          </font>
        </h5>
      </div>
    </div>
  </div>

  <!--     *********    ABOUT US END      *********      -->

  <!--     *********    PRODUCTS START     *********      -->

  <div class="team-4 section-image" id="products" style="background-image: url('assets/img/bg7.jpg')">

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="title">Products</h2>
          <h5 class="description">Put a glance on our financial products.</h5>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="assets/img/faces/card-profile1-square.jpg" />
              </a>
            </div>

            <div class="card-content">
              <h4 class="card-title">LOS</h4>
              <h6 class="category text-muted">(Loan Origination System)</h6>
              <p class="card-description">
                <font color="black">
                  CredenceSoft's SoftOne LOS supports both on premise and Cloud solutions.
                  <br>It is a comprehensive loan origination software which controls and automates various business processes/activities
                  performed in processing of a loan application for advanced risk management .
                  <br>SoftOne supports the entire acquisition lifecycle from customer walk-in to decision by the underwriter
                  for the disbursement. Additionally, it allows online credit evaluation and automatic credit evaluation
                  of the application and processing till loan initiation.
                  <br>It support lead generation, Lead allocation, tracking, deal capturing ,verification Initiation and underwritten.
                </font>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="assets/img/faces/card-profile2-square.jpg" />
              </a>
            </div>

            <div class="card-content">
              <h4 class="card-title">LMS</h4>
              <h6 class="category text-muted">(Loan Management System)</h6>

              <p class="card-description">
                <font color="black">
                  CredenceSoft's SoftOne LMS supports both on premise and Cloud solutions.
                  <br>It is a comprehensive loan management and servicing capabilities that truly accelerates your digital transformation
                  .
                  <br>As a loan management solution, it enables financial institutions to automate the processes for achieving
                  cost savings and enhanced customer experience .
                  <br>SoftOne's LMS can help you to enhance operational efficiencies, improved customer experience with paper
                  less digital processing. It covers Loan disbursal, Loan Rescheduling, Loan Settlement, Loan closure, post
                  disbursal activities and customer services .
                  <br>SoftOne's LMS comes with Collateral management Module to effectively manage the complete life cycle of
                  collaterals module with comprehensive limits managements features.
                </font>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="assets/img/faces/card-profile4-square.jpg" />
              </a>
            </div>

            <div class="card-content">
              <h4 class="card-title">LoM</h4>
              <h6 class="category text-muted"> (Lending on Mobile)</h6>

              <p class="card-description">
                <font color="black">
                  SoftOne LoM an extension of our Personal Loan Management Software on a ios and android platform .
                  <br> SoftOne Mobile LMS allows you for better evaluating borrowers, decision making support and online-lending
                  process automation.
                  <br>It has been specially designed to simplify the task of entire lending lifecycle including borrower management:
                  from loan origination to collection. It also servicing business Loan(MSME), simple interest, revolving
                  facility, bi-weekly, and other methods of interest calculation.
                </font>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!--     *********    PRODUCTS END      *********      -->

  <!--     *********    SERVICES START     *********      -->

  <div class="features-1" id="services">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">Services</h2>
        <h5 class="description">
          <font color="black">
            At CredenceSoft, we provide support for Database setup, Implementation of loan servicing software, define the business
            accounting, automation for all lending process from Credit Underwritten, Risk Analytics, Pre and Post Disbursement
            Activities, Banking and Customer Services. 
            <br><br>Every lender has different needs and satisfying those needs starts
            with the implementation.
            <br><br>We arrive at an actual implementation strategy for each banking customer based on their needs.
          </font>
        </h5>
      </div>
    </div>
  </div>
  <!--     *********    SERVICES END      *********      -->

  <!--     *********    CAREER START     *********      -->

  <div class="team-4 section-image" id="career" style="background-image: url('assets/img/bg8.jpg')">

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="title">Career</h2>
          <h5 class="description">#
            <b>1.</b> Front-End Web Developer/ Angular Developer.</h5>
        </div>
      </div>
      <div class="button-center">
        <div class="col-sm-3">
          <button class="btn btn-danger btn-round btn-default btn-block" data-toggle="modal" data-target="#careerModal">
            <i class="material-icons">assignment</i>
            Apply Now
          </button>
        </div>
      </div>

    </div>
  </div>

  <!--     *********   CAREER MODAL     *********      -->


  <div class="modal fade" id="careerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-signup">
      <div class="modal-content">
        <div class="card card-signup card-plain">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="material-icons">clear</i>
            </button>
            <h2 class="modal-title card-title text-center" id="myModalLabel">Recent Openings</h2>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">

                <div class="info info-horizontal">
                  <div class="icon icon-danger">
                    <i class="material-icons">code</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Urgent Requirement.</h4>
                    <p class="description">
                      29/7/2018
                      <br>
                      <br> We are looking for a Front End Web Developer to join our small team.The candidate must have the ability
                      to learn new technology and sharing the learning.There will be one month training period followed by
                      3 months probation period.During the training period they will be no salary compensation and candidate
                      will be observed with below parameters :
                      <br>
                      <br>
                      <b>*</b> Task Oriented .
                      <br>
                      <b>*</b> Time management .
                      <br>
                      <b>*</b> Team player .
                      <br>
                      <b>*</b> Self Learner .
                    </p>


                  </div>

                </div>


              </div>



              <div class="col-md-6">

                <form class="form" (ngSubmit)="careerApply()">
                  <div class="card-content">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">face</i>
                      </span>
                      <input type="text" class="form-control" placeholder="Name" name="name">
                    </div>

                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">email</i>
                      </span>
                      <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>

                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">phone</i>
                      </span>
                      <input type="text" class="form-control" placeholder="Mobile Number" name="phone">
                    </div>

                    <div class="form-group form-file-upload">
                      <input type="file" id="inputFile2" multiple="" (change)="fileEvent($event)" [(ngModel)]="resume" name="resume">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">attach_file</i>
                        </span>
                        <input type="text" readonly="" class="form-control" placeholder="Upload Your Resume">
                      </div>
                    </div>

                  </div>
                  <div class="modal-footer text-center" type="submit">
                    <a href="#" class="btn btn-danger btn-round">Apply</a>
                  </div>
                </form>




              </div>
            </div>

            <div class="col-2">
              <div class="card card-plain card-blog">
                <h5 class="card-description">
                  <br>
                  <br>
                  <b>This will be an advantage for us if the candidate have following : </b>
                  <br>
                  <br>
                  <b>*</b> Previous programming knowledge in any programming language such as Java.
                  <br>Understanding of HTML and web design Understanding dynamic behaviour of web pages and form controls/events
                  .
                  <br>
                  <b>*</b> Able to understand the business requirement and converting it to technology terms/implementation
                  .
                  <br>
                  <b>*</b> Any relational database such as MySQL,Oracle . Our current project is based on the below technology
                  .
                  <br>
                  <b>*</b> Web : HTML JavaScript Application Programming : Java Spring Database: MySQL Source Control and Version
                  Control: GitHub Nexus Build and Deploy : Docker Maven Google Cloud
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--     *********   CAREER END     *********      -->

  <!--     *********   TEAM START     *********      -->

  <div id="team">
    <div class="container">
      <div class="about-team team-1">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="title">Our Team</h2>
            <h5 class="description">Our ability to deliver better product for our clients, starts with our team of smart. We come from a diverse
              set of experiences and backgrounds that range from JAVA, Front-End development, Networking, Hosting and Banking
              Applications. 
              <br><br>As unique as we are individually, we share a mutual passion for technology and doing excellent
              work for our clients and partners. 
              <br><br>We pride ourselves on our strategic, integrated approach to public relations
              and the results it delivers.
            </h5>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="assets/img/faces/samaya.jpg" />
                </a>
              </div>

              <div class="card-content">
                <h4 class="card-title">Mr. Samaya Muduli</h4>
                <h6 class="category text-muted">founder & director.</h6>
                <p class="card-description">
                  Java / J2EE / Integration
                </p>
                <!-- <div class="footer">
              <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-just-icon btn-simple btn-google">
                <i class="fa fa-google"></i>
              </a>
            </div> -->
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="assets/img/faces/prem.jpeg" />
                </a>
              </div>

              <div class="card-content">
                <h4 class="card-title">Mr.Prem Nepak</h4>
                <h6 class="category text-muted">Quality & Process Owner</h6>

                <p class="card-description">
                  Software Testing / Quality Management / Product Designer / Project Management / Process Improvements
                </p>
                <!-- <div class="footer">
              <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble">
                <i class="fa fa-dribbble"></i>
              </a>
              <a href="#pablo" class="btn btn-just-icon btn-simple btn-linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
            </div> -->
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="assets/img/faces/lucky.jpg" />
                </a>
              </div>

              <div class="card-content">
                <h4 class="card-title">Mr. Subhakant Rout</h4>
                <h6 class="category text-muted">Designer & Developer .</h6>

                <p class="card-description">
                  UI Developer / UX Designer / Oracle
                </p>
                <!-- <div class="footer">
              <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble">
                <i class="fa fa-dribbble"></i>
              </a>
            </div> -->
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="assets/img/faces/camp.jpg" />
                </a>
              </div>

              <div class="card-content">
                <h4 class="card-title">Demo</h4>
                <h6 class="category text-muted">Demo</h6>

                <p class="card-description">
                  Demo
                </p>
                <!-- <div class="footer">
              <a href="#pablo" class="btn btn-just-icon btn-simple btn-google">
                <i class="fa fa-google"></i>
              </a>
              <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble">
                <i class="fa fa-dribbble"></i>
              </a>
            </div> -->
              </div>
            </div>
          </div>

          <!-- <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="assets/faces/avatar.jpg" />
              </a>
            </div>
  
            <div class="card-content">
              <h4 class="card-title">Demo</h4>
              <h6 class="category text-muted">demo</h6>
  
              <p class="card-description">
                demo
              </p>
              <div class="footer">
                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google">
                  <i class="fa fa-google"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div> -->


        </div>
      </div>
    </div>

  </div>

  <!--     *********   TEAM END     *********      -->

  <!--     *********    CONTACT US START     *********      -->

  <div class="contactus-1 section-image" id="contact" style="background-image: url('assets/img/examples/city.jpg')">

    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h2 class="title">Contact Us</h2>
          <h5 class="description">If you have any query then, feel free to contact us.</h5>
          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="material-icons">pin_drop</i>
            </div>
            <div class="description">
              <h4 class="info-title">Regd Office / New Zealand Office Address</h4>
              <p>43 Carder Court, Hobsonville, Auckland,
                <br> Auckland Region 0618,
                <br> New Zealand
              </p>
              <h4 class="info-title">Overseas Office Address </h4>
              <p> Bhumika Heights
                <br> Sector-18,Kharghar,Pin Code - 410210
                <br> Mumbai
              </p>
        
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="material-icons">phone</i>
            </div>
            <div class="description">
              <h4 class="info-title">Give us a Call or Mail</h4>
              <p>
                +6421548329
                <br> contact@credencesoft.co.nz
                <br> Mon - Fri, 9am - 5pm
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-5 col-md-offset-2">
          <div class="card card-contact">
            <form role="form" id="contact-form" method="post">
              <div class="header header-danger header-primary text-center">
                <h4 class="card-title">Contact Us</h4>
              </div>
              <div class="card-content">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">First name</label>
                      <input type="text" name="name" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Last name</label>
                      <input type="text" name="name" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="form-group label-floating">
                  <label class="control-label">Email address</label>
                  <input type="email" name="email" class="form-control" />
                </div>
                <div class="form-group label-floating">
                  <label class="control-label">Your message</label>
                  <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                </div>

                <div class="captcha">
                  <div class="g-recaptcha" data-sitekey="6Lc0smgUAAAAAH8s0U8Kc0fM87xWmZ7d6QwyTvRP"></div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-danger">Send Message</button>
                </div>

              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    CONTACT US END      *********      -->


  <footer class="footer">
    <div class="container">
      <div class="copyright pull-center">
        Copyright &copy;
        <script>document.write(new Date().getFullYear())</script>2018 CredenceSoft - All Rights Reserved.
        <br>made with
        <i class="fa fa-heart heart"></i> by CredenceSoft
      </div>
    </div>
  </footer>