<section id="pricing-wrap" class="pricing-one-wrap p-t-b-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Choose a Subscription Plan</h2>
                <p>You will get discount based on your subscription plan</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0  mb-4  pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header  text-center p-3 mb-2">
                        <h3 class="card-title font-weight-bold mb-2 text-uppercase">Monthly</h3>
                        <p class="text-uppercase mb-0">Base Price</p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="card-text  mb-2">
                            <span class="money text-shadow  text-45 font-weight-bold"><sup
                                    class="text-30 font-weight-normal">$</sup>30</span>.44
                            <span>/Month</span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">
                                <li class="list-group-item p-1 text-muted"></li>
                            </ul>

                        </div>

                        <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Request Demo</a>
                    </div>
                </div>
            </div>
            <!-- end of card -->
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0  mb-4  pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header text-center p-3 mb-2 bg-gradient text-white">
                        <h3 class="card-title text-white font-weight-bold mb-2 text-uppercase">Half Yearly</h3>
                        <p class="text-uppercase mb-0">5% Discount</p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="card-text  mb-2">
                            <span class="money text-shadow  text-45 font-weight-bold"><sup
                                    class="text-30 font-weight-normal">$</sup>28</span>.73
                            <span>/Month</span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">
                                <li class="list-group-item p-1 text-muted"></li>
                            </ul>

                        </div>

                        <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Request Demo</a>
                    </div>
                </div>
            </div>
            <!-- end of card -->
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-md-0 mb-sm-0 mb-4  pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header text-center p-3 mb-2 ">
                        <h3 class="card-title font-weight-bold mb-2 text-uppercase">Yearly</h3>
                        <p class="text-uppercase mb-0">10% Discount</p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="card-text  mb-2">
                            <span class="money text-shadow  text-45 font-weight-bold"><sup
                                    class="text-30 font-weight-normal">$</sup>27</span>.02
                            <span>/Month</span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">

                                <li class="list-group-item p-1 text-muted"></li>
                            </ul>

                        </div>

                        <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Request Demo</a>
                    </div>
                </div>
            </div>
            <!-- end of card -->
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-md-0 mb-sm-0   pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header text-center p-3 mb-2">
                        <h3 class="card-title font-weight-bold mb-2 text-uppercase">2 Year</h3>
                        <p class="text-uppercase mb-0">15% Discount
                        </p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="card-text  mb-2">
                            <span class="money text-shadow  text-45 font-weight-bold"><sup
                                    class="text-30 font-weight-normal">$</sup>25</span>.31
                            <span>/Month</span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">

                                <li class="list-group-item p-1 text-muted"></li>
                            </ul>

                        </div>

                        <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Request Demos</a>
                    </div>
                </div>
            </div>
            <!-- end of card -->


        </div>
    </div>
</section>
