<section id="news-wrap" class="news-two-wrap light-gray p-t-b-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Recent News From Blog</h2>
                <p>Hotel Industry Latest Blogs & Tips - bookone</p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 mb-lg-0 mb-md-0  mb-4"  *ngFor="let post of posts">
                <div class="card text-left  o-hidden">
                    <div class="card_img_left w-40 float-left">
                       <a [routerLink]="[post.slug]"><img class="img-responsive" src="{{post.featured_image}}" alt="Card image"></a> 
                    </div>

                    <div class="card_right_content w-60 p-3 float-right">
                        <div class="pt-3 pb-4">
                            <h3 class="m-0 text-capitalize font-weight-bold">{{post.title}}</h3>
                            <h5 class="font-weight-light text-uppercase">by bookone</h5>
                        </div>

                        <div class="font-weight-light pb-3" [innerHTML]="post.summary">
                            

                            <a [routerLink]="[post.slug]" class="btn  btn-gradient half-button">Read More</a>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end of col -->
            <!-- <div class="col-md-6 col-sm-12 mb-lg-0 mb-md-0  mb-0">
                <div class="card text-left  o-hidden">
                    <div class="card_img_left w-40 float-left">
                        <img class=" img-responsive" src="{{post.featured_image}}" alt="Card image">
                    </div>

                    <div class="card_right_content w-60 p-3 float-right">
                        <div class="pt-3 pb-4">
                            <h3 class="m-0 text-capitalize font-weight-bold">How to Increase Hotel Revenue</h3>
                            <h5 class="font-weight-light text-uppercase">by bookone</h5>
                        </div>

                        <div class="font-weight-light pb-3">
                            <p>Managing and operating a successful hotel now a days is a challenge in itself. Management and staff need to be in sync when it comes to daily operations, cost controls, and customer service. As all goes hand in hand. It’s important to balance and control costs, while working to increase revenues to remain profitable.
                            </p>

                            <a routerLink="/landing/blog-details" class="btn  btn-gradient half-button">Read More</a>
                        </div>


                    </div>
                </div>
            </div> -->
            <!-- end of col -->


        </div>

    </div>
</section>
