.status-badge {
  border-radius: 20px;
  padding: 5px 15px;
  font-weight: bold;
  color: #fff;
}
.status-unpaid {
  background-color: #e74c3c;
}
.status-enquiry {
  background-color: #f1c40f;
  color: #000;
}
.coupon-box {
  background-color: #dfffe1;
  border: 1px solid #a2d7a7;
  padding: 15px;
  border-radius: 8px;
}

.details-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}
.footer-link {
  text-align: center;
  margin-top: 20px;
}
.highlight-text {
  font-size: 17px;
  color: #615D5D;
  }
.assistance-section {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
margin-bottom: 10px;
  color: #272727;
  float: right;
}
.note-section {
  margin-top: 30px;
  padding: 20px;


  border-radius: 5px;
}


.note-section h5 {
  font-weight: bold;
  color: #000;
}


.note-section ul {
  padding-left: 20px;
  list-style-type: decimal;
}


.note-section ul li {
  margin-bottom: 10px;
  color: #333;
}


.property-rules {
  margin-top: 20px;
  font-weight: bold;
  color: #000;
}


.assistance-section .contact-info {


  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}


.assistance-section .contact-info span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}


.assistance-section i {
  font-size: 16px;
  color: #000;
}
.responsive-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}


@media (max-width: 768px) {
  .responsive-wrapper {
      margin-left: 10px;  /* Reduce margin on smaller screens */
      margin-right: 10px;
  }
}



