<div class="desktop-view-booking-voucher">


  <div class="responsive-wrapper ">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-6">
        <div class="assistance-section">
          <div style="display: flex;">
            <div><strong>Need Assistance?</strong></div>
            <div class="contact-info" style="display: flex;margin-top: 0px;margin-left: 10px;">
              <span><img
                src="assets/images/Phone-call.png"
                alt=""
                height="20px"
                width="20px"
                style="margin-right: 3px; transform: rotate(3deg);"
              > 7689345790</span>
              <span><img
                src="assets/images/chatsym.png"
                alt=""
                height="20px"
                width="20px"
                style="margin-right: 3px; transform: rotate(3deg);"
              > 7689345790</span>
            </div>
          </div>
          <p style="margin-bottom: -19px;margin-top: -12px;">Working Hours: <span>08:00 AM to 10:00 PM</span></p>
        </div>
      </div>
    </div>


    <div class="text-center mb-4">
        <span style="font-weight:bold !important;color: #000 !important;     font-size: 35px !important;">Thank you!</span>
        <p class="mb-0" style="font-weight: bold !important;
        color: #000 !important;
        font-size: 21px !important;
        margin-top: -7px;">We’ve received your reservation enquiry.</p>
        <p  class="mb-0" style="margin-top: -3px;font-size: 18px;color: #615D5D;"> A copy of your enquiry has been sent to your email. </p>
        <p  style="color:#615D5D;font-weight: bold;margin-top: -3px;font-size: 17px;">Note: Please check your spam folder if you don’t see it, or find it on WhatsApp.</p>
    </div>


    <div class="row mb-4" style="    justify-content: center;">
      <div class="col-md-4" style="text-align: center; flex: 0 0 25.333333%;
        max-width: 25.333333%;">
          <p class="mb-1"><span class="highlight-text">Enquiry ID</span></p>
          <p class="mb-0">CIB-56-7890</p>
      </div>
      <div class="col-md-4" style="text-align: center; flex: 0 0 25.333333%;
        max-width: 25.333333%;">
          <p class="mb-1"><span class="highlight-text">Payment Status</span></p>
          <p class="mb-0"><span class="status-badge status-unpaid" style="font-size: 13px;">Unpaid</span></p>
      </div>
      <div class="col-md-4" style="text-align: center;flex: 0 0 25.333333%;
        max-width: 25.333333%;">
          <p class="mb-1"><span class="highlight-text">Reservation Status</span></p>
          <p class="mb-0"><span class="status-badge status-enquiry" style="font-size: 13px;">Enquiry</span></p>
      </div>
  </div>

<div class="row" >
<div class="col-8">
  <div class="row mb-3" style="display: flex; justify-content: center;margin-top: 15px;">
    <div class="col-md-6" style="min-width: 40% !important;
    flex: 0 0 40%; text-align: center; border-right: 2px solid #D9D9D9;">

        <div style="display: flex;
            gap: 26px;
            justify-content: center;">
          <div>
            <img
                      src="assets/images/CalendarVoucher.png"
                      alt=""
                      height="20px"
                      width="20px"
                      style="margin-right: 3px; transform: rotate(3deg);"
                    >
          </div>
          <div *ngIf="booking.fromDate">
            <b>  Check-in date </b>  <br/>
            <p>{{booking.fromDate}}</p>
          </div>
        </div>
    </div>
    <div class="col-md-6" style="min-width: 40% !important;
    flex: 0 0 40%;text-align: center;" *ngIf="booking.toDate">
      <div>
        <b> Check-in date </b>  <br/>
        <p>{{booking.toDate}}</p>
         </div>
    </div>

    <div class="col-md-6" style="min-width: 40% !important;
    flex: 0 0 40%; text-align: center; " *ngIf="booking.noOfPersons ||  booking.noOfChildren">
        <div>
       <b> Occupancy: </b>
        </div>
    </div>
    <div class="col-md-6" style="min-width: 40% !important;
    flex: 0 0 40%;text-align: center;"  *ngIf="booking.noOfPersons ||  booking.noOfChildren">
      <div>
        <p>{{booking.noOfPersons}} Adults, {{booking.noOfChildren}} Children</p>
         </div>
    </div>
    <div class="col-md-6" style="min-width: 40% !important;
    flex: 0 0 40%; text-align: center; " *ngIf="booking.noOfRooms">
        <div>
       <b> Rooms: </b>
        </div>
    </div>
    <div class="col-md-6" style="min-width: 40% !important;
    flex: 0 0 40%;text-align: center;" *ngIf="booking.noOfRooms">
      <div>
        <p>{{booking.noOfRooms}}</p>
         </div>
    </div>

    <div class="col-md-6" style="min-width: 40% !important;
    flex: 0 0 40%; text-align: center; " *ngIf="booking.noOfNights">
        <div>
       <b> Nights: </b>
        </div>
    </div>
    <div class="col-md-6" style="min-width: 40% !important;
    flex: 0 0 40%;text-align: center;" *ngIf="booking.noOfNights">
      <div>
        <p>{{booking.noOfNights}} </p>
         </div>
    </div>
</div>


</div>

<div class="col-4" style="margin-top:20px;">
<div>
  <h2 style="font-weight: bold !important;
  color: #000 !important;
  font-size: 35px !important;">{{propertyDetails.name}}</h2>
  <h5>{{propertyDetails.address.city}},{{propertyDetails.address.state}}, {{propertyDetails.address.country}}</h5>
  <h4 class="text-muted" style=" font-size: 15px;" [innerHTML]="propertyDetails.businessDescription">{{propertyDetails.businessDescription}}</h4>
</div>
</div>
</div>




    <div class="row mb-4" style="    display: flex;
        justify-content: center;    gap: 30px;">
        <div class="col-8" style="flex: 0 0 38%;
        max-width: 38%;">
            <div class="details-card">



                <p style="font-size: 21px;">STANDARD AC ROOM x 1</p>
                <table style="width: 88%; margin-top: -0.7rem;">
                  <tr>
                    <td>CP Room Plan x 1</td>
                    <td>₹5093</td>
                  </tr>
                  <tr>
                    <td>Extra Pax Charges</td>
                    <td>₹0</td>
                  </tr>
                  <tr>
                    <td>Tax + Services (12%)</td>
                    <td>₹612</td>
                  </tr>
                </table>

                <hr style="margin-top: 10px; margin-bottom: 10px;">

                <p style="font-size: 18px;">Add-on Services:</p>
                <table style="width: 88%;margin-top: -1rem;">
                  <tr>
                    <td>Pick-up & Drop off <br/>
                      ₹500 + ₹50 (10% tax)
                    </td>
                    <td>₹5093</td>
                  </tr>

                </table>
            </div>

            <div class="details-card" style="margin-top: 20px;">
              <table style="width: 88%;">
                <tr>
                  <td>Total Payable Amount
                  </td>
                  <td>₹ 6,255</td>
                </tr>

                <tr>
                  <td>Tax Amount (50%)
                  </td>
                  <td>₹ 3,128</td>
                </tr>

                <tr>
                  <td>Due Amount
                  </td>
                  <td>₹ 3,127</td>
                </tr>

              </table>
            </div>
        </div>
        <div class="col-4">
            <div class="coupon-box mb-4">
              <div style="display: flex; gap: 10px;">
                <div>
                  <img
                  src="assets/images/Tag.png"
                  alt=""
                  style="margin-right: 0px;
                  transform: rotate(-2deg);
                  height: 43px;
                  width: 43px;
                  margin-top: 10px;"
                >
                </div>
                <div>
                  <h5 style="color: #fff;
                  font-weight: bold;
                  font-size: 24px;"> Save More On Your Booking!</h5>
                  <p style=" margin-top: -7px;">Claim Coupon Code: <strong>NEWYEAR</strong></p>
                  <p style=" margin-top: -10px;">Share this coupon code when confirming your reservation to save 20%!</p>
                </div>
              </div>



            </div>


            <div style="background-color: #F5F5F5;
            padding: 20px;
            border-radius: 15px;">
                <h5><img
                  src="assets/images/User.png"
                  alt=""
                  style="
                  height: 26px;
                  width: 26px;"
                > Guest Details</h5>
                <table style="width: 88%;">
                  <tr *ngIf="booking.firstName != null && booking.firstName != undefined">
                    <td>Guest Name:
                    </td>
                    <td>{{booking.firstName}}{{booking.lastName}}</td>
                  </tr>

                  <tr *ngIf="booking.email != null && booking.email != undefined">
                    <td>Email Address:
                    </td>
                    <td>{{booking.email}}</td>
                  </tr>

                  <tr *ngIf="booking.mobile != null && booking.mobile != undefined">
                    <td>Phone Number:
                    </td>
                    <td>{{booking.mobile}}</td>
                  </tr>

                  <tr *ngIf="booking.notes != null && booking.notes != undefined">
                    <td>Notes:
                    </td>
                    <td>{{booking.notes}}</td>
                  </tr>

                </table>

            </div>
        </div>
    </div>


    <div class="footer-link">
        <a href="#" style="
            font-weight: bold;
            font-size: 18px;">Go back to home page</a>
            <div style="display: flex; justify-content: center;">
              <div style="width:181px; border-bottom: 2px solid gray;"></div>
            </div>


            </div>
        <p class="mt-2" style="text-align: center;">For urgent bookings (same-day or next-morning check-ins), please call us directly at <strong>079652 01321</strong> for prompt assistance.</p>
    </div>
    <div class="note-section">
      <h5>Please note:</h5>
      <ul>
        <li>Confirmation: The Hotel Mate team will contact you to confirm your booking.</li>
        <li>Price Changes: Prices are subject to change due to hotel demand. We will do our best to offer the Best Available Rate.</li>
        <li>Room Availability: If rooms are unavailable, we may offer alternative accommodations upon your request.</li>
        <li>Advance Payment: In accordance with the hotel’s policy, you may be required to pay an advance amount (minimum 20% to full payment).</li>
        <li>Payment and Booking Confirmation: We will provide you with a payment link or scanner. Once payment is received, we will confirm your reservation and send a booking confirmation voucher via email and/or WhatsApp.</li>
        <li>Last Minute Bookings: If this is a last-minute booking, meaning the check-in date is the same as the date of booking or early check-in the next day, please call us.</li>
        <li>Paid Booking: In the event that payment has already been made, and we are unable to confirm the booking, we will refund the full amount (minus payment gateway charges).</li>
        <li>Email Confirmation: Please check your spam folder for the email confirmation, as it may sometimes be found there.</li>
      </ul>
      <p class="property-rules">Property rules:</p>
  </div>
</div>



