table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 5px;
  }
  
  th {
    background-color: #ddd;
  }
  

  nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:#bbbbbb;
      border-radius:0;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#000000;
      background:#bbbbbb;
      border-radius:0;
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #221950 ;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #221950;
      border-bottom:5px solid #221950;
      padding:30px 25px;
  }
  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #221950;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }
  .reservation-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .reservation-list-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .reservation-list-header > div {
    font-weight: bold;
  }
  
  .reservation-list-body {
    padding: 10px;
  }
  
  .responsive-box {
    background-color: #fff; /* Set your desired background color */
    padding: 20px; /* Adjust padding as needed */
    margin: 10px; /* Adjust margin as needed */
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2); /* Shadow properties */
    /* width: 80%; Initial width for smaller screens */
    /* max-width: 500px; Maximum width for larger screens */
    display: flex; /* Center content horizontally (optional) */
    align-items: center; /* Center content vertically (optional) */
    justify-content: center; /* Center content horizontally (optional) */
  }
  
  /* Media Queries for Responsive Behavior */
  
  @media (min-width: 768px) {
      /* width: 60%;  */
  }
  
  @media (min-width: 992px) {
      /* width: 40%; Adjust width for large screens */
  }
  
  .col-md-12-counttable{
    padding: 50px;
  }


  @media only screen and (max-width: 768px) {
  .noofbook{
    display: flex;
    flex-direction: column;
  }
}