<div class="main-wrapper">
  <app-Header-Listingdetailsone   [businessUser]="businessUser"> </app-Header-Listingdetailsone>
  <!--Title Bar -->
  <!-- <title-bar title="Booking Details" subtitle="Here is your final information"></title-bar> -->
 <div>
  <div id="print-section">
    <!--Your html stuff that you want to print-->
  </div>
  <!-- <button class="btn" printSectionId="print-section" ngxPrint>print</button>  -->

 </div>
  <!-- Container -->
  <div class="content">
    <div class="container minnni">
      <div class="row">
        <!-- Sidebar -->
        <div class="card col-12 text-center" *ngIf="payment.failureCode !== null" style="margin-top: 100px; padding: 40px; background-color: #f8f9fa; border: 1px solid #dc3545; border-radius: 10px;">
          <div class="mb-4">
              <i class="fas fa-exclamation-circle" style="font-size: 50px; color: #dc3545;"></i>
          </div>
          <h2 class="text-danger" style="font-weight: bold;">Payment Error</h2>
          <p style="font-size: 18px; color: #6c757d;">{{payment.failureMessage}}</p>
          <h5 class="mt-3" style="color: #ff0000; font-weight: bold;">
              Oops!! It seems your payment was not successful, but we have confirmed your booking. Please arrange the payment with the property to keep your booking active.
          </h5>
          <button class="btn btn-primary mt-4" type="button" (click)="onGoHome()" style="padding: 10px 20px; font-size: 16px;">
              <i class="fas fa-arrow-left mr-2"></i> Go Back
          </button>
      </div>

        <div class="col-lg-12 col-md-12" >


          <div *ngIf="bookingConfirmed"  style="padding-top: 6rem ;" style="display: none;">


            <img class="thankyou-enquiry" src="assets/images/demo.png" alt="Avatar" />
            <h2 class="thankyou-enquiry1">Thank You for Choosing BookOne Connect.</h2>
            <p class="thankyou-enquiry2">Reservation No: {{ booking.propertyReservationNumber }}</p>
            <p class="cont">This is a confirmed booking.</p>
            <div >
              <p class="cont1">
                Thank you for your Booking regarding the {{ businessUser.name }}. We want to assure
                you that we are diligently handling your booking and will provide
                a response shortly.
              </p>
            </div>
            <div class="cardenquiry">
            <div  *ngIf="businessUser.logoUrl">
              <img [src]="businessUser.logoUrl" class="enquiry-logo" alt="" />
            </div>
            <div class="cardpr">
              <br />
              <p class="cardpr1">
                Mean while, please have a look at the procedure of the booking
              </p>
            </div>
            <div>
              <!-- <p></p> -->
              <!-- <ol class="lists-enquiry" >
                <li style="color: #484848 !important;">Reservation details are submitted to {{ businessUser.name }}.</li>
                <li style="color: #484848 !important;">
                  Once the hotel confirms your booking, we will notify you promptly.
                </li>
                <li style="color: #484848 !important;">
                  In the event of any price fluctuations, you will be duly informed.
                </li>
                <li style="color: #484848 !important;">
                  In the case we can't accommodate your booking request, we'll provide
                  suitable alternative options that match your preferences.
                </li>
              </ol> -->


              <div>
                <p class="enquiry-details">Booking Details</p>
              </div>


              <div class="cardenquiry1">
                <div class="cardenquiry1a">
                  <table class="vl">
                    <tr>
                      <th class="cardenquiry1b">Reservation No</th>
                      <th class="cardenquiry1b">{{ booking.propertyReservationNumber }}</th>
                    </tr>
                    <tr>
                      <td class="cardenquiry1c">Guest</td>
                      <td class="cardenquiry1c">
                        {{ booking.firstName }} {{ booking.lastName }}
                      </td>
                    </tr>
                    <tr>
                      <td class="cardenquiry1c">Email Id</td>
                      <td class="cardenquiry1c">{{ booking.email }}</td>
                    </tr>
                    <tr>
                      <td class="cardenquiry1c">Phone</td>
                      <td class="cardenquiry1c">{{ booking.mobile }}</td>
                    </tr>
                    <tr>
                      <td class="cardenquiry1c">Selected Room</td>
                      <td class="cardenquiry1c">{{ booking.roomName }}</td>
                    </tr>
                    <tr *ngIf="booking.roomPrice != null && booking.roomPrice != undefined ">
                      <td class="cardenquiry1c">Room Price</td>
                      <td class="cardenquiry1c">
                        {{
                        booking.roomPrice | currency : currency : "symbol" : "1.2-2"
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td class="cardenquiry1c">No of Person(s)</td>
                      <td class="cardenquiry1c">{{ booking.noOfPersons }}</td>
                    </tr>
                    <tr>
                      <td class="cardenquiry1c">No of Children(s)</td>
                      <td class="cardenquiry1c">{{ booking.noOfChildren }}</td>
                    </tr>


                    <tr>
                      <td class="cardenquiry1c">Total Amount</td>
                      <td class="cardenquiry1c">
                        {{
                        booking.totalAmount | currency : currency : "symbol" : "1.2-2"
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td class="cardenquiry1c">Advance Amount</td>
                      <td class="cardenquiry1c">
                        {{
                        booking.advanceAmount | currency : currency : "symbol" : "1.2-2"
                        }}
                      </td>
                    </tr>

 <tr>
                      <td class="cardenquiry1c">Special Notes</td>
                      <td class="cardenquiry1c">
                        {{
                        booking.notes
                        }}
                      </td>
                    </tr>


                    <!-- <tr *ngIf="discountPercentage">


                      <td class="cardenquiry1c">Discount:</td>
                      <td class="cardenquiry1c">{{ booking.discountPercentage }}%</td>
                    </tr>
                    <tr *ngIf="discountPercentage">
                      <td class="cardenquiry1c">Discount Amount: </td>
                      <td class="cardenquiry1c"> {{
                        booking.discountAmount
                        | currency : currency : "symbol" : "1.2-2"
                        }}</td>




                    </tr> -->
                    <!-- <tr>
                      <td class="cardenquiry1c">Notes</td>
                      <td class="cardenquiry1c">{{ booking.notes }}</td>
                    </tr> -->
                  </table>
                </div>
              </div>


              <a href="{{PropertyUrl}}"><button style="display: flex;justify-content: center; background-color: darkblue;color: white;margin-top: 10px !important;margin: auto;">Go to Home</button></a>
            </div>
          </div>
          <div *ngIf="enquirySent == true">
            <h4 class="mb-3 mt-4" >Your Payment was not successful! But an enquiry for your booking is sent!</h4>

            <div class="row" >

              <div class="col-lg-4 col-md-4">
                <!-- Booking Summary -->
                <div class="order-summary-widget">
                  <div class="listing-item">
                    <img *ngIf="businessUser.logoUrl" src="{{businessUser.logoUrl}}" alt="" width="100%" height="auto">

                    <img *ngIf="!businessUser.logoUrl" src="assets/images/app-logo.png" alt="" width="100%">
                    <div class="listing-item-content pt-3">
                      <!-- <div>
                <span class="pull-left badge badge-pill list-banner badge-success text-uppercase">{{businessUser.businessType}}</span>
              </div> -->
                      <h3>{{businessUser.name}}</h3>
                      <span><small *ngIf="businessUser.address">
                          <p class="description">
                            {{businessUser.address.streetNumber? businessUser.address.streetNumber + ', ' : '' }}
                            {{businessUser.address.streetName? businessUser.address.streetName + ', ' : '' }}
                            {{businessUser.address.suburb? businessUser.address.suburb + ', ' : '' }}
                            {{businessUser.address.locality? businessUser.address.locality + ', ' : '' }}
                            {{businessUser.address.city? businessUser.address.city + ', ' : '' }}
                            {{ businessUser.address.country? businessUser.address.country : '' }}
                          </p>
                        </small></span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Content -->
              <div class="col-lg-8 col-md-8 padding-right-30">
                <ul class="summery"  >

                  <!-- <li><b>Reservation No:</b> {{ enquiryForm.id }}</li> -->
                  <li><b>Full guest name: </b> {{ enquiryForm.firstName }} {{enquiryForm.lastName}}</li>
                  <li><b>Email: </b> <span> {{enquiryForm.email}}</span></li>
                  <li><b>Phone: </b><span> {{enquiryForm.mobile}}</span></li>
                  <li><b>Selected Room: </b><span> {{enquiryForm.roomName}}</span></li>
                  <li><b>Room Price: </b><span>
                      {{enquiryForm.roomPrice | currency: currency:'symbol':'1.2-2' }} </span>
                  </li>
                  <li><b>No Of Person(s): </b><span> {{enquiryForm.noOfPersons}}</span></li>

                  </ul>
              </div>

            </div>

          </div>
          <ngb-alert class="mt-3" *ngIf="showAlert" [type]="alertType" (close)="showAlert = false">
            <strong>{{headerTitle}}</strong> {{bodyMessage}}</ngb-alert>

        </div>

        <div class="mobile-view-ui">
          <div *ngIf="bookingConfirmed" style="padding-left: 10px; padding-top: 20px; padding-right: 10px;margin-top: 65px;">
            <h3 style=" font-weight: bold; ">Thank You For Booking with {{businessUser.name }}!</h3>
            <p style=" font-weight: bold; ">You will get a confirmation with the booking details in your mail and mobile number.</p>
            <p style=" font-weight: bold; ">For assistance, contact <br/>
              <b style="color: #000C7A;">'Our Service Team'</b> <br/> </p>
              <div class="d-flex align-items-center">
                <a [href]="'tel:' + businessUser.whatsApp" style="text-decoration: none; color: inherit; cursor: pointer;">
                    <i class="fa fa-phone" style="font-size: 24px; color: black; margin-right: 10px;"></i>
                    <p style="font-size: 18px; color: #000C7A; margin: 0; display: inline; font-weight: bold;" >{{businessUser.whatsApp}}</p>
                </a>
            </div>

            <h3 style=" font-weight: bold; margin-top: 20px;">Your Booking Details</h3>

            <div class="card" style="background-color: black; ">
              <div style="margin: 15px;">
              <h3 style="color:#fff; font-weight: bold;">{{businessUser.name}}</h3>
              <h5 style="color:#fff; font-weight: bold;">{{businessUser.address?.streetName}}, {{businessUser.address?.city}}, {{businessUser.address?.state}}, {{businessUser.address?.country}}</h5>
              <div class="d-flex">
              <div class="col-12 checkAva3 d-flex" style="background-color: #fff; padding-top: 10px; padding-bottom: 10px;">
                <div class="col-6" style="border-right: 1px solid black; ">
                  <label for="checkin" class="label_heading1 checkAva4" style="color:#615D5D; font-weight: bold;" >
                    Check-In-Date
                  </label> <br/>
                  <p style="color:#000C7A; font-weight: bold;">{{ booking.fromDate | date: 'dd MMM' }}</p>


                </div>
                <div  class="col-6">
                  <label for="checkin" class="label_heading1 checkAva4" style="color:#615D5D; font-weight: bold;" >
                    Check-Out-Date
                  </label> <br/>
                  <p style="color:#000C7A; font-weight: bold;">{{ booking.toDate | date: 'dd MMM' }}</p>


                </div>

              </div>

            </div>
            <div style="margin-top: 10px; margin-bottom: 15px; color:#fff">
              <table style=" border: none; width:100%">
                <tr>
                  <td>Reservation ID :</td>
                  <td>{{booking.propertyReservationNumber}}</td>
                </tr>
                <tr>
                  <td>Guest Name :</td>
                  <td>{{booking.firstName}}  {{booking.lastName}}</td>
                </tr>
                <tr>
                  <td>Email Address :</td>
                  <td>{{booking.email}}</td>
                </tr>
                <tr>
                  <td>Phone Number :</td>
                  <td>{{booking.mobile}}</td>
                </tr>
              </table>
            </div>

            <div class="col-12 checkAva3 " style="background-color: #fff; font-weight: bold; padding-top: 10px; padding-bottom: 10px;">
              <h4 style="font-weight: bold;">{{booking.roomName}}</h4>
              <table style=" border: none; width:100%">
                <tr>
                  <td>{{booking.roomRatePlanName}} * 1</td>
                  <td>{{booking.roomPrice | currency : currency : "symbol" : "1.2-2"}}</td>
                </tr>
                <tr>
                  <td>Extra Pax Charges :</td>
                  <td>{{booking.extraPersonCharge | currency : currency : "symbol" : "1.2-2"}}</td>
                </tr>
                <tr>
                  <td>Tax + Services ({{booking.taxPercentage}}% tax) :</td>
                  <td>{{booking.taxAmount | currency : currency : "symbol" : "1.2-2" }}</td>
                </tr>
                <tr>
                  <td>Total Amount :</td>
                  <td>{{booking.totalAmount | currency : currency : "symbol" : "1.2-2"}}</td>
                </tr>
              </table>
            </div>

            <div class="col-12 checkAva3 " *ngIf="savedServices?.length > 0"  style="background-color: #fff; font-weight: bold; padding-top: 10px; padding-bottom: 10px; margin-top: 15px;">
              <h4 style="font-weight: bold;">Add-on Services</h4>
              <table style=" border: none; width:100%">
                <tr *ngFor="let fac of savedServices">
                  <td><div class="d-flex "  id="facility" *ngIf="fac.name !== null && fac.name !== undefined && fac.serviceType !== 'Distance' && fac.serviceType !== 'RestaurantHotel' && fac.serviceType !== 'DistanceRailway'">
                    <div style="display: flex; gap:4px">

                      <img *ngIf="!fac.imageUrl" src="https://static.thenounproject.com/png/3421816-200.png" alt="icon" style=" width: 26px;height: 23px;">


                      <img *ngIf="fac.imageUrl" [src]="fac.imageUrl" alt="icon" style="width: 26px;height: 23px;">

                      <br>

                      <p>{{fac.name }} * {{fac.quantity}} <br>

                        <b *ngIf="fac.servicePrice !== null && fac.servicePrice !== undefined && fac.taxAmount !== null && fac.taxAmount !== undefined">
                        {{fac.servicePrice | currency : currency : "symbol" : "1.2-2"}} +
                        {{fac.taxAmount | currency : currency : "symbol" : "1.2-2"}} ({{fac.taxPercentage}}% tax)
                      </b>

                      </p>
                    </div>
                  </div></td>
                  <td *ngIf="fac.servicePrice == null || fac.servicePrice == undefined">{{0 | currency : currency : "symbol" : "1.2-2"}}</td>
                  <td *ngIf="fac.servicePrice !== null || fac.servicePrice !== undefined">{{fac.afterTaxAmount * fac.quantity | currency : currency : "symbol" : "1.2-2"}}
                  </td>
                </tr>

              </table>
            </div>

            <div class="col-12 checkAva3 " style="background-color: #fff; font-weight: bold; padding-top: 10px; padding-bottom: 10px; margin-top: 15px;">
              <table style=" border: none; width:100%">
                <tr>
                  <td>No. Of Guests</td>
                  <td>Number Of Nights</td>
                </tr>
                <tr>
                  <td>{{booking.noOfPersons}}</td>
                  <td>{{booking.noOfNights}}</td>
                </tr>

              </table>
            </div>

            <div class="col-12 checkAva3 " style="background-color: #fff; font-weight: bold; padding-top: 10px; padding-bottom: 10px; margin-top: 15px;">
              <table style=" border: none; width:100%">
                <tr>
                  <td>Total Payable Amount</td>
                  <td>{{booking.totalAmount | currency : currency : "symbol" : "1.2-2"}}</td>
                </tr>
                <tr>
                  <td>Advance Amount ({{getDetailsData}}%)</td>
                  <td>{{booking.advanceAmount | currency : currency : "symbol" : "1.2-2"}}</td>
                </tr>

                <tr *ngIf="getDetailsData !== 100">
                  <td>Due Amount </td>
                  <td>{{this.dueAmount| currency : currency : "symbol" : "1.2-2"}}</td>
                </tr>

                <tr *ngIf="getDetailsData == 100">
                  <td>Due Amount </td>
                  <td>{{0 | currency : currency : "symbol" : "1.2-2"}}</td>
                </tr>

                <!-- <tr>
                  <td>Due Amount </td>
                  <td>{{booking.advanceAmount | currency : currency : "symbol" : "1.2-2"}}</td>
                </tr> -->

              </table>
            </div>

            </div>
            </div>

            <div style="margin-top: 20px;margin-bottom: 10px;">
              <div class="card" style="background-color: #FEE13D; padding: 10px; font-weight: bold;" >
                Would you like to pre-book your meals and tour packages?
              </div>

              <div class="row" style="gap:10px; justify-content: center; margin-top: 10px;">
                <div class="card col-3" *ngFor="let fac of businessUser?.propertyServicesList">
                  <ng-container *ngIf="fac.name !== null && fac.name !== undefined && fac.serviceType !== 'Distance' && fac.serviceType !== 'RestaurantHotel' && fac.serviceType !== 'DistanceRailway'">
                    <div style="margin: auto; padding: 10px; ">
                  <img *ngIf="!fac.imageUrl"
                  src="https://static.thenounproject.com/png/3421816-200.png"
                  alt="icon" style=" width: 34px;height: 30px; justify-content: center;">
                  <img *ngIf="fac.imageUrl" [src]="fac.imageUrl" alt="icon" style="width: 34px;height: 30px;">
                </div>
                </ng-container>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="desktop-view-ui">
          <div  style="padding-left: 10px; padding-top: 20px; padding-right: 10px;margin-top: 85px;">
            <h3 style=" font-weight: bold; ">Thank You For Booking with {{businessUser.name }}!</h3>
            <p style=" font-weight: bold; ">You will get a confirmation with the booking details in your mail and mobile number.</p>
            <p style=" font-weight: bold; ">For assistance, contact <br/>
              <b style="color: #000C7A;">'Our Service Team'</b> <br/> </p>
              <div class="d-flex align-items-center">
                <a [href]="'tel:' + businessUser.whatsApp" style="text-decoration: none; color: inherit; cursor: pointer;">
                    <i class="fa fa-phone" style="font-size: 24px; color: black; margin-right: 10px;"></i>
                    <p style="font-size: 18px; color: #000C7A; margin: 0; display: inline; font-weight: bold;" >{{businessUser.whatsApp}}</p>
                </a>
            </div>

            <h3 style=" font-weight: bold; margin-top: 20px;">Your Booking Details</h3>
            <div class="d-flex">
              <div class="col-6">
                <div class="col-12 checkAva3 " style="background-color: #fff; font-weight: bold; padding-top: 10px; padding-bottom: 10px;    border: 2px solid;
    border-radius: 10px;">
                  <h4 style="font-weight: bold;">{{booking.roomName}}</h4>
                  <table style=" border: none; width:100%">
                    <tr>
                      <td>{{booking.roomRatePlanName}} * 1</td>
                      <td>{{booking.roomPrice | currency : currency : "symbol" : "1.2-2"}}</td>
                    </tr>
                    <tr>
                      <td>Extra Pax Charges :</td>
                      <td>{{booking.extraPersonCharge | currency : currency : "symbol" : "1.2-2"}}</td>
                    </tr>
                    <tr>
                      <td>Tax + Services ({{booking.taxPercentage}}% tax) :</td>
                      <td>{{booking.taxAmount | currency : currency : "symbol" : "1.2-2" }}</td>
                    </tr>
                    <tr>
                      <td>Total Amount :</td>
                      <td>{{booking.totalAmount | currency : currency : "symbol" : "1.2-2"}}</td>
                    </tr>
                  </table>
                </div>

                <div class="col-12 checkAva3 " *ngIf="savedServices?.length > 0"  style="background-color: #fff; font-weight: bold; padding-top: 10px; padding-bottom: 10px; margin-top: 15px;    border: 2px solid;
    border-radius: 10px;">
                  <h4 style="font-weight: bold;">Add-on Services</h4>
                  <table style=" border: none; width:100%">
                    <tr *ngFor="let fac of savedServices">
                      <td><div class="d-flex "  id="facility" *ngIf="fac.name !== null && fac.name !== undefined && fac.serviceType !== 'Distance' && fac.serviceType !== 'RestaurantHotel' && fac.serviceType !== 'DistanceRailway'">
                        <div style="display: flex; gap:4px">

                          <img *ngIf="!fac.imageUrl" src="https://static.thenounproject.com/png/3421816-200.png" alt="icon" style=" width: 26px;height: 23px;">


                          <img *ngIf="fac.imageUrl" [src]="fac.imageUrl" alt="icon" style="width: 26px;height: 23px;">

                          <br>

                          <p>{{fac.name }} * {{fac.quantity}} <br>

                            <b *ngIf="fac.servicePrice !== null && fac.servicePrice !== undefined && fac.taxAmount !== null && fac.taxAmount !== undefined">
                            {{fac.servicePrice | currency : currency : "symbol" : "1.2-2"}} +
                            {{fac.taxAmount | currency : currency : "symbol" : "1.2-2"}} ({{fac.taxPercentage}}% tax)
                          </b>

                          </p>
                        </div>
                      </div></td>
                      <td *ngIf="fac.servicePrice == null || fac.servicePrice == undefined">{{0 | currency : currency : "symbol" : "1.2-2"}}</td>
                      <td *ngIf="fac.servicePrice !== null || fac.servicePrice !== undefined">{{fac.afterTaxAmount * fac.quantity | currency : currency : "symbol" : "1.2-2"}}
                      </td>
                    </tr>

                  </table>
                </div>

                <div class="col-12 checkAva3 " style="background-color: #fff; font-weight: bold; padding-top: 10px; padding-bottom: 10px; margin-top: 15px;    border: 2px solid;
    border-radius: 10px;">
                  <table style=" border: none; width:100%">
                    <tr>
                      <td>No. Of Guests</td>
                      <td>Number Of Nights</td>
                    </tr>
                    <tr>
                      <td>{{booking.noOfPersons}}</td>
                      <td>{{booking.noOfNights}}</td>
                    </tr>

                  </table>
                </div>

                <div class="col-12 checkAva3 " style="background-color: #fff; font-weight: bold; padding-top: 10px; padding-bottom: 10px; margin-top: 15px;    border: 2px solid;
    border-radius: 10px;">
                  <table style=" border: none; width:100%">
                    <tr>
                      <td>Total Payable Amount</td>
                      <td>{{booking.totalAmount | currency : currency : "symbol" : "1.2-2"}}</td>
                    </tr>
                    <tr>
                      <td>Advance Amount ({{getDetailsData}}%)</td>
                      <td>{{booking.advanceAmount | currency : currency : "symbol" : "1.2-2"}}</td>
                    </tr>

                    <tr *ngIf="getDetailsData !== 100">
                      <td>Due Amount </td>
                      <td>{{this.dueAmount| currency : currency : "symbol" : "1.2-2"}}</td>
                    </tr>

                    <tr *ngIf="getDetailsData == 100">
                      <td>Due Amount </td>
                      <td>{{0 | currency : currency : "symbol" : "1.2-2"}}</td>
                    </tr>

                    <!-- <tr>
                      <td>Due Amount </td>
                      <td>{{booking.advanceAmount | currency : currency : "symbol" : "1.2-2"}}</td>
                    </tr> -->

                  </table>
                </div>
              </div>
              <div class="col-6">
                <div class="card" style="background-color: black; ">
                  <div style="margin: 15px;">
                  <h3 style="color:#fff; font-weight: bold;">{{businessUser.name}}</h3>
                  <h5 style="color:#fff; font-weight: bold;">{{businessUser.address?.streetName}}, {{businessUser.address?.city}}, {{businessUser.address?.state}}, {{businessUser.address?.country}}</h5>
                  <div class="d-flex">
                  <div class="col-12 checkAva3 d-flex" style="background-color: #fff; padding-top: 10px; padding-bottom: 10px;">
                    <div class="col-6" style="border-right: 1px solid black; ">
                      <label for="checkin" class="label_heading1 checkAva4" style="color:#615D5D; font-weight: bold;" >
                        Check-In-Date
                      </label> <br/>
                      <p style="color:#000C7A; font-weight: bold;">{{ booking.fromDate | date: 'dd MMM' }}</p>


                    </div>
                    <div  class="col-6">
                      <label for="checkin" class="label_heading1 checkAva4" style="color:#615D5D; font-weight: bold;" >
                        Check-Out-Date
                      </label> <br/>
                      <p style="color:#000C7A; font-weight: bold;">{{ booking.toDate | date: 'dd MMM' }}</p>


                    </div>

                  </div>

                </div>
                <div style="margin-top: 10px; margin-bottom: 15px; color:#fff">
                  <table style=" border: none; width:100%">
                    <tr>
                      <td>Reservation ID :</td>
                      <td>{{booking.propertyReservationNumber}}</td>
                    </tr>
                    <tr>
                      <td>Guest Name :</td>
                      <td>{{booking.firstName}}  {{booking.lastName}}</td>
                    </tr>
                    <tr>
                      <td>Email Address :</td>
                      <td>{{booking.email}}</td>
                    </tr>
                    <tr>
                      <td>Phone Number :</td>
                      <td>{{booking.mobile}}</td>
                    </tr>
                  </table>
                </div>









                </div>
                </div>
              </div>
            </div>




            <div style="margin-top: 30px;margin-bottom: 10px;">
              <div style="display: flex; justify-content: center; margin-bottom: 20px;">
                <div class="card" style="background-color: #FEE13D; padding: 10px; font-weight: bold; width:80%" >
                  Would you like to pre-book your meals and tour packages?
                </div>

              </div>

              <div class="row" style="gap:10px; justify-content: center; margin-top: 10px;">
                <div class="card col-3" *ngFor="let fac of businessUser?.propertyServicesList">
                  <ng-container *ngIf="fac.name !== null && fac.name !== undefined && fac.serviceType !== 'Distance' && fac.serviceType !== 'RestaurantHotel' && fac.serviceType !== 'DistanceRailway'">
                    <div style="margin: auto; padding: 10px; ">
                  <img *ngIf="!fac.imageUrl"
                  src="https://static.thenounproject.com/png/3421816-200.png"
                  alt="icon" style=" width: 34px;height: 30px; justify-content: center;">
                  <img *ngIf="fac.imageUrl" [src]="fac.imageUrl" alt="icon" style="width: 34px;height: 30px;">
                </div>
                </ng-container>
                </div>
              </div>
            </div>


          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10904222935" ng-if="bookingConfirmed"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-10904222935');
</script>
