<section id="pricing-wrap" class="pricing-one-wrap p-t-b-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-header mb-5">
          <h2 class="font-weight-bold">Our Solution</h2>
          <p class="">Enjoy the diversity of bookone. Install in a second and manage your property and guests at a fingertip!</p>
      </div>
            <div class="col-md-6 col-lg-3 text-center">
          <div class="card p-4 mb-4 solution-container shadow-none">
              <i class="eva eva-browser-outline text-50"></i>
              <h2 class="font-weight-bold card-title mb-2 mt-2">BookOne Hotel Website (BHW)</h2>
              <p class="card-text">Hotel Info,
            Contact,
            Photo Gallery,
            Hotel Policies,
            Rooms,
            Hotel Layout Map,
            Amenities,
            Services,
            Booking Button,
            Nearby Attraction</p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
          <div class="card p-4 mb-4 solution-container shadow-none">
              <i class="eva eva-calendar-outline text-50"></i>
              <h2 class="font-weight-bold card-title mb-2 mt-2">BookOne Booking Engine (BBE)</h2>
              <p class="card-text">Instant Availability Check Through hHotel Website, 
                Make a Reservation, 
                Online Payment, 
                Reservation Confirmation At Hotel Website, 
                No Third-party Redirection,
                Booking Button</p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
          <div class="card p-4 mb-4 solution-container shadow-none">
              <i class="eva eva-clock-outline text-50"></i>
              <h2 class="font-weight-bold card-title mb-2 mt-2">BookOne Booking Management (BBM)</h2>
              <p class="card-text">Add Remove Guest,
                Date Change,
                Room Change,
                Send Payment Link,
                Cancellation,
                Copy Previous Booking,
                Check-In Process,
                Check-out Process,
                Booking History / Guest History</p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
          <div class="card p-4 mb-4 solution-container shadow-none">
              <i class="eva eva-cast-outline text-50"></i>
              <h2 class="font-weight-bold card-title mb-2 mt-2">BookOne Channel Management (BCM)</h2>
              <p class="card-text">Connectivity to Major Onilne Travel Agencies,
                Property Setup,
                Room Setup,
                Real Time Availability Synchronisation,
                Central Reservation System</p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
          <div class="card p-4 mb-4 solution-container shadow-none">
              <i class="eva eva-star-outline text-50"></i>
              <h2 class="font-weight-bold card-title mb-2 mt-2">BookOne Revenue Management (BRM)</h2>
              <p class="card-text">Income and Expense,
                GST Invoice,
                Monthly Reporting,
                Yearly Reporting,
                Dashboard View,</p>
          </div>
      </div>

      <div class="col-md-6 col-lg-3 text-center">
          <div class="card p-4 mb-4 solution-container shadow-none">
              <i class="eva eva-trending-up-outline text-50"></i>
              <h2 class="font-weight-bold card-title mb-2 mt-2">BookOne Analytics (BA)</h2>
              <p class="card-text">Guest Analytics,
                Average Room Rent,
                Monthly Sales Comparision,
                Monthly Sales Compared to Previous Year Month,
                Comparison Direct Booking Vs Channel Bookings,
                Commission Paid Month-wise,
                Top Performing Channels,
                Total Sales</p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
          <div class="card p-4 mb-4 solution-container shadow-none">
              <i class="eva eva-options-2-outline text-50"></i>
              <h2 class="font-weight-bold card-title mb-2 mt-2">BookOne Room Management (BRM)</h2>
              <p class="card-text">Room Allocation,
                Room Release,
                Room Dashboard Weekly View,
                Room Dashboard Daily View,
                Room Status</p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
          <div class="card p-4 mb-4 solution-container shadow-none">
              <i class="eva eva-smartphone-outline text-50"></i>
              <h2 class="font-weight-bold card-title mb-2 mt-2">BookOne Mobile App (BMA)</h2>
              <p class="card-text">iOS and Android Mobile App Managing the PMS</p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
          <div class="card p-4 mb-4 solution-container shadow-none">
              <i class="eva eva-people-outline text-50"></i>
              <h2 class="font-weight-bold card-title mb-2 mt-2">BookOne Customer Relationship Management (BCRM)</h2>
              <p class="card-text">Guest Relationship Management, Guest Preferences, Guest Behaviour, Experience, Offers & Loyalty</p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
          <div class="card p-4 mb-4 solution-container shadow-none">
              <i class="eva eva-person-add-outline text-50"></i>
              <h2 class="font-weight-bold card-title mb-2 mt-2">BookOne Multi User Setup (BMUS)</h2>
              <p class="card-text">Extra User and user management</p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
          <div class="card p-4 mb-4 solution-container shadow-none">
              <i class="eva eva-credit-card-outline text-50"></i>
              <h2 class="font-weight-bold card-title mb-2 mt-2">BookOne Online Payment Integration (BOPI)</h2>
              <p class="card-text">Integration with Major Payment Gateways such as Stripe, Paypal, Paymark.</p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
          <div class="card p-4 mb-4 solution-container shadow-none">
              <i class="eva eva-smartphone-outline text-50"></i>
              <h2 class="font-weight-bold card-title mb-2 mt-2">Hotel Mobile App (HMA)</h2>
              <p class="card-text">iOS and Android Mobile App for Hotel or Group
                </p>
          </div>
      </div>


    </div>
  </div>
</section>