<div class="main-wrapper">

  <div >
    <div class="container-fluid mb-3 pt-5"
      style="background-color: #341c59; border-bottom-left-radius: 70%; border-bottom-right-radius: 70%;padding-bottom: 2rem;">
      <h2 class="enquiryh2" style="text-align: center; font-weight: 600 !important;color: #FFF; ">Enquiry History</h2>
      <br>
    </div>
<!--
    <div class="row justify-content-center" style="margin-bottom: 20px;">
      <div class="tabs">
        <div col="6">

          <button [ngClass]="{'active-tab': selectedTab === 'booking'}" (click)="selectTab('booking');resetBookings()"
            style="border-radius: 20px 0px 0px 0px;">
            Booking
          </button>
        </div>
        <div col="6">

          <button [ngClass]="{'active-tab': selectedTab === 'enquiry'}" (click)="selectTab('enquiry');resetBookings()"
            style="margin-left: 10px;border-radius: 0px 20px 0px 0px;">
            Enquiry
          </button>
        </div>
      </div>




    </div> -->



    <div>

      <div class="content1">


        <ng-container>
          <div class="container" *ngIf="selectedTabdefaultenquiry">
            <div class="row">
              <div class="col-lg-12">
                <!-- <div class="form-group mb-4">
                  <input type="text" [(ngModel)]="enquiryphoneNumber" (input)="enquiryvalidatePhoneNumber()"
                    id="enquiryphoneInput"
                    style="border-radius: 30px; border: 0.5px solid #271a55; margin-top: -80px; background: #FFF;"
                    class="form-control" placeholder="Search your enquiry by phone number" required />
                  <span class="sorting-arrow" *ngIf="enquirybuttonremove">
                    <button id="enquirysendOTPButton" class="btn btn-primary" [disabled]="!enquiryisPhoneNumberValid"
                      (click)="enquirysendOTP()"
                      style="border-radius: 30px;
                      border: 1px solid #D5E8B8;
                      background: #271a55; color: #FFF;font-weight: 700; padding: 5px;padding-left: 13px; padding-right: 13px;">
                      Send OTP
                    </button>
                  </span>
                </div>
                <div id="otpInput" *ngIf="enquiryshowOTPInput">
                  <input style="border-radius: 30px; border: 0.5px solid #271a55;  background: #FFF;" type="text"
                    id="enquiryotpCode" class="form-control" [(ngModel)]="verificationCode"
                    placeholder="Enter your OTP" />
                  <span class="sorting-arrow2">
                    <button (click)="enquiryvalidateOTPNumber()"
                      style="border-radius: 30px;
                      border: 1px solid #D5E8B8;
                      background: #271a55; color: #FFF;font-weight: 700; padding: 5px;padding-left: 21px; padding-right: 20px;">
                      Verify
                    </button>

                  </span>
                </div> -->

                <div class="row justify-content-center" style="margin-bottom: 40px;">

                  <div>
                    <strong class="gridradio2">Search by:</strong>
                  </div>

                  <div class="gridradio">
                    <input type="radio" id="emailRadio1" name="contactType" [(ngModel)]="selectedOptionenquiry" (click)="resetBookings()" value="emailRadio1">
                    <label class="radio-container" for="emailRadio1">Email</label>
                  </div>

                  <div class="gridradio">
                    <input type="radio" id="mobileRadio1" name="contactType" [(ngModel)]="selectedOptionenquiry" (click)="resetBookings()" value="mobileRadio1">
                    <label class="radio-container" for="mobileRadio1">Mobile</label>
                  </div>

                  <div class="gridradio">
                    <input type="radio" id="bookingIdRadio1" name="contactType" [(ngModel)]="selectedOptionenquiry" (click)="resetBookings()"
                      value="bookingIdRadio1">
                    <label class="radio-container" for="bookingIdRadio1">Enquiry ID</label>
                  </div>


                </div>

                <!-- <div class="radiosection">
                <div class="row justify-content-center">

                  <div class="col-12" style="text-align: center;">
                    <strong class="gridradio-a">Search by:</strong> <br>
                  </div>

                  <div class="gridradio">
                    <input type="radio" id="emailRadio2" name="contactType" [(ngModel)]="selectedOptionenquiry" value="emailRadio2">
                    <label class="radio-container" for="emailRadio2">Email</label>
                  </div>

                  <div class="gridradio">
                    <input type="radio" id="mobileRadio2" name="contactType" [(ngModel)]="selectedOptionenquiry" value="mobileRadio2">
                    <label class="radio-container" for="mobileRadio2">Mobile</label>
                  </div>

                  <div class="gridradio">
                    <input type="radio" id="bookingIdRadio3" name="contactType" [(ngModel)]="selectedOptionenquiry"
                      value="bookingIdRadio3">
                    <label class="radio-container" for="bookingIdRadio3">Booking ID</label>
                  </div>


                </div>
              </div> -->

              </div>
            </div>
            <!-- <p style="text-align: center; color: #fff; font-size: 20px; margin-top: 33px;">
              Quickly find <b style="font-weight: 700;">enquiries</b> by entering your
              phone number on Bookone Booking Engine
            </p> -->



          </div>

          <div>

            <div class="container" *ngIf="selectedOptionenquiry === 'emailRadio1' || selectedOptionenquiry === 'emailRadio2'">
              <div class="row justify-content-center">
                <div class="col-md-12">
                  <div class="form-group mb-4">
                    <input type="text"

                    [(ngModel)]="email"
                      style="border-radius: 30px; border: 0.5px solid #271a55; margin-top: -20px; background: #FFF;"
                      class="form-control" placeholder="Search your booking by Email" required />
                    <span class="sorting-arrow">
                      <img src="assets/images/Searchnotification.png" (click)="getbookingsbyenquiryemail()" style="width: 23px; height: 23px;" alt="" />
                    </span>
                  </div>

                </div>

                <div>
                  <p style="text-align: center; color: #fff; font-size: 20px; margin-top: 33px;">
                    Quickly find <b style="font-weight: 700;">enquiry</b> by entering your
                    Email ID on Bookone Booking Engine
                  </p>
                </div>
              </div>
            </div>

            <div class="container" *ngIf="selectedOptionenquiry === 'mobileRadio1' || selectedOptionenquiry === 'mobileRadio2'">
              <div class="row justify-content-center">
                <div class="col-md-12">
                  <div class="form-group mb-4">
                    <input type="text"
                    (ng2TelOutput)="getNumber($event)"
                    (input)="validatePhoneNumber()"
                    [(ngModel)]="phoneNumber"
                      style="border-radius: 30px; border: 0.5px solid #271a55; margin-top: -20px; background: #FFF;"
                      class="form-control" placeholder="Search your booking by Mobile number" required />
                    <span class="sorting-arrow">
                      <img src="assets/images/Searchnotification.png"
                      style="width: 23px; height: 23px;"
                      (click)="getbookingsbymobileNumber2()"
                      alt="" />
                    </span>
                  </div>

                </div>

                <div>
                  <p style="text-align: center; color: #fff; font-size: 20px; margin-top: 33px;">
                    Quickly find <b style="font-weight: 700;">enquiry</b> by entering your
                    phone number on Bookone Booking Engine
                  </p>
                </div>
              </div>
            </div>

            <div class="container" *ngIf="selectedOptionenquiry === 'bookingIdRadio3' || selectedOptionenquiry === 'bookingIdRadio1'">
              <div class="row justify-content-center" >
                <div class="col-md-12">
                  <div class="form-group mb-4">
                    <input type="text" [(ngModel)]="bookingId"
                      style="border-radius: 30px; border: 0.5px solid #271a55; margin-top: -20px; background: #FFF;"
                      class="form-control" placeholder="Search your booking by Enquiry Id" required />
                    <span class="sorting-arrow">
                      <img src="assets/images/Searchnotification.png"
                      style="width: 23px; height: 23px;"
                      (click)="getbookingsbybookingIdenquiry()"  alt="" />
                    </span>
                  </div>

                </div>

                <div>
                  <p style="text-align: center; color: #fff; font-size: 20px; margin-top: 33px;">
                    Quickly find <b style="font-weight: 700;">enquiry</b> by entering your
                    Enquiry Id on Bookone Booking Engine
                  </p>
                </div>
              </div>
            </div>
          </div>



          <div class="container">
            <div id="verificationSuccessText" *ngIf="verificationSuccessenquiry">
              <div class="row">
                <div class="col-md-12">
                  <!-- <div class="form-group mb-4">
                    <input type="text"
                      style="border-radius: 30px; border: 0.5px solid #271a55; margin-top: -80px; background: #FFF;"
                      class="form-control" placeholder="Search your booking by phone number" required />
                    <span class="sorting-arrow">
                      <img src="assets/images/Searchnotification.png" alt="" />
                    </span>
                  </div> -->

                </div>
              </div>
              <div class="row" style="margin-top: 70px; display: flex; flex-wrap: wrap;">
                <div class="col-12 col-md-6 col-lg-4" style="margin-top: 20px;" *ngFor="let item of bookings">

                  <div style="border-radius: 30px 30px 30px 0px;
                    border: 0.5px solid #fff;
                    background: #271a55;display: inline-flex;

                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;     padding: 4px 47px 2px 38px; margin-top: -20px;">

                    <div style="text-align: center; font-size: 13px; margin-bottom: 4px;">
                      <div style="color: #fff;
                        font-weight: 700; "> {{item?.firstName}}{{item?.lastName}} </div>
                     <div style="color: #FFF;"> {{item.businessName}} </div>

                    </div>

                  </div>
                  <div style="border-radius: 50px;
                    border: 1px solid  #000;
                    margin-top: -46px;
                    padding-top: 57px;">

                    <div class="row">

                      <div class="col-5">
                        <p style="font-size: 13px; margin-left: 18px;
                          margin-bottom: 24px;">
                          <b style="
                            font-weight: 700;color: #000;">Checkin Date:</b> <br>
                          {{item.fromDate }} <br>
                          <b style="
                            font-weight: 700;color: #000;">Created Date:</b> <br>
                          {{item?.createdDate}} <br>
                          <!-- <b style="
                            font-weight: 700;">Location:</b> <br>
                          {{item?.customerAddress}}<br> -->
                          <b style="
                            font-weight: 700;color: #000;">Phone Number:</b> <br>
                          {{item.mobile}}<br>
                        </p>
                      </div>
                      <div class="col-7">
                        <p style="font-size: 13px;
                        margin-bottom: 24px;margin-left: -17px;">
                          <b style="
                          font-weight: 700;color: #000;">Checkout Date:</b> <br>
                          {{item.toDate}}<br>
                          <b style="
                          font-weight: 700;color: #000;">Status:</b> <br>
                          {{item?.bookingStatus}} <br>
                          <b style="
                          font-weight: 700;color: #000;">Email:</b> <br>
                          {{item?.email}}<br>
                          <button style="background-color: #271a55;color:white;float: right;margin-bottom: 10px;margin-right: 33px;margin-top: 5px;    padding: 7px;
                          border-radius: 22px;" (click)="PayViaUpi(item)">Pay Now</button>
                        </p>
                      </div>

                    </div>


                  </div>

                </div>


              </div>
            </div>

            <div class="row justify-content-center" *ngIf="verificationenquirySuccess2 && bookings != null && bookings.bookingStatus ==='ENQUIRY'" style="margin-top: 70px; display: flex; flex-wrap: wrap;">
              <div class="col-12 col-md-6 col-lg-4" style="margin-top: 20px;">

                <div style="border-radius: 30px 30px 30px 0px;
                border: 0.5px solid #fff;
                background: #271a55;display: inline-flex;

                flex-direction: column;
                justify-content: center;
                align-items: flex-start;     padding: 4px 47px 2px 38px; margin-top: -20px;">

                  <div style="text-align: center; font-size: 13px; margin-bottom: 4px;">
                    <div style="color: #fff;
                    font-weight: 700; "> {{bookings?.firstName }} {{bookings?.lastName}} </div>
                    <div style="color: #FFF;">
                    {{bookings?.businessName}} </div>

                  </div>

                </div>
                <div style="border-radius: 50px;
                border: 1px solid  #000;
                margin-top: -46px;
                padding-top: 57px;">

                  <div class="row">

                    <div class="col-5">
                      <p style="font-size: 13px; margin-left: 18px;
                        margin-bottom: 24px;">
                        <b style="
                          font-weight: 700;color:#000">Checkin Date:</b> <br>
                        {{bookings?.fromDate }} <br>
                        <b style="
                          font-weight: 700;color:#000">Created Date:</b> <br>
                        {{bookings?.createdDate}} <br>
                        <!-- <b style="
                          font-weight: 700;">Location:</b> <br>
                        {{bookings.customerAddress}}<br> -->
                        <b style="
                          font-weight: 700;color:#000">Phone Number:</b> <br>
                        {{bookings?.mobile}}<br>
                      </p>
                    </div>
                    <div class="col-7">
                      <p style="font-size: 13px;
                      margin-bottom: 24px; margin-left: -17px;">
                        <b style="
                        font-weight: 700;color:#000">Checkout Date:</b> <br>
                        {{bookings?.toDate}}<br>
                        <b style="
                        font-weight: 700;color:#000">Status:</b> <br>
                        {{bookings?.bookingStatus}} <br>
                        <b style="
                        font-weight: 700;color:#000">Email:</b> <br>
                        {{bookings?.email}}<br>
                        <button style="background-color: #271a55;color:white;    padding: 7px;
                        border-radius: 22px;">Pay Now</button>

                      </p>
                    </div>

                  </div>


                </div>

              </div>


            </div>

          </div>

          <div *ngIf="nodatafound === true ">
            <div class="custom-card-section">
              <div class="custom-card">
                <div class="custom-card-content">
                  <h2 style="text-align: center;">
                    OOOPS! <br>
                    There is no data found</h2>
                  <div class="row justify-content-center">
                  <img src="assets/images/Saderror.png" alt="sad" class="image-custum" />
                </div>
                  <!-- <p>{{ card.description }}</p> -->
              </div>
                <!-- <p class="text-center"> There is no data found  </p> -->
              </div>
            </div>
          </div>

        </ng-container>
      </div>

    </div>


  </div>
</div>
