/* .dropdown-menu {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-item {
  padding-right: 25px;
}

.dropdown-submenu > .dropdown-item:after {
  content: "\f105";
  font-family: FontAwesome; 
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
} */
