<!-- Vertical navbar -->
<div class="vertical-nav "  id="sidebar" *ngIf="isdone">
  <button class="close-btn" (click)="closeNavbar()">
    <i class="fa fa-times"></i> </button>
  <ul class="  mb-0-men-hed" style="margin-top: 30px;padding: 0px;">
    <li class="nav-item-li">
      <a href="#" class="nav-link  " style="color: #fff !important; ">
                <i></i>
                Home
            </a>
    </li><hr>
    <li class="nav-item-li">
      <a href="#" class="nav-link  " style="color: #fff !important; ">
                <i></i>
                Rates and Availability
            </a>
    </li><hr>
    <li class="nav-item-li">
      <a href="#" class="nav-link  " style="color: #fff !important; ">
                <i></i>
                About Us
            </a>
    </li><hr>
    <li class="nav-item-li">
      <a href="#" class="nav-link  " style="color: #fff !important; ">
                <i></i>
                Terms & Conditions
            </a>
    </li><hr>
    <li class="nav-item-li">
      <a href="#" class="nav-link  " style="color: #fff !important; ">
                <i></i>
                Privacy Policy
            </a>
    </li><hr>
    <li class="nav-item-li">
      <a href="#" class="nav-link  " style="color: #fff !important; ">
                <i></i>
                Payment Terms
            </a>
    </li><hr>
    <li class="nav-item-li">
      <a href="#" class="nav-link  " style="color: #fff !important; ">
                <i></i>
                Manage Bookings
            </a>
    </li><hr>

  </ul>
</div>
<!-- End vertical navbar -->


<!-- Page content holder -->
