<section class="faqs-wrap p-t-b-80 " id="faqs-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">FAQs</h2>
                <p></p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 mb-4 mb-lg-0 mb-md-0  mb-4">
                <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
                    <ngb-panel title="1. What is PMS in hotel Industry?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Property Management System or PMS is a system which is used for managing all operations of a Hotel property. From booking to reservation, handling guest request to receiving feedback and managing all other operational works is part of a PMS.

                            </div>
                        </ng-template>
                    </ngb-panel>
                    <!-- <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span>&#9733; <b>Free</b> Support duration  &#9733;</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </ng-template>
                    </ngb-panel> -->
                    <ngb-panel title="2. What is cloud based PMS ?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Cloud based PMS is a hotel management software which is hosted on cloud server without investing into any hardware. With this system the PMS can be accessed from anywhere within the property or outside the property through web browser or mobile app. An In property software on the other hand requires a server to be placed inside the property and the PMS is accessible through intranet.

                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="3. Does a Hotel need all the features of a PMS?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                You can select all the modules or select few modules based on the size of your property and requirement. Most of the modules are independent and it can also be integrated with third party software.


                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="4. Does Bookone PMS have payment gateway">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Yes, payment gateway integration is available with bookone PMS and it is secured with Stripe.

                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="5. Can we migrate from other PMS to BookOne?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Yes, Our support team will help you easily migrate from your existing PMS to BookOne without affecting your hotel operations. We take the utmost care of data security and ensure a smooth transition.
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="6. How much time does it take to implement BookOne PMS in a hotel? ">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                With bookman PMS you can onboard your property within a few hours. With an online support system and user-friendly framework, it is very easy to understand and learn the system on the go.
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="7. Does Bookone PMS provide all features of a PMS?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                BookOne PMS is a one-stop solution for all your hotel software needs. However, the software industry is constantly evolving and we stay updated to the latest trend in the hospitality industry to offer you new features.
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="8. What is the use of CRM in the Hotel Industry?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                CRM module helps you in engaging with your guests more often. The standards of a hotel Industry have gone up and it is now about exceeding the guest expectation. This is done by keeping all personalized data of a guest and ensuring in doing activities that make each guest's stay experience wonderful and make him a loyal customer.
 </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="9. Is the hotel data Safe and Secure with BookOne?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                With our cloud-based solution data is stored in SSL encryption. Channel Manager and Booking Engine data are stored on a third-party server. BookOne PMS secures and backs up any kind of business data for its customers for the entire module.</div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="10. How is the implementation, training and support system with BookOne PMS?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Our team helps you with implementation and training. Our call support is free for the first 3 months and chargeable afterward. Our online support ticket system is free for life.</div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="11. What is the pricing for BookOne?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Our Pricing is dynamic based on the size of the Property, terms of subscription and number of modules. Discounts are applicable as per the total cost and tenure.</div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="12. Is there any downtime in the PMS?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                No, there is no downtime.  </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
            <!-- end of col -->
            <div class="col-md-5 offset-md-1 col-sm-12 d-flex align-items-center">

                <img src="./assets/images/landing/svg/faqs2.svg" class="img-responsive w-100" alt="">
            </div>
        </div>
    </div>
</section>
