<section class="faqs-wrap p-t-b-80 " id="faqs-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">FAQs</h2>
                <p></p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 mb-4 mb-lg-0 mb-md-0  mb-4">
                <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
                    <ngb-panel title="1. What is PMS in hotel Industry?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Property Management System or PMS is a system which is used for managing all operations of a Hotel property. From booking to reservation, handling guest request to receiving feedback and managing all other operational works is part of a PMS.

                            </div>
                        </ng-template>
                    </ngb-panel>
                    <!-- <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span>&#9733; <b>Free</b> Support duration  &#9733;</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </ng-template>
                    </ngb-panel> -->
                    <ngb-panel title="2. What is cloud based PMS ?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Cloud based PMS is a hotel management software which is hosted on cloud server without investing into any hardware. With this system the PMS can be accessed from anywhere within the property or outside the property through web browser or mobile app. An In property software on the other hand requires a server to be placed inside the property and the PMS is accessible through intranet.

                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="3. Does a Hotel need all the features of a PMS?                    ">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                You can select all the modules or select few modules based on the size of your property and requirement. Most of the modules are independent and it can also be integrated with third party software.


                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="4. Does Bookone PMS have payment gateway">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Cloud based PMS is a hotel management software which is hosted on cloud server without investing into any hardware. With this system the PMS can be accessed from anywhere within the property or outside the property through web browser or mobile app. An In property software on the other hand requires a server to be placed inside the property and the PMS is accessible through intranet.

                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="2. What is cloud based PMS ?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Cloud based PMS is a hotel management software which is hosted on cloud server without investing into any hardware. With this system the PMS can be accessed from anywhere within the property or outside the property through web browser or mobile app. An In property software on the other hand requires a server to be placed inside the property and the PMS is accessible through intranet.

                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="2. What is cloud based PMS ?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Cloud based PMS is a hotel management software which is hosted on cloud server without investing into any hardware. With this system the PMS can be accessed from anywhere within the property or outside the property through web browser or mobile app. An In property software on the other hand requires a server to be placed inside the property and the PMS is accessible through intranet.

                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
            <!-- end of col -->
            <div class="col-md-5 offset-md-1 col-sm-12 d-flex align-items-center">

                <img src="./assets/images/landing/svg/faqs2.svg" class="img-responsive w-100" alt="">
            </div>
        </div>
    </div>
</section>
