<section id="pricing-wrap" class="pricing-one-wrap p-t-b-80">
  <div class="container">
    <div class="row mb-5">
        <div class="col-sm-12 col-md-12 col-lg-12  text-center">
            <div class="card-title" >
                <select class="btn btn-raised ripple btn-secondary btn-xl dropdown-toggle m-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <option class="dropdown-menu" href="#">Select Country</option>
                    <option class="dropdown-item" href="#">India</option>
                    <option class="dropdown-item" href="#">New Zealand</option>
                    <option class="dropdown-item" href="#">Bangladesh</option>
                 </select>
                
                
                 <select class="btn btn-raised ripple btn-secondary btn-xl dropdown-toggle m-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <option class="dropdown-menu" href="#">Select Property Size</option>
                  <option class="dropdown-item" href="#">1 to 3 rooms Vila </option>
                        <option class="dropdown-item" href="#">4 to 9 rooms guest house</option>
                        <option class="dropdown-item" href="#">10 to 20 rooms property</option>
                        <option class="dropdown-item" href="#">21 to 30 rooms property</option>
                        <option class="dropdown-item" href="#">31 to 50 rooms property</option>
                        <option class="dropdown-item" href="#">51 to 100 rooms property</option>
                        <option class="dropdown-item" href="#">100+ rooms property</option>
                </select><span> or </span>
                <input type="text" name="noOfRoom" class="m-1 btn btn-secondary btn-xl" placeholder="No of Rooms">
                <button (click)="viewPrice()" type="button" class="btn btn-raised ripple btn-secondary m-1 btn-xl">View Price</button>
               
            </div>
        </div>
       
    </div>
    <div class="row mb-5">
        <div class="col-sm-12 col-md-12 col-lg-12  text-center">
            <div class="card">
                <div class="card-body">
                    <p class="text-16 font-weight-700 mt-3">Basic</p>

                    <h2 class="display-3 font-weight-bold mt-4 mb-4">Free</h2>

                    <p class="text-shadow mb-2">3 Projects</p>
                    <p class="text-shadow mb-2">1 Initial Concept Included</p>
                    <p class="text-shadow mb-2">Logo Transparency</p>

                    <button class="btn btn-secondary btn-raised mt-5 mb-4">CHOOSE THE PLAN</button>

                </div>
            </div>
        </div>
       
    </div>
      <div class="row">
          <!-- <div class="col-md-12 section-header mb-5">
              <h2 class="font-weight-bold">Choose a Plan</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus,
                  laboriosam sint dolorum aspernatur libero.</p>
          </div> -->
          <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0  mb-4  pricing-single-wrap">
              <div class="card  o-hidden">
                  <div class="card-header  text-center p-3 mb-2">
                      <h3 class="card-title font-weight-bold mb-2 text-uppercase">Monthly Subscription</h3>
                      <p class="text-uppercase mb-0">Base Price</p>
                  </div>
                  <div class="card-body pt-0 text-center">

                      <p class="card-text  mb-2">
                          <span class="money text-shadow  text-45 font-weight-bold"><sup
                                  class="text-30 font-weight-normal">$</sup>{{this.monthlyPrice}}</span>.00
                          <span>/Month</span>
                      </p>
                      <div class="offer-lists mb-4">

                          <ul class="list-group  list-group-flush">

                              <li class="list-group-item p-1 ">or $1599 one time</li>
                              <li class="list-group-item p-1 "></li>
                              <li class="list-group-item p-1 text-muted"></li>

                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                          </ul>

                      </div>

                      <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Request Demo</a>
                  </div>
              </div>
          </div>
          <!-- end of card -->
          <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0  mb-4  pricing-single-wrap">
              <div class="card  o-hidden">
                  <div class="card-header text-center p-3 mb-2">
                      <h3 class="card-title font-weight-bold mb-2 text-uppercase">Half Yearly Subscription</h3>
                      <p class="text-uppercase mb-0">5% Discount</p>
                  </div>
                  <div class="card-body pt-0 text-center">

                      <p class="card-text  mb-2">
                        <span class="p-1 text-muted">${{this.halfyearlyPrice}}.00</span>
                          <span class="money text-shadow  text-45 font-weight-bold"><sup
                                  class="text-30 font-weight-normal">$</sup>{{this.halfyearlyPrice-5%halfyearlyPrice
                                }}</span>.00
                          <span>/Month</span>
                      </p>
                      <div class="offer-lists mb-4">

                          <ul class="list-group  list-group-flush">
                              <li class="list-group-item p-1 ">PER MONTH FOR 10 ROOMS</li>
                              <li class="list-group-item p-1 "></li>
                              <li class="list-group-item p-1 text-muted"></li>

                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                          </ul>

                      </div>

                      <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Request Demo</a>
                  </div>
              </div>
          </div>
          <!-- end of card -->
          <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-md-0 mb-sm-0 mb-4  pricing-single-wrap">
              <div class="card  o-hidden">
                  <div class="card-header text-center p-3 mb-2  bg-gradient text-white">
                      <h3 class="card-title text-white font-weight-bold mb-2 text-uppercase">Yearly Subscription</h3>
                      <p class="text-uppercase mb-0">10% Discount</p>
                  </div>
                  <div class="card-body pt-0 text-center">

                      <p class="card-text  mb-2">
                        <span class="p-1 text-muted">${{this.yearlyPrice}}.00</span>
                          <span class="money text-shadow  text-45 font-weight-bold"><sup
                                  class="text-30 font-weight-normal">$</sup>{{this.yearlyPrice-10%yearlyPrice}}</span>.00
                          <span>/Month</span>
                      </p>
                      <div class="offer-lists mb-4">

                          <ul class="list-group  list-group-flush">
                              <li class="list-group-item p-1 ">10 Users access</li>
                              <li class="list-group-item p-1 "></li>
                              <li class="list-group-item p-1 text-muted"></li>

                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                          </ul>

                      </div>

                      <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Request Demo</a>
                  </div>
              </div>
          </div>
          <!-- end of card -->
          <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-md-0 mb-sm-0   pricing-single-wrap">
              <div class="card  o-hidden">
                  <div class="card-header text-center p-3 mb-2">
                      <h3 class="card-title font-weight-bold mb-2 text-uppercase">2 Years Subscription</h3>
                      <p class="text-uppercase mb-0">15% Discount
                      </p>
                  </div>
                  <div class="card-body pt-0 text-center">

                      <p class="card-text  mb-2">
                        <span class="p-1 text-muted">${{this.twoYearlyPrice}}.00</span>
                          <span class="money text-shadow  text-45 font-weight-bold"><sup class="text-30 font-weight-normal">$</sup>{{this.twoYearlyPrice-15%twoYearlyPrice}}</span>.00
                          <span>/Month</span>
                      </p>
                      <div class="offer-lists mb-4">

                          <ul class="list-group  list-group-flush">
                              <li class="list-group-item p-1 ">Customized Solution</li>
                              <li class="list-group-item p-1 "></li>
                              <li class="list-group-item p-1 text-muted"></li>

                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                          </ul>

                      </div>

                      <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Request Demos</a>
                  </div>
              </div>
          </div>
          <!-- end of card -->


      </div>
  </div>
</section>
