<section id="pricing-wrap" class="pricing-one-wrap p-t-b-80">
  <div class="container">
      <div class="row">
          <!-- <div class="col-md-12 section-header mb-5">
              <h2 class="font-weight-bold">Choose a Plan</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus,
                  laboriosam sint dolorum aspernatur libero.</p>
          </div> -->
          <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0  mb-4  pricing-single-wrap">
              <div class="card  o-hidden">
                  <div class="card-header  text-center p-3 mb-2">
                      <h3 class="card-title font-weight-bold mb-2 text-uppercase">Website</h3>
                      <p class="text-uppercase mb-0">A complete transaction website to book rooms, view booking details, policies, Guest Review, Contact etc.</p>
                  </div>
                  <div class="card-body pt-0 text-center">

                      <p class="card-text  mb-2">
                          <span class="money text-shadow  text-45 font-weight-bold"><sup
                                  class="text-30 font-weight-normal">$</sup>49</span>.00
                          <span>/Month</span>
                      </p>
                      <div class="offer-lists mb-4">

                          <ul class="list-group  list-group-flush">

                              <li class="list-group-item p-1 ">or $1599 one time</li>
                              <li class="list-group-item p-1 "></li>
                              <li class="list-group-item p-1 text-muted"></li>

                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                          </ul>

                      </div>

                      <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Request Demo</a>
                  </div>
              </div>
          </div>
          <!-- end of card -->
          <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0  mb-4  pricing-single-wrap">
              <div class="card  o-hidden">
                  <div class="card-header text-center p-3 mb-2 bg-gradient text-white">
                      <h3 class="card-title text-white font-weight-bold mb-2 text-uppercase">Bookone</h3>
                      <p class="text-uppercase mb-0">User Account Setup, Hotel & Room Setup, Manage Booking, Payment, Expense, Rates & Availability.</p>
                  </div>
                  <div class="card-body pt-0 text-center">

                      <p class="card-text  mb-2">
                          <span class="money text-shadow  text-45 font-weight-bold"><sup
                                  class="text-30 font-weight-normal">$</sup>79</span>.00
                          <span>/Month</span>
                      </p>
                      <div class="offer-lists mb-4">

                          <ul class="list-group  list-group-flush">
                              <li class="list-group-item p-1 ">PER MONTH FOR 10 ROOMS</li>
                              <li class="list-group-item p-1 "></li>
                              <li class="list-group-item p-1 text-muted"></li>

                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                          </ul>

                      </div>

                      <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Request Demo</a>
                  </div>
              </div>
          </div>
          <!-- end of card -->
          <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-md-0 mb-sm-0 mb-4  pricing-single-wrap">
              <div class="card  o-hidden">
                  <div class="card-header text-center p-3 mb-2 ">
                      <h3 class="card-title font-weight-bold mb-2 text-uppercase">CHANNEL MANAGER</h3>
                      <p class="text-uppercase mb-0">Global Distribution of inventory across multiple OTAs integrated with BookOne.</p>
                  </div>
                  <div class="card-body pt-0 text-center">

                      <p class="card-text  mb-2">
                          <span class="money text-shadow  text-45 font-weight-bold"><sup
                                  class="text-30 font-weight-normal">$</sup>149</span>.00
                          <span>/Month</span>
                      </p>
                      <div class="offer-lists mb-4">

                          <ul class="list-group  list-group-flush">
                              <li class="list-group-item p-1 ">10 Users access</li>
                              <li class="list-group-item p-1 "></li>
                              <li class="list-group-item p-1 text-muted"></li>

                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                          </ul>

                      </div>

                      <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Request Demo</a>
                  </div>
              </div>
          </div>
          <!-- end of card -->
          <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-md-0 mb-sm-0   pricing-single-wrap">
              <div class="card  o-hidden">
                  <div class="card-header text-center p-3 mb-2">
                      <h3 class="card-title font-weight-bold mb-2 text-uppercase">Master Hotelier</h3>
                      <p class="text-uppercase mb-0">Preferred by ambitious business owners and Revenue Managers looking to maximise revenue through an Intelligent and Integrated product suite.

                      </p>
                  </div>
                  <div class="card-body pt-0 text-center">

                      <p class="card-text  mb-2">
                          <span class="money text-shadow  text-45 font-weight-bold"><sup
                                  class="text-30 font-weight-normal">$</sup>160</span>.00
                          <span>/Month</span>
                      </p>
                      <div class="offer-lists mb-4">

                          <ul class="list-group  list-group-flush">
                              <li class="list-group-item p-1 ">Customized Solution</li>
                              <li class="list-group-item p-1 "></li>
                              <li class="list-group-item p-1 text-muted"></li>

                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                              <li class="list-group-item p-1 text-muted"></li>
                          </ul>

                      </div>

                      <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Request Demos</a>
                  </div>
              </div>
          </div>
          <!-- end of card -->


      </div>
  </div>
</section>
