<div class="landing_wrap " [ngClass]="[backgroundColor]">
  <app-header></app-header>

<div class="pt-5 mt-4" style="margin-bottom: 30px;">
    <div class="container-fluid mb-3 pt-5"
        style="background-color: #221950; border-bottom-left-radius: 70%; border-bottom-right-radius: 70%;padding-bottom: 6rem; height: 194px;
        padding-top: 122px !important;
        margin-top: -85px; ">
        <h2 class="enquiryh2" style="text-align: center; font-weight: 600 !important;color: white; ">Fill In a Few Details About Your
            Property</h2><br>
    </div>
    <div class="container">
        <h3 class="form-header" style="text-align: center">Thank you for submitting the details </h3>

        <div class="row justify-content-center">
            <img src="assets/images/Frame 43 (1).png" alt="" class="thanksonboard"  />

        </div>

        <div style="background: #221950; padding: 20px; margin-left: 20px; margin-right: 20px; ">
            <p class="submittedpara">
                Thank you for taking the time to submit your details. We appreciate your interest in our services. Our
                dedicated team at Bookone PMS is already reviewing the information you've provided, and we will be in touch
                with you shortly. Your satisfaction is our priority, and we look forward to the opportunity to assist you
                in finding the perfect accommodation for your needs. If you have any urgent queries, feel free to reach
                out to our support team.
            </p>
            <div class="row justify-content-center">
                <img src="assets/images/WeddingRings.png" alt="" class="thanksonboard1">
            </div>
        </div>




                <!-- <svg class="col-12" >
                    <ellipse cx="520" cy="70" rx="390" ry="20" style="fill:lime" />
                    Sorry, your browser does not support inline SVG.

                </svg> -->

                <div class="row">
         <div class="col-12" style=" background: #D9D9D9;margin-top: -35px;z-index: -1;
         width: auto;
         height: 75px;
         border-radius: 50%;">

         </div>
        </div>


        <div class="row justify-content-center">
            <p class="submittedpara2">If you have any additional questions, please feel free to reach out to us at</p>
        </div>


        <!-- <div class="container-fluid d-flex justify-content-center formdiv pt-3">
            <form #contactForm=ngForm role="form"
                style="border-radius: 30px;
                border: 1px solid #261a55;">
                <div class=" mb-4">


                    <div class="row with-forms">


                        <div class="col-lg-4">
                            <div class="form-group mb-4" style="color: #484848;
                  font-family: Arial;
                  font-size: 15px;
                  font-weight: 600;">

                                Hotel Name
                                <input style="border-radius: 30px;
                        border: 0.5px solid #221950;
                        background: #EAEAEA;" type="text" name="Credencesoft" class="form-control"
                                    placeholder="Credencesoft" required>
                                <br>


                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-4" style="color: #484848;
                            font-family: Arial;
                            font-size: 15px;
                            font-weight: 600;">

                                Mobile Number
                                <input style="border-radius: 30px;
                      border: 0.5px solid #221950;
                      background: #EAEAEA;" type="text" name="1234567890" class="form-control" placeholder="1234567890"
                                    required>
                                <br>


                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group mb-4" style="color: #484848;
                font-family: Arial;
                font-size: 15px;
                font-weight: 600;">

                                Owner Name
                                <input style="border-radius: 30px;
                      border: 0.5px solid #221950;
                      background: #EAEAEA;" type="text" name="Samaya Kumar Muduli" class="form-control"
                                    placeholder="Samaya Kumar Muduli" required>
                                <br>


                            </div>
                        </div>

                        </div>
                        </div>
                        </form>
                        </div> -->


                        <div class="row justify-content-center" style="border-radius: 30px; padding: 3px;
                        border: 1px solid #261a55; margin-left: 10px;margin-right: 20px;">

                            <div class="col-lg-3" style="border-radius: 30px;
                            border: 1px solid #261a55;
                            background: #FFF; margin: 20px;">
                                <a href="https://wa.me/919082741937" target="_blank">
                                    <div class="row" style="padding: 5px;">
                                      <div><img src="assets/images/WhatsApp.png" class="contactimg" alt=""></div>
                                      <div class="contactpara" style="color: #261a55;">+919082741937</div>
                                    </div>
                                  </a>
                            </div>
                            <div class="col-lg-3" style="border-radius: 30px;
                            border: 1px solid #261a55;
                            background: #FFF;margin: 20px;">
                                 <div class="row" style="padding: 5px;">
                                    <div>
                                      <img src="assets/images/Ringer Volume.png" alt="" class="contactimg2">
                                    </div>
                                    <div class="contactpara2">
                                      <a href="tel:+918328818871" style="color: #261a55;">+918328818871</a><br>
                                      <a href="tel:+919004129369" style="color: #261a55;">+919004129369</a>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-4" style="border-radius: 30px;
                            border: 1px solid #261a55;
                            background: #FFF;margin: 20px;">
                                <div class="row" style="padding: 5px;">
                                    <div>
                                      <img src="assets/images/Envelope.png" alt="" class="contactimg">
                                    </div>
                                    <div class="contactpara">
                                      <a href="mailto:support@thehotelmate.com" style="color: #261a55;">support@thehotelmate.com</a>
                                    </div>
                                  </div>
                            </div>
                        </div>




    </div>

</div>
<app-footer></app-footer>

</div>
